<ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
        <li><a href="#"><span class="glyphicon glyphicon-user"></span>  {{ user.get_short_name }}</a></li>
        <li><a href={% url 'users_logout' %}>Sign out</a></li>
    {% else %}
        <li><a href={% url 'users_login' %}>Sign in</a></li>
        <li><a href={% url 'users_registration' %}>Register</a></li>
    {% endif %}
</ul>