.booking-client-approval {
  @extend %form-content;

  .total-cost {
    font-size: 175%;
  }
  .card {
    hr {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .booking-info {
    .title {
      font-size: 175%;
      margin-top: 0;
    }
    p {
      margin-bottom: 5px;
      font-size: 112%;
    }
    .table {
      border: solid 1px #e4e4e4;
    }
  }
}