.booking-request-detail {
  @extend %form-content;

  .card {
    .header {
      .title {
        text-transform: none;
      }
    }
    .content {
      text-align: center;
      padding-top: 8px;
      @include media(tablet) {
        padding-top: 0;
      }
      .booking-info {
        font-size: 120%;
        .col-xs-12 {
          &.display-name {
            padding-top: 0;
            padding-bottom: 0;
            .title {
              margin-top: 0;
              margin-bottom: 0;
            }
          }
        }
      }
    }

  }
}