.create-booking-address-content {
  @extend %form-content;
}
.create-booking-content {
  @extend %form-content;
  .total-cost {
    font-size: 175%;
  }
  .card {
    hr {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .booking-info {
    .title {
      font-size: 175%;
      margin-top: 0;
    }
    p {
      margin-bottom: 5px;
      font-size: 112%;
    }
    .table {
      border: solid 1px #e4e4e4;
    }
  }
}
.checkout {
  @extend %content;
  .card {
    @extend %card;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    //padding: 30px 60px;

    //@include media(tablet) {
    //  padding: 30px;
    //}

    .row {
      @include col() {
        padding-top: 15px;
        padding-bottom: 15px;
        label {
          color: $muted-text-color;
        }
      }
    }
  }

  @include media(tablet) {
    width: 100%;
    h1 {
      &.title {
        font-size: 200%;
      }
    }
  }

  .divider-container {
    padding: 25px 0 25px 0;
    .divider {
      font-size: 100%;
    }
  }

  h1 {
    &.title {
      text-align: center;
      margin-bottom: 0;
    }
  }
}

.navbar--checkout {
  min-height: 75px;
  .navbar-brand {
    padding: 0;
    height: 85px;
    line-height: 85px;
    font-size: 300%;
  }
  @include media(tablet) {
    min-height: 50px;
    .navbar-brand {
      padding: 15px;
      height: 50px;
      line-height: 20px;
      font-size: 200%;
    }
  }
}

.checkout-progress-container {
  @include media(tablet) {
    display: none;
  }
  position: relative;
  li {
    padding: 45px 60px 20px 60px;
    position: relative;
    display: block;
    @include media(desktop) {
      padding: 45px 40px 20px 40px;
    }
  }
  .line {
    width: 78%;
    height: 2px;
    position: absolute;
    top: 28px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: $primary-color;
    z-index: 0;

    &.three {
      width: 71%;
    }
  }
  .progress-icon {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 15px;
    font-size: 2em;
    text-align: center;
    color: $primary-color;
    z-index: 2;
  }

  .progress-icon-background {
    @extend .progress-icon;
    color: white;
    z-index: 1;
  }
}