@import "compass/css3";
@import "fonts";
@import "colors";
@import "mixins";
@import "classes";

//%card-container {
//  margin-top: 45px;
//  width: 62.5%;
//  padding: 30px;
//  @include media(desktop) {
//    width: 100%;
//  }
//  @include media(tablet) {
//    padding-top: 0px;
//  }
//  @include media(mobile) {
//    padding-left: 5px;
//    padding-right: 5px;
//    margin-top: 22px;
//  }
//}
//
//%card {
//  margin-bottom: 30px;
//}

@import "search";
@import "create_photographer_request";
@import "checkout";
@import "create_photographer";
@import "booking_client_approval";
@import "create_food_booking";

body {
  background-color: white;
  font-family: $light-font;
}

hr {
  border-color: $secondary-background-color;
  margin-top: 10px;
  margin-bottom: 10px;
}

.spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.no-results-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  font-family: $light-font;
  color: darken($secondary-background-color, 50%);

  .title {
    margin-top: 60px;
  }
}

.spinner-container,
.no-results-container {
  &.ng-hide {
    opacity: 0.0;
  }

  &.ng-hide-add.ng-hide-add-active,
  &.ng-hide-remove.ng-hide-remove-active {
    @include transition-property(all);
    @include transition-duration(0.125s);
  }
}

.spinner-container {
  background-color: white;
  opacity: 0.75;
}

.absolute-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.error-message-container {
  &.hidden {
    display: none;
  }
}