.overflow-hidden {
  overflow: hidden;
}

.blurb-2,
.blurb-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

}

$speed: 1.625;
$blurb-title-translate-x: 40px * $speed;
$blurb-image-translate-x: 20px * $speed;
$blurb-image-scale: 1.1;
@include keyframes(slide-down-arrow) {
  0.00%, 100% {
    @include transform(translate(0px, 0px) scale(0.75));
    opacity: 1.0;
  }
  50% {
    @include transform(translate(0px, -60px) scale(1.0));
    opacity: 0.5;
  }
}

@include keyframes(fade-blurb) {
  0.00%, 100% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}

@include keyframes(fade-blurb-2) {
  0.00%, 32.33% {
    opacity: 0;
  }

  33.33% {
    opacity: 1.0;
  }

  99% {
    opacity: 1.0;
  }

  100% {
    opacity: 0.0;
  }
}

@include keyframes(fade-blurb-3) {
  0.00%, 65.66% {
    opacity: 0;
  }

  66.66% {
    opacity: 1.0;
  }

  99% {
    opacity: 1.0;
  }

  100% {
    opacity: 0.0;
  }
}

@include keyframes(slide-blurb-image-left) {
  0.00%, 50%, 100% {
    @include transform(translate($blurb-image-translate-x, 0px) scale($blurb-image-scale));
    //    background-position: 0.00% 25%;
  }
  25%, 75% {
    @include transform(translate(-$blurb-image-translate-x, 0px) scale($blurb-image-scale));
    //    background-position: 50% 25%;
  }
}

@include keyframes(slide-blurb-image-right) {
  0.00%, 50%, 100% {
    @include transform(translate(-$blurb-image-translate-x, 0px) scale($blurb-image-scale));
    //    background-position: 50% 25%;
  }
  25%, 75% {
    @include transform(translate($blurb-image-translate-x, 0px) scale($blurb-image-scale));
    //    background-position: 0.00% 25%;
  }
}


@include keyframes(slide-blurb-title-right) {
  0.00%, 50%, 100% {
    @include transform(translate(-$blurb-title-translate-x, 0px));
  }
  25%, 75% {
    @include transform(translate($blurb-title-translate-x, 0px));
  }
}

@include keyframes(slide-blurb-title-left) {
  0.00%, 50%, 100% {
    @include transform(translate($blurb-title-translate-x, 0px));
  }
  25%, 75% {
    @include transform(translate(-$blurb-title-translate-x, 0px));
  }
}

.navbar--search {
  margin-bottom: 0px;
  position: absolute;
  top: 0;
  padding: 0 0 2.5% 0;

  @include media(tablet) {
    padding: 0;
  }

  .messages {
    margin-bottom: 2.5%;
    padding: 0;
    ul {
      background-color: #BEF6D1;
      padding: 0.75em 0;
      font-size: 110%;
      margin: 0;
      list-style: none;
      li {
        text-align: center;
      }
    }
  }
}

.divider {
  color: $primary-color;
  font-size: 150%;
  @include media(tablet) {
    font-size: 100%;
  }
}

.divider-container {
  padding: 2.5% 0 2.5% 0;
}

// Join the crew
//
.join-the-crew {
  padding: 5% 0;
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
  }
  .client-logos {
    padding: 0;
    list-style-type: none;
    fill: #929292;
    li {
      width: 32%;
      padding: 1.5rem;
      display: inline-block;
      @include media(tablet) {
        width: 24%;
      }
    }
  }
  @include media(tablet) {
    padding-left: 5%;
    padding-right: 5%;
  }

  &__btn {
    width: 100%;
    font-family: $light-font;
    font-size: 125%;
    text-transform: uppercase;
    background-color: $primary-color;
    border-color: $primary-color;
    @include border-radius(0px);

    &:hover, &:focus {
      background-color: darken($primary-color, 5%);
      border-color: transparent;
    }
    padding: 3% 0 3% 0;
  }
  &__title, &__subtitle {
    font-family: $light-font;
    text-align: left;
    font-size: 137.5%;
    line-height: 150%;
    @include media(mobile) {
      font-size: 125%;
    }
  }
  &__subtitle {
    color: #7C7C7C;
    padding-bottom: 15px;
  }
}


// Blurbs
//
.blurbs {
  position: relative;
  top: 0;
  left: 0;
  &__container {
    background-image: image-url("blurb_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 87.5vh;
    min-height: 750px;
    width: 100%;
    display: table;
    color: #ffffff;
    overflow: hidden;
    //    @include animation(slide-blurb-image 50s infinite linear);

    &__title {
      font-family: $light-font;
      font-size: 250%;
      display: table-cell;
      vertical-align: middle;
      //    padding: 0.00% 0 5% 0;
      line-height: 137.5%;
      .highlight {
        font-family: $bold-font;
      }

      @include media(desktop) {
        font-size: 250%;
      }
      @include media(tablet) {
        font-size: 200%;
      }
      @include media(mobile) {
        font-size: 150%;
      }
    }

    //    @include media(desktop) {
    //    }
  }

  &__container--beach-1 {
    background-image: image-url("blurb_1.jpg");
    background-position: center 50%;
    @include animation(slide-blurb-image-right 60s infinite linear);
    .blurbs__container__title {
      @include animation(slide-blurb-title-right 60s infinite linear);
    }
    @include media(mobile) {
      @include animation(none);
    }

  }

  &__container--beach-2,
  &__container--beach-3 {
    background-position: center center;
    //    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__container--beach-2 {
    background-image: image-url("blurb_2.jpg");
    @include animation(fade-blurb-2 20s infinite linear, slide-blurb-image-left 60s infinite linear);
    @include animation-delay(0.00ms, 6400ms);
    .blurbs__container__title {
      @include animation(slide-blurb-title-left 60s infinite linear);
      @include animation-delay(6400ms);
    }
    @include media(mobile) {
      @include animation(fade-blurb-2 20s infinite linear);
    }

  }

  &__container--beach-3 {
    background-image: image-url("blurb_3.jpg");
    @include animation(fade-blurb-3 20s infinite linear, slide-blurb-image-right 60s infinite linear);
    @include animation-delay(0.00ms, 13020ms);
    .blurbs__container__title {
      @include animation(slide-blurb-title-right 60s infinite linear);
      @include animation-delay(13020ms);
    }
    @include media(mobile) {
      @include animation(fade-blurb-3 20s infinite linear);
    }
  }

  &__container--beach-1,
  &__container--beach-2,
  &__container--beach-3 {
    @include media(mobile) {
      .blurbs__container__title {
        @include animation(none);
      }
    }
  }

}


// Listings...?
//
$cell-background-color: rgba(0, 0, 0, 0) !important;
#photographer-search {
  .photographer-container {

    padding: 5% 0 5% 0;
    .title {
      font-family: $light-font;
      font-size: 350%;
      line-height: 137.5%;
      color: #000000;
      .highlight {
        font-family: $bold-font;
      }
      @include media(tablet) {
        font-size: 300%;
      }
      @include media(tablet) {
        font-size: 200%;
      }
    }

    .photographer-row {

      .photographer-col {
        padding-top: 15px;
        padding-bottom: 15px;
      }

      a {
        &:hover, &:focus {
          text-decoration: none;
        }
      }

      .photographer {
        background-size: cover;
        background-position: center center;
        height: 225px;
        width: 100%;
        position: relative;

        &:hover {
          .dimmer {
            background-color: rgba(0, 0, 0, 0.25) !important;
          }
        }

        .dimmer {
          position: absolute;
          background-color: $cell-background-color;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          @include transition-property(background-color);
          @include transition-duration(250ms);
        }

        .info {
          padding: 5px 10px;
          position: absolute;
          width: 100%;
          bottom: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.375) !important;
        }

        .title,
        .subtitle {
          color: white;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 0;
          font-size: 125%;
        }
        .title {
          font-family: $regular-font;
        }
        .subtitle {
          font-family: $light-font;
          .fa-circle {
            font-size: 50%;
            color: $primary-color;
            position: relative;
            top: -2px;
            margin: 0 5px;
          }
        }
      }
    }
  }

}

// Form
//
#select-destination {
  height: 46px;
  border: 1px solid #ffffff;
  select {
    color: #ffffff;
    border: none;
    box-shadow: none;
    background: transparent;
    font-family: $regular-font;
    font-size: 17px;
    &:focus {
      outline: none;
    }
    option {
      color: #ffffff;
    }
    @include appearance(none);
    @include media(mobile) {
      font-size: 125%;
    }
  }
}

#select-number-of-guests {
  height: 46px;
  border: 1px solid #ffffff;
  width: 100%;
  select {
    font-family: $regular-font;
    font-size: 17px;
    color: #ffffff;
    border: none;
    box-shadow: none;
    background: transparent;
    @include appearance(none);
    @include media(mobile) {
      font-size: 125%;
    }
    &:focus {
      outline: none;
    }
    option {
      color: #ffffff;
    }

  }
}

#select-destination.parsley-error, #select-number-of-guests.parsley-error {
  border-color: red;
}

.banner {
  position: relative;
  overflow: hidden;
  &__container {
    z-index: 2;
    &__down-arrow {
      color: #ffffff;
      font-size: 362.5%;
      padding: 10% 0 0.00% 0;
      @include animation(slide-down-arrow 1.5s infinite);
      @include media(mobile) {
        padding: 12.5% 0 12.5% 0;
      }
    }
    &__video {
      min-height: 100%;
      min-width: 100%;
      width: auto;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
    padding-top: 200px;
    height: 75vh;
    min-height: 1000px;
    color: #ffffff;
    $shadow-offset: 1px;

    @include media(tablet) {
      padding: 150px 0 150px 0;
      min-height: 900px;
    }

    @include media(mobile) {
      min-height: 850px;
      padding: 100px 0 100px 0;
    }

    .form-container {
      position: relative;
      z-index: 2;
      margin-top: 0;
      width: 75%;

      @include media(tablet) {
        width: 100%;
      }

      .about-button-container {
        margin-top: 30px;
        .about-button {
          border-style: none;
          background-color: rgba(white, 0.25);
          text-transform: none;
          color: white;
          font-family: $regular-font;
          a {
            color: white;
            font-family: $regular-font;
            &:hover, &:focus {
              color: white;
              text-decoration: none;
            }
          }
          @include center-block(20%);
          @include transition-property(background-color);
          @include transition-duration(250ms);
          &:hover, &:focus {
            background-color: rgba(black, 0.5);
          }
          @include media(desktop) {
            @include center-block(25%);
          }
          @include media(tablet) {
            @include center-block(50%);
          }
          @include media(mobile) {
            @include center-block(100%);
          }
        }
      }
    }
    &__title {
      .highlight {
        font-family: $regular-font;
      }
      text-align: center;
      color: #ffffff;
      font-size: 405%;
      font-family: $thin-font;
      @include media(tablet) {
        font-size: 325%;
      }
      @include media(mobile) {
        font-size: 275%;
        //font-family: $light-font;
        //.highlight {
        //  font-family: $bold-font;
        //}
      }
      //      @include text-outline($shadow-offset, rgba(0,0,0,1.0));
    }


    &__form {
      width: 950px;
      background: rgba(0, 0, 0, 0.25) !important;
      margin-top: 50px;
      padding: 10px 0px;

      @include media(desktop) {
        width: 100%;
      }

      @include media(tablet) {
        padding: 10px 10px;
      }

      @include media(mobile) {
        padding: 5px 10px;
      }

      .form-group {
        margin: 0px 2px;
        @include media(desktop) {
          margin: 2px 2px;
        }

        input[type="text"] {
          text-align: left;
          font-size: 17px;
          font-family: $regular-font;
          background-color: rgba(0, 0, 0, 0.125) !important;
          border-color: #ffffff;
          color: #ffffff;
          @include border-radius(0px);
          @include input-placeholder {
            color: #ffffff;
          }
          @include media(desktop) {
            font-size: 16px;
          }
          @include media(mobile) {
            font-size: 125%;
          }
        }
        .parsley-errors-list {
          margin: 0 0;
        }
      }

      input[type="text"].parsley-error {
        border-color: red;
      }

      .form-group--destination {
        width: 300px;
        @include media(desktop) {
          display: block;
          width: 98%;
          margin: 0px 5px;
        }
        @include media(tablet) {
          width: 100%;
          margin: 5px 0px;
        }
        @include media(mobile) {
          width: 99.5%;
          margin: 5px 0px;
        }
        .input-group {
          width: 100%;
        }
      }

      .form-group--check-in-date, .form-group--check-out-date {
        width: 152px;
        @include media(desktop) {
          display: inline-block;
          width: 27%;
          margin-top: 5px;
        }
        @include media(tablet) {
          display: inline-block;
          width: 49.5%;
          margin: 5px 0px;
        }
        .input-group {
          width: 100%;
        }
      }

      .form-group--number-of-guests {
        width: 180px;
        @include media(desktop) {
          display: inline-block;
          margin-top: 5px;
        }
        @include media(tablet) {
          display: inline-block;
          width: 100%;
          margin: 5px 0px;
        }
      }

      .form-group--destination, .form-group--check-in-date, .form-group--check-out-date, .form-group--number-of-guests {
        @include media(mobile) {
          display: block;
          width: 99.5%;
          margin: 10px 0px;
        }
      }
    }
    .btn--search {
      width: 112px;
      font-family: $light-font;
      font-size: 125%;
      text-transform: uppercase;
      padding: 10px;
      margin: 0px 5px;
      background-color: $primary-color;
      border-color: $primary-color;
      @include border-radius(0px);

      @include media(desktop) {
        display: inline-block;
        margin-top: 5px;
      }
      @include media(tablet) {
        width: 100%;
        margin: 5px 0px;
      }
      @include media(mobile) {
        display: block;
        width: 99.5%;
        margin: 10px 0px;
      }

      &:hover, &:focus {
        background-color: darken($primary-color, 5%);
        border-color: transparent;
      }
    }
  }
}

.input-group--addon {
  position: relative;

  .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
}

.left-addon {
  .fa {
    left: 0px;
  }
  .form-control {
    padding-left: 50px;
  }
}

.left-addon--destination {
  .form-control {
    padding-left: 40px;
  }
}

.right-addon {
  .fa {
    right: 0px;
  }
  input {
    padding-right: 50px;
  }
}

#search-query-form {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 30px;
  margin-top: 3%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @include media(desktop) {
    width: 100%;
  }
  @include media(mobile) {
    padding: 5px 15px;
    .k-primary {
      font-size: 112%;
    }
  }

  .row {
    @include col() {
      padding-top: 15px;
      padding-bottom: 15px;
      @include media(mobile) {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
  .input-container {
    padding: 0px 3px;

    @include media(tablet) {
      input {
        text-align: center;
        text-indent: 0;
      }
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .input-container--location {
    position: relative;
    top: 6px;
  }
  .input-container--check-in-date,
  .input-container--check-out-date {
    position: relative;
    top: 4px;
  }
  .input-container--check-out-date {
    @include media(tablet) {
      position: relative;
      top: 2px;
    }
  }
  .input-container--num-guests {
    position: relative;
    top: 6px;
    @include media(desktop) {
      top: 3px;
    }
  }

  .input-container--search {
    @include media(screen) {
      position: relative;
      top: -5px;
      margin-bottom: 0;
    }
    @include media(desktop) {
      position: static;
      margin-bottom: 0;
    }
  }
  //.k-dropdown .k-input, .k-dropdown .k-state-focused .k-input, .k-menu .k-popup, .k-datepicker .k-picker-wrap .k-input {
  //  color: white;
  //}
  //.k-datepicker .k-input, .k-timepicker .k-input, .k-combobox, .k-datepicker, .k-timepicker, .k-datetimepicker, .k-autocomplete.k-state-default, .k-picker-wrap.k-state-default, .k-numeric-wrap.k-state-default, .k-dropdown-wrap.k-state-default {
  //  background-color: white;
  //}
}

.col--rental {
  padding-right: 5px;
  padding-left: 5px;
  &:first-child {
    padding-left: 15px;
  }
  &:last-child {
    padding-right: 15px;
  }
  @include media(mobile) {
    padding-left: 15px;
    padding-right: 15px;
  }
  &.latest {
    margin-bottom: 15px;
    &:nth-child(3n+4), &:nth-child(1) {
      padding-left: 15px;
    }
    &:nth-child(3n+3) {
      padding-right: 15px;
    }
    @include media(mobile) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  //a {
  //  &:hover, &:focus {
  //    text-decoration: none;
  //  }
  //}
}

.coming-soon {
  height: 225px;
  color: white;
  font-family: $regular-font;
  font-size: 350%;
  .info {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 90px 0;
    position: relative;

    &:hover {
      .dimmer {
        background-color: rgba(0, 0, 0, 0.5) !important;
      }
    }

    .dimmer {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.125);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      @include transition-property(background-color);
      @include transition-duration(250ms);
    }
  }
  .title, .subtitle {
    position: relative;
    z-index: 2;
  }
  .title {
    font-family: $regular-font;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .subtitle {
    font-family: $light-font;
    font-size: 17px;
    margin: 0;
  }
}


.how-it-works-row {
  line-height: 125%;
  text-align: center;

  .col-title, .col-subtitle {
    line-height: 162.5%;
  }

  .col-title {
    color: $primary-color;
    margin-top: 0;
  }

  .col-subtitle {
    color: $muted-text-color;
    @include media(mobile) {
      padding: 0 15px;
    }
  }

  .col-image-container {
    position: relative;
    width: 100%;
    padding-bottom: 75%;
    @include media(tablet) {
      padding-bottom: 33%;
    }
  }

  .col-image {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .feature-one {
    @extend .col-image;
    background-image: image-url("feature_1.png");
  }

  .feature-two {
    @extend .col-image;
    background-image: image-url("feature_2.png");
  }

  .feature-three {
    @extend .col-image;
    background-image: image-url("feature_3.png");
  }
}