{% extends "photographers/base.html" %}
{% load photographer_styles %}
{% block nav %}
    <nav class="{% block nav_classes %}navbar navbar--default navbar--checkout{% endblock %}" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand hvr-fade" href="{% url 'index' %}">{{ site_display_name }}</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-target">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="checkout-progress-container nav navbar-nav navbar-right">
                <ul class="nav navbar-nav navbar-right">
                    <li>Details<span class="fa fa-circle progress-icon-background"></span><span class="fa {% photographer_checkout_progress_class request 'photographers:get_booking_details' booking_checkout_url.key %} progress-icon"></span></li>
                    <li>Location<span class="fa fa-circle progress-icon-background"></span><span class="fa {% photographer_checkout_progress_class request 'photographers:create_booking_address' booking_checkout_url.key %} progress-icon"></span></li>
                    <li>Payment<span class="fa fa-circle progress-icon-background"></span><span class="fa {% photographer_checkout_progress_class request 'photographers:create_customer' booking_checkout_url.key %} progress-icon"></span></li>
                    <li>Book It<span class="fa fa-circle progress-icon-background"></span><span class="fa {% photographer_checkout_progress_class request 'photographers:create_booking' booking_checkout_url.key %} progress-icon"></span></li>
                </ul>
                <div class="line"></div>
            </div>
        </div>
    </nav>
{% endblock %}
{% block html_attributes %}ng-app="gouda.photographers.apps.PhotographerApp"{% endblock %}
