{% extends "photographers/checkout/food_base.html" %}
{% block title %}Review your order | {{ site_display_name }}{% endblock %}
{% block content %}
    <section id="content" class="create-booking-content">
        <div class="container-fluid">
            <div class="card">
                <h1 class="title">Review your order</h1>
                <div class="text-center divider-container">
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                </div>
                <form method="post" action="{{ request.path }}" role="form" name="form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12 booking-info">
                            <h3 class="title">Job Details</h3>
                            <p>{{ line_item }}</p>
                            <p>{{ service_type }}</p>
                            <p>{{ date|date }}</p>
                            <p>{{ start_time|date:"g:i A" }} - {{ end_time|date:"g:i A" }}</p>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-xs-12 booking-info">
                            <h3 class="title">Contact Details</h3>
                            <p>{{ contact_name }}</p>
                            <p>{{ contact_phone_number }}</p>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-xs-12 booking-info">
                            <h3 class="title">Location</h3>
                            <p>{{ restaurant_name }}</p>
                            <p>{{ address.street_address }}</p>
                            {% if address.sub_premise %}
                                <p>{{ address.sub_premise }}</p>
                            {% endif %}
                            <p>{{ address.locality }}, {{ address.region }} {{ address.postal_code }}</p>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-xs-12 booking-info">
                            <h3 class="title">Payment</h3>
                            <p>{{ credit_card.card_type }}</p>
                            <p>**** **** **** {{ credit_card.last_4 }}</p>
                            <p>Expires: {{ credit_card.expiration_month }}/{{ credit_card.expiration_year }}</p>
                        </div>
                    </div>
{#                    <hr/>#}
{#                    <h3 class="text-center">Got a promo code?</h3>#}
{#                    <ng-form ng-controller="CouponFormController" name="couponForm" id="coupon-form" novalidate>#}
{#                        <div class="text-center row center-block input-gang">#}
{#                            <div class="col-xs-12 col-sm-8">#}
{#                                <input ng-model="couponCode" class="k-textbox" placeholder="Enter your code"/>#}
{#                            </div>#}
{#                            <div class="col-xs-12 col-sm-4">#}
{#                                <kendo-button ng-cloak k-ng-disabled="!isFormValid() || isUploading()" type="button" ng-click="submit()" class="k-secondary coupon-button">Verify</kendo-button>#}
{#                            </div>#}
{#                        </div>#}
{#                        <md-progress-circular ng-cloak ng-show="isLoading()" md-mode="indeterminate" class="center-block progress-circular"></md-progress-circular>#}
{#                        <div ng-cloak ng-show="doShowMessage()" class="text-center message-container">#}
{#                            <p ng-show="!isCouponValid()" class="ng-invalid">Invalid coupon code <span class="fa fa-frown-o"></span></p>#}
{#                            {% verbatim %}#}
{#                            <p ng-show="isCouponValid()" class="ng-valid">Success! You will receive ${{ getCoupon().amountOff }} off <span class="fa fa-smile-o"></span></p>#}
{#                            {% endverbatim %}#}
{#                        </div>#}
{#                    </ng-form>#}
                    <hr/>
                    <div class="row">
                        <div class="col-xs-12 total-cost" ng-cloak>
                            <p class="pull-right"><span class="">${{ total_cost }}</span></p>
{#                            <p class="pull-right">${{ total_cost|floatformat }}</p>#}
                            <p>Total</p>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Are there any extra notes you have for us?</label>
                            {{ form.message }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h5 class="text-center">
                                By clicking this button, you agree to {{ site_display_name }}'s <a href="{% url 'terms_of_service' %}">Terms of Service</a> and <a href="{% url 'privacy_policy' %}">Privacy Policy</a>.
                            </h5>
                            <button type="submit" class="k-primary k-button">Book It</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
