{% extends "photographers/checkout/base.html" %}
{% block title %}Enter the job location | {{ site_display_name }}{% endblock %}
{% block content %}
    <section id="content" class="create-booking-address-content">
        <div class="container-fluid">
            <div class="card">
                <h1 class="title">Enter the job location</h1>
                <div class="text-center divider-container">
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                </div>
                <form method="post" action="{{ request.path }}" role="form" name="form" data-parsley-validate="">
                    {% csrf_token %}
                    {{ form.country }}
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Full Name</label>
                            {{ form.full_name }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <label>Street Address</label>
                            {{ form.street_address }}
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <label>Apt, Suite, Bldg. (optional)</label>
                            {{ form.sub_premise }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <label>City</label>
                            {{ form.locality }}
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <label>State</label>
                            {{ form.region }}
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <label>ZIP Code</label>
                            {{ form.postal_code }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="k-button k-primary">Continue</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            $("#id_region").kendoDropDownList();
        });
    </script>
{% endblock %}