{% extends "photographers/checkout/bulk_base.html" %}
{% block title %}Review your order | {{ site_display_name }}{% endblock %}
{% block content %}
    <section id="content" class="create-booking-content">
        <div class="container-fluid">
            <div class="card">
                <h1 class="title">Review your order</h1>
                <div class="text-center divider-container">
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                </div>
                <form method="post" action="{{ request.path }}" role="form" name="form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12 booking-info">
                            <h3 class="title">Bookings</h3>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Restaurant</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for booking in bookings %}
                                    <tr>
                                    <td>{{ booking.display_name }}</td>
                                    <td>{{ booking.restaurant_name }}</td>
                                    <td>{{ booking.address.locality }}</td>
                                    <td>{{ booking.address.region }}</td>
                                    <td>${{ booking.amount }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-xs-12 booking-info">
                            <h3 class="title">Payment</h3>
                            <p>{{ credit_card.card_type }}</p>
                            <p>**** **** **** {{ credit_card.last_4 }}</p>
                            <p>Expires: {{ credit_card.expiration_month }}/{{ credit_card.expiration_year }}</p>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-xs-12 total-cost" ng-cloak>
                            <p class="pull-right"><span class="">${{ total_cost }}</span></p>
{#                            <p class="pull-right">${{ total_cost|floatformat }}</p>#}
                            <p>Total</p>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Are there any extra notes you have for us?</label>
                            {{ form.message }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h5 class="text-center">
                                By clicking this button, you agree to {{ site_display_name }}'s <a href="{% url 'terms_of_service' %}">Terms of Service</a> and <a href="{% url 'privacy_policy' %}">Privacy Policy</a>.
                            </h5>
                            <button type="submit" class="k-primary k-button">Book It</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
