{% extends base_template %}
{% load staticfiles %}
{% block title %}Enter your payment information | {{ site_display_name }}{% endblock %}
{% block content %}
    <section id="content" class="checkout">
        <div class="container-fluid">
            <div class="card">
                <h1 class="title">Enter your payment information</h1>
                <h4 class="text-center">You will be charged ${{ price }} for this booking</h4>
                <div class="text-center divider-container">
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                </div>
                <form id="create-customer-form" name="form" method="post" action="{{ request.path }}" data-parsley-validate="" data-parsley-trigger-after-failure="keyup">
                    {% csrf_token %}
                    {{ form.payment_method_nonce }}
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Card Number</label>
                            <div class="input-addon">
                                <span class="fa fa-credit-card input-prefix"></span>
                                <input id="id_card_number" class="k-textbox" required data-parsley-errors-messages-disabled="" pattern="\d{4} \d{4} \d{4} \d{4}" />
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <label>Expiration Date</label>
                            <div class="input-addon">
                                <span class="fa fa-calendar input-prefix"></span>
                                <input id="id_expiration_date" class="k-textbox" placeholder="MM/YY" required data-parsley-errors-messages-disabled=""/>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label>Security Code</label>
                            <div class="input-addon">
                                <span class="fa fa-lock input-prefix"></span>
                                <input id="id_security_code" class="k-textbox" required data-parsley-errors-messages-disabled="" pattern="\d{3,4}"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="k-primary k-button">Review your booking</button>
                            <div id="rectangle-spinner" class="rectangle-spinner hidden">
                                <div class="rect1"></div>
                                <div class="rect2"></div>
                                <div class="rect3"></div>
                                <div class="rect4"></div>
                                <div class="rect5"></div>
                            </div>
                            <div id="error-message" class="text-center error-message-container hidden">
                                <p class="ng-invalid">There was an error processing your payment details <span class="fa fa-frown-o"></span></p>
                                <p class="ng-invalid">Please contact {{ support_email }}</p>
                            </div>
                        </div>
                    </div>
                </form>
                {{ form.errors }}
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/react/dist/pages/photographers/CreateCustomer.js' %}"></script>
{% endblock %}