{% extends "photographers/checkout/bulk_base.html" %}
{% load staticfiles %}
{% load compress %}
{% block title %}Upload a CSV file | {{ site_display_name }}{% endblock %}
{% block content %}
    <section id="content" class="create-booking-content">
        <div class="container-fluid">
            <div class="card">
                <h1 class="title">Upload a CSV file</h1>
                <div class="text-center divider-container">
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                </div>
                <form method="post" action="{{ request.path }}" role="form" name="form" data-parsley-validate="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Please upload your CSV file.</label>
                            <div class="ez-file-upload">
                                <button id="upload-button" type="button" class="k-button k-primary-inverted upload-button">Select File</button>
                                <p id="file-name" class="file-name"></p>
                            </div>
                            {{ form.file }}
                        </div>
                    </div>
                    {% if form.errors %}
                    <div class="row">
                        <div id="error-message" class="text-center error-message-container">
                            <p class="ez-invalid">There was an error processing your file <span class="fa fa-frown-o"></span></p>
                            <p class="ez-invalid">Please contact {{ support_email }}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="k-primary k-button">Continue</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {% compress js %}
        <script src="{% static 'js/react/dist/pages/photographers/GetBulkBookingFile.js' %}"></script>
    {% endcompress %}
{% endblock %}