{% extends "photographers/checkout/food_base.html" %}
{% load staticfiles %}
{% block title %}Enter the job details | {{ site_display_name }}{% endblock %}
{% block content %}
    <section id="content" class="create-booking-content">
        <div class="container-fluid">
            <div class="card">
                <h1 class="title">Enter the job details</h1>
                <h5 class="text-center">Would you like to schedule <a href="{% url 'photographers:get_bulk_booking_file' %}">multiple bookings</a>?</h5>
                <div class="text-center divider-container">
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                </div>
                <form method="post" action="{{ request.path }}" role="form" name="form" data-parsley-validate="">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Please use a short phrase to describe this booking.</label>
                            {{ form.display_name }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>What type of service do you need?</label>
                            {{ form.service_type }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>When do you need this job done?</label>
                            {{ form.date }}
                        </div>
                        <div class="col-sm-3">
                            <label>When should we start?</label>
                            {{ form.start_time }}
                        </div>
                        <div class="col-sm-3">
                            <label>When should we end?</label>
                            {{ form.end_time }}
                        </div>
                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Who is the person we should contact for this job?</label>
                            {{ form.contact_name }}
                        </div>
                        <div class="col-md-6">
                            <label>What phone number can we use to reach that person?</label>
                            {{ form.contact_phone_number }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Which items on the menu do you want photographed?</label>
                            {{ form.items }}
                            <div id="chips"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            {{ form.is_full_menu_shoot }}
                            <label class="checkbox-label" for="is_full_menu_shoot">Yes, this booking is for a full menu shoot.</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            {{ form.is_confirmed_with_restaurant }}
                            <label class="checkbox-label" for="is_full_menu_shoot">Yes, the restaurant has confirmed this booking.</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="k-primary k-button">Continue</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/react/dist/pages/photographers/GetFoodBookingDetails.js' %}"></script>
    <script type="text/javascript">
        // Initialization glue code
        window.GetFoodBookingDetails.init({
            el: '#chips',
            itemsFormElement: '#id_items'
        });
    </script>
{% endblock %}