{% extends "photographers/checkout/base.html" %}
{% block title %}Enter the job details | {{ site_display_name }}{% endblock %}
{% block content %}
    <section id="content" class="create-booking-content">
        <div class="container-fluid">
            <div class="card">
                <h1 class="title">Enter the job details</h1>
                <div class="text-center divider-container">
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                </div>
                <form method="post" action="{{ request.path }}" role="form" name="form" data-parsley-validate="">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Please use a short phrase to describe this booking.</label>
                            {{ form.display_name }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>What type of service do you need?</label>
                            {{ form.service_type }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>When do you need this job done?</label>
                            {{ form.date }}
                        </div>
                        <div class="col-sm-3">
                            <label>When should we start?</label>
                            {{ form.start_time }}
                        </div>
                        <div class="col-sm-3">
                            <label>When should we end?</label>
                            {{ form.end_time }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>What phone number can we use to reach you?</label>
                            {{ form.phone_number }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="k-button k-primary">Continue</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            function onChange() {
                var startTime = startTimePicker.value();

                if (startTime) {
                    startTime = new Date(startTime);

                    endTimePicker.max(startTime);

                    startTime.setMinutes(startTime.getMinutes() + this.options.interval);

                    endTimePicker.min(startTime);
                    endTimePicker.value(startTime);
                }
            }
            var datePicker = $("#id_date").kendoDatePicker({
                min: new Date(),
            }).data("kendoDatePicker");
            var startTimePicker = $("#id_start_time").kendoTimePicker({
                change: onChange
            }).data("kendoTimePicker");
            var endTimePicker = $("#id_end_time").kendoTimePicker({
            }).data("kendoTimePicker");

            $("#id_service_type").kendoDropDownList();
        });
    </script>
{% endblock %}