{% extends "profiles/dashboard.html" %}
{% load styles %}
{% block dashboard_content %}
    <div class="row manage-account">
{#        <div class="col-sm-3 col-md-4 sidebar sm">#}
{#            <a class="{% is_active request 'confirmed' %}" href="{% url 'profiles:manage_confirmed_bookings' %}"><span class="title">Confirmed Bookings</span></a>#}
{#            <a class="{% is_active request 'requests' %}" href="{% url 'profiles:manage_pending_bookings' %}"><span class="title">Booking Requests</span></a>#}
{#        </div>#}
        <div class="col-xs-12 content">
            {% block manage_account_content %}{% endblock %}
        </div>
{#        <div class="col-sm-3 col-md-4 sidebar">#}
{#            <a class="{% is_active request 'confirmed' %}" href="{% url 'profiles:manage_confirmed_bookings' %}"><span class="title">Confirmed Bookings</span></a>#}
{#            <a class="{% is_active request 'requests' %}" href="{% url 'profiles:manage_pending_bookings' %}"><span class="title">Booking Requests</span></a>#}
{#        </div>#}
    </div>
{% endblock %}