{% extends "profiles/manage_account/base.html" %}
{% load date %}
{% load thumbnail %}
{% load staticfiles %}
{% load profiles %}
{% load countries %}
{% block title %}Edit your payout details | {{ site_display_name }}{% endblock %}
{% block manage_account_content %}
    <h2 class="screen-sm--only regular-font">Payout Details</h2>
    <form name="form" method="post"
          action="{{ request.path }}"
          role="form" data-parsley-validate="">
        <div class="text-center">
            <h2>Enter your payout details</h2>
            <h4>Get that dollar dollar <span class="fa fa-money"></span></h4>
            <p class="text-muted">Currently, {{ site_display_name }} only supports payouts in USD to American bank accounts. We are doing our best to add more payout options. Please <a href="mailto:{{ support_email }}">contact us</a>, if you have any questions.</p>
        </div>
        <div>
            {% csrf_token %}
{#            {{ form.user }}#}
{#            {{ form.funding_email }}#}
{#            {{ form.funding_mobile_phone }}#}
            <div class="row">
                {% if request.user.braintree_merchant_account %}
                    <div class="input-gang col-sm-12">
                        <label>Status</label>
                        {{ form.status }}
                    </div>
                {% endif %}
                <div class="input-gang col-sm-12">
                    <label>Email Address</label>
                    {{ form.individual_email }}
                </div>
                <div class="input-gang col-sm-6">
                    <label>First Name</label>
                    {{ form.individual_first_name }}
                </div>
                <div class="input-gang col-sm-6">
                    <label>Last Name</label>
                    {{ form.individual_last_name }}
                </div>
                <div class="input-gang col-sm-7">
                    <label>Birthday</label>
                    {{ form.individual_month }}
                </div>
                <div class="input-gang col-sm-2">
                    <label class="screen-sm invisible">Day</label>
                    {{ form.individual_day }}
                </div>
                <div class="input-gang col-sm-3">
                    <label class="screen-sm invisible">Year</label>
                    {{ form.individual_year }}
                </div>
                <div class="input-gang col-sm-12">
                    <label>Street Address</label>
                    {{ form.individual_street_address }}
                </div>
                <div class="input-gang col-sm-5">
                    <label>City</label>
                    {{ form.individual_locality }}
                </div>
                <div class="input-gang col-sm-4">
                    <label>State</label>
                    {{ form.individual_region }}
                </div>
                <div class="input-gang col-sm-3">
                    <label>ZIP Code</label>
                    {{ form.individual_postal_code }}
                </div>
                <div class="input-gang col-sm-12">
                    <label>Phone Number</label>
                    {{ form.individual_phone }}
                </div>
                <div class="input-gang col-sm-12">
                    <label>Routing Number</label>
                    {{ form.funding_routing_number }}
                </div>
                <div class="input-gang col-sm-12">
                    <label>Account Number</label>
                    {{ form.funding_account_number }}
                </div>
            </div>
{#            {% if request.user.braintree_merchant_account %}#}
{#                <div class="row">#}
{#                    <div class="input-gang col-xs-12">#}
{#                        <h5 class="text-center">#}
{#                            Need to update your payout details? Please <a href="mailto:{{ support_email }}">contact us</a> and we will be happy to help.#}
{#                        </h5>#}
{#                    </div>#}
{#                </div>#}
{#            {% else %}#}
                <div class="row">
                    <div class="input-gang col-xs-12">
                        <h5 class="text-center">
                            By clicking this button, you agree to {{ site_display_name }}'s <a href="{% url 'terms_of_service' %}">Terms of Service</a> and <a href="{% url 'privacy_policy' %}">Privacy Policy</a>.
                        </h5>
                        <button type="submit" type="button" class="k-button k-primary">Save</button>
                    </div>
                </div>
{#            {% endif %}#}
        </div>
    </form>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            $("#id_individual_month").kendoDropDownList();
        });
        $(document).ready(function() {
            $("#id_individual_region").kendoDropDownList();
        });
        $(document).ready(function() {
            $("#id_individual_country").kendoDropDownList();
        });
        $(document).ready(function() {
            $("#id_business_region").kendoDropDownList();
        });
    </script>
{% endblock %}
