.legal-logo {
  background-image: image-url("logo.png");
  background-size: cover;
  margin-bottom: 62px;
  width: auto;
  height: 244px;
  margin-left: auto;
  margin-right: auto;
  //@include border-radius(9000px);
  @include media(mobile) {
    margin-bottom: 50px;
    $scale-factor: 0.625;
    width: $scale-factor * 216px;
    height: $scale-factor * 228px;
  }
}

.legal-container {
  //padding-top: 5%;
  //padding-bottom: 5%;
  //padding-left: 10%;
  //padding
  padding: 5% 10%;
  min-height: 125vh;
  line-height: 1.6875;

  .title {
    text-transform: uppercase;
    font-family: $bold-font;
    margin-bottom: 45px;
    text-align: center;
  }

  .subtitle {
    font-family: $regular-font;
    margin-top: 30px;
  }

  p, .paragraph {
    font-size: 16px;
    margin: 1em 0;
  }
}