.checkout-container {
  .k-secondary, .k-primary {
    width: 100%;
  }
  @extend %card-container;
  min-height: 125vh;
  //width: 100%;

  .checkout-card {
    @extend %card;
    padding: 30px;
  }

  .total-cost {
    font-size: 200%;
  }

  .total-container {
    .progress-circular {
      margin-top: 15px;
    }
    .purchase-button {
      margin-bottom: 15px;
    }
  }

  .title-container {
    margin-bottom: 20px;
  }

  .input-prefix {
    $padding: 13.5px;
    padding-top: $padding;
    padding-bottom: $padding;
  }

  .message-container {
    font-size: 125%;
  }

  #coupon-form {
    margin-top: 20px;
    .input-gang {
      width: 75%;
      @include media(tablet) {
        width: 100%;
      }
    }
    .button-container {
      .coupon-button {
        width: 100%;
        //margin-top: 30px;
      }
    }
  }

  #stripe-form {
    .input-gang {
      .input-container {
        margin-bottom: 0;
        @include media(tablet) {
          margin-bottom: 5%;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.success-container {
  @extend .checkout-container;
  .create-rental-button {
    margin-top: 15px;
  }
}