.plan-content {
  @extend %card-container;
  min-height: 125vh;
  width: 100%;

  .title-container {
    $title-font-size: 425%;
    .title {
      font-size: $title-font-size;
    }
    .subtitle {
      font-size: $title-font-size * 0.375;
      margin-bottom: 60px;
    }
    @include media(tablet) {
      $title-font-size: 300%;
      .title {
        font-size: $title-font-size;
      }
      .subtitle {
        font-size: $title-font-size * 0.375;
      }
    }
    @include media(mobile) {
      $title-font-size: 250%;
      .title {
        font-size: $title-font-size;
      }
      .subtitle {
        font-size: $title-font-size * 0.375;
        margin-bottom: 30px;
      }
    }
  }

  .plan-container {
    max-width: 800px;
    .plan-card {
      width: 48%;
      margin-right: 2%;
      display: inline-block;
      text-align: center;
      &:nth-child(2n+2) {
        margin-right: 0;
      }
      @include media(tablet) {
        width: 100%;
        display: block;
        &:nth-child(n) {
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
  }

  .plan-card {
    @extend %card;
    max-width: 400px;
    padding: 0;
    .title {
      color: white;
      background-color: $primary-color;
      padding: 15px;
      margin: 0;
    }
    .content {
      padding: 0 30px 30px 30px;
      .signup {
        width: 100%;
        margin-top: 80px;
      }
      .feature-container,
      .price-container {
        padding-top: 15px;
        padding-bottom: 15px;
      }
      .feature-container {
        width: 225px;
        margin-left: 25%;
        @include media(mobile) {
          margin-left: 20%;
        }
      }
      .feature {
        font-size: 125%;
        .fa-check {
          color: #3f8000;
        }
      }
      .fine-print {
        margin-top: -20px;
        font-size: 95%;
        @include media(desktop) {
          margin-top: -10px;
        }
      }
      .price {
        margin: 0;
        $price-font-size: 575%;
        font-size: $price-font-size;
        .units {
          font-size: $price-font-size / 13;
        }
        sup {
          font-size: $price-font-size / 10.4;
        }

        @include media(desktop) {
          $desktop-font-size: $price-font-size * 0.75;
          font-size: $desktop-font-size;
          .units {
            font-size: $desktop-font-size / 13;
          }
          sup {
            top: -0.875em;
            font-size: $desktop-font-size / 10.4;
          }
        }
        @include media(tablet) {
          $tablet-font-size: 525%;
          font-size: $tablet-font-size;
          .units {
            font-size: $tablet-font-size / 13;
          }
          sup {
            top: -0.5em;
            font-size: $tablet-font-size / 10.4;
          }
        }
      }
    }
  }
}