{% if is_production_environment | bool %}
{% set compose_file_path = '/opt/gouda/production.yml' %}
{% set num_webs = 3 %}
{% set num_workers = 3 %}
{% set num_thumbors = 3 %}
{% else %}
{% set compose_file_path = '/opt/gouda/test.yml' %}
{% set num_webs = 3 %}
{% set num_workers = 2 %}
{% set num_thumbors = 3 %}
{% endif %}
[Unit]
Description=Docker Registry
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0

Environment="VERSION={{ version }}" "STATICFILES_VERSION={{ staticfiles_version }}"
ExecStartPre=-/usr/local/bin/docker-compose --verbose -p gouda -f /opt/gouda/common.yml -f {{ compose_file_path }} kill
ExecStartPre=-/usr/local/bin/docker-compose --verbose -p gouda -f /opt/gouda/common.yml -f {{ compose_file_path }} rm -f
ExecStartPre=/usr/local/bin/docker-compose --verbose -p gouda -f /opt/gouda/common.yml -f {{ compose_file_path }} run worker ./manage.py migrate --noinput
ExecStartPre=/usr/local/bin/docker-compose --verbose -p gouda -f /opt/gouda/common.yml -f {{ compose_file_path }} up -d postgres rabbitmq redis thumbor web
ExecStartPre=/usr/local/bin/docker-compose --verbose -p gouda -f /opt/gouda/common.yml -f {{ compose_file_path }} scale thumbor={{ num_thumbors }}
ExecStartPre=/usr/local/bin/docker-compose --verbose -p gouda -f /opt/gouda/common.yml -f {{ compose_file_path }} scale web={{ num_webs }}

ExecStart=/usr/local/bin/docker-compose --verbose -p gouda -f /opt/gouda/common.yml -f {{ compose_file_path }} up haproxy worker celery

ExecStartPost=/usr/local/bin/docker-compose --verbose -p gouda -f /opt/gouda/common.yml -f {{ compose_file_path }} scale worker={{ num_workers }}
ExecStartPost=/usr/local/bin/docker-compose --verbose -p gouda -f /opt/gouda/common.yml -f {{ compose_file_path }} run worker ./manage.py create_site
ExecStartPost=-/usr/local/bin/docker-compose --verbose -p gouda -f /opt/gouda/common.yml -f {{ compose_file_path }} run worker ./manage.py clear_cache

ExecStop=/usr/local/bin/docker-compose --verbose -p gouda -f /opt/gouda/common.yml -f {{ compose_file_path }} stop

[Install]
WantedBy=multi-user.target
