.manage-account {
  max-width: $dashboard-content-max-width;
  @include media(mobile) {
    margin-right: 0;
    margin-left: 0;
  }
  .content {
    @extend %card;
    .input-gang {
      padding-top: 15px;
      padding-bottom: 15px;

      label {
        color: $muted-text-color;
      }

      .k-dropdown {
        position: relative;
        top: 6px;
        padding-bottom: 6px;
      }

      @include media(tablet) {
        padding-top: 15px;
        padding-bottom: 15px;
      }

    }
  }
}