.manage-bookings {
  max-width: $dashboard-content-max-width;
  .sidebar {
    @extend %sidebar;
  }
  .content {
    padding-right: 30px;
    @include media(mobile) {
      padding-right: 15px;
    }
  }
  .booking {
    margin-bottom: 30px;
    .content {
      @extend %card;
      margin-bottom: 0;
      position: relative;
      p {
        margin-bottom: 5px;
      }
      .title {
        font-family: $regular-font;
        margin-top: 0;
      }

      .profile-image-container {
        width: 57px;
        height: 57px;
        top: -27px;
        left: -47px;
        border-width: 5px;
        position: absolute;
        .overlay {
          display: none;
        }
        @include media(mobile) {
          display: none;
        }
      }
    }

    .booking-status-form {
      @mixin button-color($color) {
          background-color: $color;
          border-color: $color;
          &:hover, &:focus {
            background-color: darken($color, 5%);
            border-color: darken($color, 5%);
          }
      }
      @include card-box-shadow();
      .col-btn {
        padding: 0;
        .k-button {
          @include border-radius(0);
          @include box-shadow(none);
        }
        .accept-button {
          @include button-color(#00AF00);
        }
        .decline-button {
          @include button-color(#AF0000);
        }
      }
    }


  }
}