.manage-listings {
  .rental {
    //@extend %card;
    max-width: $dashboard-content-max-width;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 250px;
    @include media(mobile) {
      margin-bottom: 15px;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .image {
      @include card-box-shadow();
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height: 100%;
    }

    .content {
      @extend %card;
      margin-left: 10px;
      margin-right: -10px;
      margin-bottom: 0;
      height: 100%;

      @include media(tablet) {
        margin-left: 0;
        margin-right: 0;
      }

      .title {
        @include media(mobile) {
          font-size: 120%;
        }
      }

      a {
        &:hover, &:focus {
          text-decoration: none;
        }
      }

      %status {
        text-transform: uppercase;
      }

      .active {
        @extend %status;
        color: green;
      }
      .inactive {
        @extend %status;
        color: $muted-text-color;
      }
      .pending {
        @extend %status;
        color: orange;
      }
    }
  }

}