<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Invoice</title>
    <style>
        .invoice-box{
            max-width:800px;
            margin:auto;
            padding:30px;
            border:1px solid #eee;
            box-shadow:0 0 10px rgba(0, 0, 0, .15);
            font-size:16px;
            line-height:24px;
            font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color:#555;
        }

        .invoice-box table{
            width:100%;
            line-height:inherit;
            text-align:left;
        }

        .invoice-box table td{
            padding:5px;
            vertical-align:top;
        }

        .invoice-box table tr td:nth-child(3){
            text-align:right;
        }

        .invoice-box table tr.top table td{
            padding-bottom:20px;
        }

        .invoice-box table tr.top table td.title{
            font-size:45px;
            line-height:45px;
            color:#333;
        }

        .invoice-box table tr.information table td{
            padding-bottom:40px;
        }

        .invoice-box table tr.heading td{
            background:#eee;
            border-bottom:1px solid #ddd;
            font-weight:bold;
        }

        .invoice-box table tr.details td{
            padding-bottom:20px;
        }

        .invoice-box table tr.item td{
            border-bottom:1px solid #eee;
        }

        .invoice-box table tr.item.last td{
            border-bottom:none;
        }

        .invoice-box table tr.total td:nth-child(2){
            border-top:2px solid #eee;
            font-weight:bold;
        }

        @media only screen and (max-width: 600px) {
            .invoice-box table tr.top table td{
                width:100%;
                display:block;
                text-align:center;
            }

            .invoice-box table tr.information table td{
                width:100%;
                display:block;
                text-align:center;
            }
        }
    </style>
</head>

<body>
<div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="3">
                <table>
                    <tr>
                        <td>
                            Bill to:<br>
                            Postmates Inc<br>
                            425 Market Street, 8th Fl<br>
                            San Francisco, CA 94105<br>
                        </td>
                        <td></td>
                        <td>
                            Created: {{ date_created|date:"F j, Y" }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="information">
            <td colspan="3">
                <table>
                    <tr>
                        <td>
                            SHOTZU<br>
                            2024 R Street, NW<br>
                            Washington, DC 20009
                        </td>
                        <td></td>
                        <td>
                            Invoice Number:<br>
                            {% now "mdY" %}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="heading">
            <td>
                Shoot Location
            </td>
            <td>
                Items Shot
            </td>
            <td>
                Price
            </td>
        </tr>
        {% for booking in bookings %}
            <tr class="item">
                <td>
                    {{ booking.restaurant_name|default_if_none:booking.get_display_name }}
                </td>
                <td>
                    {{ booking.num_shots }}
                </td>
                <td>
                    ${{ booking.amount }}
                </td>
            </tr>
        {% endfor %}
        <tr class="total">
            <td>Terms: Net 30</td>
            <td></td>

            <td>
                Total: ${{ amount }}
            </td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <td colspan="3">
                ACH Info:<br/>
                Julian Everly Creative Ventures, Inc<br/>
                PNC Bank<br/>
                1913 Massachusetts Ave NW<br/>
                Washington, DC 20036<br/>
                Routing # 054000030<br/>
                Account # 5348578199<br/>
            </td>
        </tr>
    </table>
</div>
</body>
</html>