{% extends "listings/base.html" %}
{% load styles %}
{% block nav %}
    <nav class="{% block nav_classes %}navbar navbar--default navbar--checkout{% endblock %}" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand hvr-fade" href="{% url 'index' %}">{{ site_display_name }}</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-target">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="checkout-progress-container nav navbar-nav navbar-right">
                <ul class="nav navbar-nav navbar-right">
                    <li>Shipping<span class="fa fa-circle progress-icon-background"></span><span class="fa {% checkout_progress_class request 'listings:shipping_address_create' %} progress-icon"></span></li>
                    <li>Payment<span class="fa fa-circle progress-icon-background"></span><span class="fa {% checkout_progress_class request 'listings:customer_create' %} progress-icon"></span></li>
                    <li>Submit<span class="fa fa-circle progress-icon-background"></span><span class="fa {% checkout_progress_class request 'listings:review_order' %} progress-icon"></span></li>
                </ul>
                <div class="line"></div>
            </div>
        </div>
    </nav>
{% endblock %}
{% block html_attributes %}ng-app="gouda.listings.apps.ListingApp"{% endblock %}
