{% extends "listings/checkout/base.html" %}
{% block content %}
    <section id="content" class="checkout">
        <div class="container-fluid">
            <div class="card">
                <h1 class="title">Enter your payment information</h1>
                <div class="text-center divider-container">
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                </div>
                <form id="customer-create-form" novalidate ng-controller="CustomerCreateFormController" name="form" method="post" ng-submit="submit($event)" action="{{ request.path }}"
                      full-name="{{ shipping_address.full_name }}"
                      street-address="{{ shipping_address.street_address }}"
                      sub-premise="{{ shipping_address.sub_premise }}"
                      postal-code="{{ shipping_address.postal_code }}"
                      locality="{{ shipping_address.locality }}"
                      region="{{ shipping_address.region }}"
                      country="{{ shipping_address.country }}">
                    {% csrf_token %}
                    {{ form.user }}
                    {{ form.payment_method_nonce }}
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Card Number</label>
                            <div class="input-addon">
                                <span class="fa fa-credit-card input-prefix"></span>
                                <input payments-validate="card" payments-type-model="type" ng-model="cardNumber" payments-format="card" class="k-textbox" required/>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <label>Expiration Date</label>
                            <div class="input-addon">
                                <span class="fa fa-calendar input-prefix"></span>
                                <input payments-validate="expiry" payments-format="expiry" ng-model="expirationDate" class="k-textbox" placeholder="MM/YY" required/>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label>Security Code</label>
                            <div class="input-addon">
                                <span class="fa fa-lock input-prefix"></span>
                                <input payments-validate="cvc" payments-format="cvc" ng-model="securityCode" class="k-textbox" required/>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <label>Name on card</label>
                            {{ form.cardholder_name }}
                        </div>
                        <div class="col-xs-12" ng-show="doDisableAddressForm">
                            <md-checkbox ng-model="doDisableAddressForm">My billing address is the same as my shipping address</md-checkbox>
                        </div>
                    </div>

                    <div ng-cloak ng-hide="doDisableAddressForm">
                        <div class="row">
                            <div class="col-xs-12">
                                <label>Country</label>
                                {{ form.country }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <label>Full Name</label>
                                {{ form.full_name }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-8">
                                <label>Street Address</label>
                                {{ form.street_address }}
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <label>Apt, Suite, Bldg. (optional)</label>
                                {{ form.sub_premise }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <label>City</label>
                                {{ form.locality }}
                            </div>
                            <div ng-hide="doShowRegionDropdown()" class="col-xs-12 col-sm-4">
                                <label>State</label>
                                {{ form.region }}
                            </div>
                            <div ng-show="doShowRegionDropdown()" class="col-xs-12 col-sm-4">
                                <label>State</label>
                                <select ng-cloak ng-model="region" required kendo-drop-down-list="regionDropDownList" k-options="regionDropDownListOptions"></select>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <label>ZIP Code</label>
                                {{ form.postal_code }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                        <kendo-button type="submit" k-ng-disabled="isUploading || !isFormValid() || didFail" ng-cloak class="k-primary">Continue</kendo-button>
                        <md-progress-circular ng-cloak ng-show="isUploading" md-mode="indeterminate" class="center-block progress-circular"></md-progress-circular>
                        <div ng-cloak ng-show="!isUploading && didFail" class="text-center message-container">
                            <p class="ng-invalid">There was an error processing your payment details <span class="fa fa-frown-o"></span></p>
                            <p class="ng-invalid">Please contact {{ support_email }}</p>
                        </div>
                        </div>
                    </div>
                    {{ form.errors }}
                </form>
            </div>
        </div>
    </section>
{% endblock %}
