{% extends "listings/checkout/base.html" %}
{% block content %}
    <section id="content" class="form-content">
        <div class="container-fluid">
            <div class="card">
                <h1 class="title">Enter your shipping address</h1>
                <div class="text-center divider-container">
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                </div>
                <form novalidate ng-controller="ShippingAddressFormController" method="post" action="{{ request.path }}" full-name="{{ request.user.full_name }}" role="form" name="form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Country</label>
                            {{ form.country }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Full Name</label>
                            {{ form.full_name }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <label>Street Address</label>
                            {{ form.street_address }}
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <label>Apt, Suite, Bldg. (optional)</label>
                            {{ form.sub_premise }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <label>City</label>
                            {{ form.locality }}
                        </div>
                        <div ng-hide="doShowRegionDropdown()" class="col-xs-12 col-sm-4">
                            <label>State</label>
                            {{ form.region }}
                        </div>
                        <div ng-show="doShowRegionDropdown()" class="col-xs-12 col-sm-4">
                            <label>State</label>
                            <select ng-cloak ng-model="region" required kendo-drop-down-list="regionDropDownList" k-options="regionDropDownListOptions"></select>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <label>ZIP Code</label>
                            {{ form.postal_code }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <kendo-button ng-cloak k-ng-disabled="!isFormValid()" type="submit" class="k-primary">Continue</kendo-button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
