@font-face {
  font-family: "MonsterratAlternates-Regular";
  src: url('../fonts/montserrat-alternates/MontserratAlternates-Regular.eot?1429216654') format('embedded-opentype'), url('../fonts/montserrat-alternates/MontserratAlternates-Regular.otf?1429216654') format('opentype'), url('../fonts/montserrat-alternates/MontserratAlternates-Regular.svg?1429216654') format('svg'), url('../fonts/montserrat-alternates/MontserratAlternates-Regular.ttf?1429216654') format('truetype'), url('../fonts/montserrat-alternates/MontserratAlternates-Regular.woff?1429216654') format('woff');
}
@font-face {
  font-family: "MonsterratAlternates-Bold";
  src: url('../fonts/montserrat-alternates/MontserratAlternates-Bold.eot?1429216654') format('embedded-opentype'), url('../fonts/montserrat-alternates/MontserratAlternates-Bold.otf?1429216654') format('opentype'), url('../fonts/montserrat-alternates/MontserratAlternates-Bold.svg?1429216654') format('svg'), url('../fonts/montserrat-alternates/MontserratAlternates-Bold.ttf?1429216654') format('truetype'), url('../fonts/montserrat-alternates/MontserratAlternates-Bold.woff?1429216654') format('woff');
}
@font-face {
  font-family: "Monsterrat-Regular";
  src: url('../fonts/montserrat/Montserrat-Regular.eot?1429216654') format('embedded-opentype'), url('../fonts/montserrat/Montserrat-Regular.otf?1429216654') format('opentype'), url('../fonts/montserrat/Montserrat-Regular.svg?1429216654') format('svg'), url('../fonts/montserrat/Montserrat-Regular.ttf?1429216654') format('truetype'), url('../fonts/montserrat/Montserrat-Regular.woff?1429216654') format('woff');
}
@font-face {
  font-family: "Monsterrat-Black";
  src: url('../fonts/montserrat/Montserrat-Black.eot?1429216654') format('embedded-opentype'), url('../fonts/montserrat/Montserrat-Black.otf?1429216654') format('opentype'), url('../fonts/montserrat/Montserrat-Black.svg?1429216654') format('svg'), url('../fonts/montserrat/Montserrat-Black.ttf?1429216654') format('truetype'), url('../fonts/montserrat/Montserrat-Black.woff?1429216654') format('woff');
}
@font-face {
  font-family: "Monsterrat-Bold";
  src: url('../fonts/montserrat/Montserrat-Bold.eot?1429216654') format('embedded-opentype'), url('../fonts/montserrat/Montserrat-Bold.otf?1429216654') format('opentype'), url('../fonts/montserrat/Montserrat-Bold.svg?1429216654') format('svg'), url('../fonts/montserrat/Montserrat-Bold.ttf?1429216654') format('truetype'), url('../fonts/montserrat/Montserrat-Bold.woff?1429216654') format('woff');
}
@font-face {
  font-family: "Monsterrat-Hairline";
  src: url('../fonts/montserrat/Montserrat-Hairline.eot?1429216654') format('embedded-opentype'), url('../fonts/montserrat/Montserrat-Hairline.otf?1429216654') format('opentype'), url('../fonts/montserrat/Montserrat-Hairline.svg?1429216654') format('svg'), url('../fonts/montserrat/Montserrat-Hairline.ttf?1429216654') format('truetype'), url('../fonts/montserrat/Montserrat-Hairline.woff?1429216654') format('woff');
}
@font-face {
  font-family: "Monsterrat-Light";
  src: url('../fonts/montserrat/Montserrat-Light.eot?1429216654') format('embedded-opentype'), url('../fonts/montserrat/Montserrat-Light.otf?1429216654') format('opentype'), url('../fonts/montserrat/Montserrat-Light.svg?1429216654') format('svg'), url('../fonts/montserrat/Montserrat-Light.ttf?1429216654') format('truetype'), url('../fonts/montserrat/Montserrat-Light.woff?1429216654') format('woff');
}
html, body {
  color: #414141;
  font-family: "Monsterrat-Light", sans-serif;
}

a {
  color: #F88379;
}
a:hover, a:focus, a:active {
  color: #f44030;
}

body {
  height: auto;
}

#content {
  background-color: #dadada;
}

input.ng-invalid.ng-dirty, textarea.ng-invalid.ng-dirty {
  border-color: rgba(255, 0, 0, 0.125);
  background-color: rgba(255, 0, 0, 0.07);
}

p.ng-invalid, h4.ng-invalid {
  color: #af0000;
}
p.ng-valid, h4.ng-valid {
  color: #00af00;
}

.rating-star {
  color: #ffb400;
}

.mj-rating-star {
  color: #ffb400;
}
.mj-rating-star.empty {
  color: #c8c8c8;
}

.navbar--search {
  background-color: transparent;
  padding: 0% 0 0% 0;
}
.navbar--search a:focus, .navbar--search ul li a:focus {
  color: #F88379;
}
@media only screen and (max-width: 767px) {
  .navbar--search a, .navbar--search ul li a {
    color: white;
  }
  .navbar--search a:focus, .navbar--search a:hover, .navbar--search ul li a:focus, .navbar--search ul li a:hover {
    color: #F88379;
    background-color: transparent;
  }
}
@media only screen and (max-width: 767px) {
  .navbar--search {
    padding: 0 0;
    background-color: #414141;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  }
}

.navbar-brand {
  font-family: "Monsterrat-Regular", sans-serif;
  color: #ffffff;
  font-size: 250%;
  text-transform: uppercase;
}
.navbar-brand:hover, .navbar-brand:focus {
  background-color: transparent;
  color: #ffffff;
}
@media only screen and (max-width: 767px) {
  .navbar-brand {
    font-size: 200%;
  }
}

.nav-link-container li a {
  font-family: "Monsterrat-Light", sans-serif;
  margin: 0px 12px;
  text-transform: uppercase;
  color: #ffffff;
}
.nav-link-container li a:hover {
  background-color: transparent;
  color: #F88379;
}
@media only screen and (max-width: 767px) {
  .nav-link-container li a:hover {
    color: #d9d9d9;
  }
}
.nav-link-container li a.active {
  color: #F88379;
}
.nav-link-container li a:focus {
  color: inherit;
  background-color: transparent;
}

.profile-image-container {
  border: 7px solid #dadada;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  -moz-border-radius: 9000px;
  -webkit-border-radius: 9000px;
  border-radius: 9000px;
}
.profile-image-container .profile-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  border: none;
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 9000px;
  -webkit-border-radius: 9000px;
  border-radius: 9000px;
}
.profile-image-container .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(218, 218, 218, 0.25);
  z-index: 5;
  -moz-border-radius: 9000px;
  -webkit-border-radius: 9000px;
  border-radius: 9000px;
}

.nav-profile-link-container {
  position: relative;
  overflow: visible;
}

.icon-bar {
  background-color: white;
}

.nav-profile-image {
  height: 35px;
  width: 35px;
  margin: 0px 10px;
  border: 2px solid white;
  position: absolute;
  top: 7.5px;
  left: -5.625px;
}
@media only screen and (max-width: 767px) {
  .nav-profile-image {
    display: none;
  }
}

#nav-list-your-pad {
  border: 1px solid #F88379;
  color: #F88379;
  background-color: transparent;
  margin-top: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  #nav-list-your-pad {
    border: none;
  }
}
#nav-list-your-pad:hover, #nav-list-your-pad:focus {
  background-color: #F88379;
  color: #ffffff;
}
@media only screen and (max-width: 767px) {
  #nav-list-your-pad:hover, #nav-list-your-pad:focus {
    color: #F88379;
    background-color: transparent;
  }
}

#nav-profile-link {
  text-transform: capitalize;
  padding-left: 50px;
}
@media only screen and (max-width: 767px) {
  #nav-profile-link {
    padding-left: 15px;
  }
}

#nav-link--btn {
  border: 1px solid #F88379;
  color: #F88379;
  background-color: transparent;
}
@media only screen and (max-width: 767px) {
  #nav-link--btn {
    border: none;
    color: #ffffff;
  }
}
#nav-link--btn:hover, #nav-link--btn:focus {
  background-color: #F88379;
  color: #ffffff;
}
@media only screen and (max-width: 767px) {
  #nav-link--btn:hover, #nav-link--btn:focus {
    background-color: transparent;
    color: #d9d9d9;
  }
}

.footer {
  padding: 2% 0 2% 0;
  background-color: #000000;
  color: #ffffff;
}
.footer__copyright {
  font-family: "Monsterrat-Light", sans-serif;
  padding: 10px 0;
}
.footer__icon-container {
  padding: 5px 0;
}
.footer__icon {
  padding: 0 5px 0 5px;
  color: #ffffff;
}
.footer__icon:hover, .footer__icon:focus {
  background-color: transparent;
  color: white;
  text-decoration: none;
}
.footer__icon--mail {
  font-size: 1.58em;
}
.footer .link-container {
  padding: 5px 0;
}
.footer .link-container a {
  color: white;
  text-transform: uppercase;
}
.footer .link-container a:hover, .footer .link-container a:focus {
  color: white;
}
.footer .link-container .fa-circle {
  font-size: 0.5em;
  padding: 0 15px;
  position: relative;
  top: -2px;
}

.input-group--addon {
  position: relative;
}
.input-group--addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.left-addon .fa {
  left: 0px;
}
.left-addon .form-control {
  padding-left: 50px;
}

.right-addon .fa {
  right: 0px;
}
.right-addon input {
  padding-right: 50px;
}

.form-control:focus, .selectize-input.focus, .btn:focus {
  border-color: #F88379;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(199, 90, 105, 0.6);
}

.fancy-btn, .fancy-btn--white {
  font-family: "Monsterrat-Light", sans-serif;
  text-transform: uppercase;
  padding: 10px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.fancy-btn:hover, .fancy-btn--white:hover, .fancy-btn:focus, .fancy-btn--white:focus {
  border-color: #F88379;
}

.fancy-btn--white {
  color: #F88379;
  background-color: #ffffff;
  border-color: #F88379;
}
.fancy-btn--white:hover, .fancy-btn--white:focus {
  background-color: #F88379;
  color: #ffffff;
}

.spinner {
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}
.spinner div {
  background-color: #414141;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.navbar--default {
  margin-bottom: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.14), 0 2px 4px rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.14), 0 2px 4px rgba(0, 0, 0, 0.28);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.14), 0 2px 4px rgba(0, 0, 0, 0.28);
  background-color: white;
}
.navbar--default .icon-bar {
  background-color: #414141;
}
.navbar--default a, .navbar--default ul li a {
  color: #414141;
}
.navbar--default a:focus, .navbar--default a:hover, .navbar--default ul li a:focus, .navbar--default ul li a:hover {
  color: #F88379;
}
@media only screen and (max-width: 767px) {
  .navbar--default a:focus, .navbar--default a:hover, .navbar--default ul li a:focus, .navbar--default ul li a:hover {
    background-color: transparent;
  }
}

@-moz-keyframes stretchdelay {
  0%, 40%, 100% {
    -moz-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -moz-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes stretchdelay {
  0%, 40%, 100% {
    -moz-transform: scaleY(0.4);
    -ms-transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.pagination {
  -moz-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
  font-family: "Monsterrat-Light", sans-serif;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.pagination .previous {
  border-right: 2px solid #dadada;
}
.pagination .next {
  border-left: 1px solid #dadada;
}
.pagination li:first-child a, .pagination li:last-child a {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.pagination li a {
  font-size: 100%;
  padding: 15px;
  color: #F88379;
  border: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.pagination li a:hover, .pagination li a:focus {
  color: #F88379;
  background-color: #f2f2f2;
}
.pagination li a.fa-ellipsis-h {
  pointer-events: none;
  cursor: default;
}
.pagination li a.selected {
  color: white;
  background-color: #f44030;
}

input.k-textbox, textarea.k-textbox {
  color: #555;
  font-size: 125%;
  font-family: "Monsterrat-Light", sans-serif;
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid #ccc;
}
input.k-textbox:hover, input.k-textbox:focus, textarea.k-textbox:hover, textarea.k-textbox:focus {
  width: 99%;
  margin-left: 2px;
  -moz-box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.3);
}

.k-ff input.k-textbox {
  height: 50px;
}

textarea.k-textbox {
  height: 200px;
  padding: 0.5em 1em;
}

.k-dropdown {
  color: #555;
  font-size: 125%;
  font-family: "Monsterrat-Light", sans-serif;
  margin-top: -7px;
  width: 100%;
  height: 50px;
}
.k-dropdown .k-dropdown-wrap {
  border: 1px solid #ccc;
  height: 100%;
}
.k-dropdown .k-dropdown-wrap.k-state-hover, .k-dropdown .k-dropdown-wrap.k-state-focused {
  border: none;
  margin-top: -2px;
  -moz-box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.3);
}
.k-dropdown .k-dropdown-wrap .k-input {
  margin-top: 4px;
}
.k-dropdown .k-dropdown-wrap .k-select .k-icon {
  margin-top: 17px;
}

.k-list .k-state-selected {
  color: #F88379;
}

.k-list > .k-state-selected.k-state-focused {
  color: #F88379;
}

.k-datepicker {
  width: 100%;
  margin-top: -5px;
}
.k-datepicker.ng-invalid .k-picker-wrap {
  border-color: red;
}
.k-datepicker.ng-invalid .k-picker-wrap.k-state-hover, .k-datepicker.ng-invalid .k-picker-wrap.k-state-focused {
  margin-top: -2px;
  border: 1px solid red;
  -moz-box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.3);
}
.k-datepicker .k-picker-wrap {
  border: 1px solid #ccc;
  height: 50px;
}
.k-datepicker .k-picker-wrap.k-state-hover, .k-datepicker .k-picker-wrap.k-state-focused {
  border: none;
  margin-top: -2px;
  -moz-box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.3);
}
.k-datepicker .k-picker-wrap .k-input {
  color: #555;
  font-size: 125%;
  font-family: "Monsterrat-Light", sans-serif;
}
.k-datepicker .k-picker-wrap .k-select {
  border-left-width: 0px;
}
.k-datepicker .k-picker-wrap .k-select .k-i-calendar {
  margin-top: 16px;
}

.k-nav-next.k-state-hover, .k-nav-prev.k-state-hover {
  background-color: yellow;
  background: none;
}
.k-nav-next:hover, .k-nav-prev:hover {
  background-color: yellow;
  background: none;
}
.k-nav-next .k-icon, .k-nav-prev .k-icon {
  margin-top: 10px;
}
.k-nav-next .k-icon:hover, .k-nav-prev .k-icon:hover {
  color: yellow;
}

.k-widget .k-footer .k-link {
  color: #F88379;
}
.k-widget .k-header {
  background-color: #F88379;
}
.k-widget .k-header .k-link:hover {
  background-color: #f44030;
}

.k-calendar td.k-state-selected {
  background-color: #F88379;
}

.k-slider-wrap .k-slider-track .k-slider-selection {
  background-color: #F88379;
}
.k-slider-wrap .k-slider-track .k-draghandle {
  background-color: #F88379;
  border-color: #F88379;
  -moz-transition-property: width, height, top;
  -o-transition-property: width, height, top;
  -webkit-transition-property: width, height, top;
  transition-property: width, height, top;
  -moz-transition-duration: 0.125s;
  -o-transition-duration: 0.125s;
  -webkit-transition-duration: 0.125s;
  transition-duration: 0.125s;
}
.k-slider-wrap .k-slider-track .k-draghandle:hover, .k-slider-wrap .k-slider-track .k-draghandle:focus {
  outline-color: #f44030;
  color: #F88379;
  -moz-box-shadow: 0 0 0 8px rgba(248, 131, 121, 0.3);
  -webkit-box-shadow: 0 0 0 8px rgba(248, 131, 121, 0.3);
  box-shadow: 0 0 0 8px rgba(248, 131, 121, 0.3);
}

.k-primary, .k-primary-inverted, .k-secondary {
  background-color: #F88379;
  border-color: #F88379;
  -moz-transition-property: background-color, color, border-color;
  -o-transition-property: background-color, color, border-color;
  -webkit-transition-property: background-color, color, border-color;
  transition-property: background-color, color, border-color;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.k-primary:hover, .k-primary-inverted:hover, .k-secondary:hover, .k-primary:focus, .k-primary-inverted:focus, .k-secondary:focus, .k-primary:active, .k-primary-inverted:active, .k-secondary:active, .k-primary:active:hover, .k-primary-inverted:active:hover, .k-secondary:active:hover {
  border-color: #f66155;
  background-color: #f66155;
}

.k-primary-inverted, .k-secondary {
  background-color: white;
  border-color: #F88379;
  color: #F88379;
}
.k-primary-inverted:hover, .k-secondary:hover, .k-primary-inverted:focus, .k-secondary:focus, .k-primary-inverted:active, .k-secondary:active, .k-primary-inverted:active:hover, .k-secondary:active:hover {
  border-color: #F88379;
  background-color: #F88379;
  color: white;
}

.k-secondary:hover, .k-secondary:focus, .k-secondary:active, .k-secondary:active:hover {
  border-color: #f44030;
  background-color: white;
  color: #f44030;
}
.k-secondary.k-state-disabled {
  background-color: #eaeaea;
}
.k-secondary.k-state-disabled:hover, .k-secondary.k-state-disabled:focus, .k-secondary.k-state-disabled:active, .k-secondary.k-state-disabled:active:hover {
  background-color: #eaeaea;
  color: #999;
}

.k-button {
  height: 50px;
  width: 100%;
  font-size: 125%;
}

.angular-google-map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.angular-google-map {
  width: 100%;
  height: 100%;
}

.bold-font {
  font-family: "Monsterrat-Bold", bold;
}

.regular-font {
  font-family: "Monsterrat-Regular", sans-serif;
}

.light-font {
  font-family: "Monsterrat-Light", sans-serif;
}

.text-muted {
  color: #828282;
}

.text-muted-accent {
  color: #df9790;
}

md-checkbox.md-default-theme.md-checked .md-icon {
  background-color: rgba(248, 131, 121, 0.87);
  color: white;
}

md-tooltip {
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.input-addon {
  position: relative;
}
.input-addon .input-prefix,
.input-addon .input-suffix {
  text-align: center;
  width: 50px;
  color: #555;
  background-color: #e2e2e2;
  border: 1px solid #ccc;
  font-size: 1.5em;
  padding: 9px;
  top: 0;
  position: absolute;
  z-index: 2;
}
.input-addon .input-prefix {
  left: 0;
}
.input-addon .input-suffix {
  right: 0;
}
.input-addon input {
  padding-left: 42px;
}

.input-container {
  overflow: visible;
  margin-bottom: 5%;
}
.input-container .k-dropdown:hover, .input-container .k-dropdown:focus {
  position: relative;
  left: 2px;
  width: 99.5%;
}
.input-container label {
  font-size: 112.5%;
  color: #828282;
  margin-bottom: 10px;
}

.mj-dropzone, #dropzone {
  display: block;
}
.mj-dropzone .title, #dropzone .title {
  width: 100%;
  margin-bottom: 30px;
  background-color: transparent;
  font-family: "Monsterrat-Light", sans-serif;
}
.mj-dropzone .dropzone-previews, #dropzone .dropzone-previews {
  min-height: 750px;
  padding: 3%;
  background-color: #ededed;
}
.mj-dropzone .dz-image-preview, #dropzone .dz-image-preview {
  width: 30.75%;
  display: inline-block;
  position: relative;
  margin-right: 3%;
  margin-bottom: 3%;
}
@media only screen and (max-width: 767px) {
  .mj-dropzone .dz-image-preview, #dropzone .dz-image-preview {
    width: 48%;
  }
  .mj-dropzone .dz-image-preview:nth-child(n), #dropzone .dz-image-preview:nth-child(n) {
    margin-right: 2.5%;
  }
  .mj-dropzone .dz-image-preview:nth-child(2n+2), #dropzone .dz-image-preview:nth-child(2n+2) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 480px) {
  .mj-dropzone .dz-image-preview, #dropzone .dz-image-preview {
    width: 100%;
  }
  .mj-dropzone .dz-image-preview:nth-child(n), #dropzone .dz-image-preview:nth-child(n) {
    margin-right: 0;
  }
}
.mj-dropzone .dz-image-preview:nth-child(3n+3), #dropzone .dz-image-preview:nth-child(3n+3) {
  margin-right: 0;
}
.mj-dropzone .dz-image-preview.ng-invalid .dz-error, #dropzone .dz-image-preview.ng-invalid .dz-error {
  opacity: 1.0;
}
.mj-dropzone .dz-image-preview .dz-error, #dropzone .dz-image-preview .dz-error {
  position: absolute;
  display: table;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 0, 0, 0.75);
  color: white;
  z-index: 2;
}
.mj-dropzone .dz-image-preview .dz-error .title, #dropzone .dz-image-preview .dz-error .title {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 112.5%;
}
.mj-dropzone .dz-image-preview .dz-details, #dropzone .dz-image-preview .dz-details {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.mj-dropzone .dz-image-preview .dz-details .dz-remove, #dropzone .dz-image-preview .dz-details .dz-remove {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  color: white;
  background-color: black;
  opacity: 0.5;
  font-size: 150%;
  cursor: pointer;
  z-index: 3;
}
@media only screen and (max-width: 767px) {
  .mj-dropzone .dz-image-preview .dz-details .dz-remove, #dropzone .dz-image-preview .dz-details .dz-remove {
    padding: 5px;
  }
}
.mj-dropzone .dz-image-preview:after, #dropzone .dz-image-preview:after {
  padding-top: 100%;
  display: block;
  content: '';
}

md-progress-circular.md-default-theme .md-inner .md-right .md-half-circle {
  border-right-color: #F88379;
  border-top-color: #F88379;
}

md-progress-circular.md-default-theme .md-inner .md-left .md-half-circle {
  border-left-color: #F88379;
  border-top-color: #F88379;
}

md-progress-circular.md-default-theme .md-inner .md-gap {
  border-top-color: #F88379;
  border-bottom-color: #F88379;
}

.progress-circular-container {
  width: 100%;
}
.progress-circular-container md-progress-circular {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.invisible {
  visibility: hidden;
}

.gmap-marker-label {
  position: relative;
}
.gmap-marker-label .text {
  font-family: "Monsterrat-Regular", sans-serif;
  color: white;
  font-size: 140%;
  background-color: #414141;
  padding: 2px 4px;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}
.gmap-marker-label .text sup {
  top: -.35em;
}
.gmap-marker-label .triangle {
  position: static;
  margin-left: auto;
  margin-right: auto;
  width: 7px;
  height: 7px;
  border: 7px solid;
  border-color: #414141 transparent transparent transparent;
}

.kendo-input-addon {
  position: relative;
  top: 1px;
  left: -20px;
  font-size: 1.4em;
  margin-right: -10px;
}

.screen-lg {
  display: inherit;
}

@media only screen and (max-width: 770) {
  .screen-md {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .screen-sm, .screen-sm--only {
    display: none;
  }
}

.screen-xs, .screen-xs--only {
  display: none;
}
@media only screen and (max-width: 480px) {
  .screen-xs, .screen-xs--only {
    display: inherit;
  }
}

.screen-sm--only {
  display: none;
}
@media only screen and (max-width: 769) {
  .screen-sm--only {
    display: inherit;
  }
}

.mj-modal .close, .message-modal .close {
  font-size: 1.375em;
}
.mj-modal .modal-content, .message-modal .modal-content {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.mj-modal .row, .message-modal .row {
  padding-top: 15px;
}
.mj-modal .row:first-child, .message-modal .row:first-child {
  padding-top: 0;
}

.legal-logo {
  background-image: url('../images/logo.png?1458425010');
  background-size: cover;
  margin-bottom: 45px;
  width: 150px;
  height: 150px;
  -moz-border-radius: 9000px;
  -webkit-border-radius: 9000px;
  border-radius: 9000px;
}
@media only screen and (max-width: 480px) {
  .legal-logo {
    margin-bottom: 30px;
    width: 100px;
    height: 100px;
  }
}

.legal-container {
  padding: 5% 10%;
  min-height: 125vh;
  line-height: 1.6875;
}
.legal-container .title {
  text-transform: uppercase;
  font-family: "Monsterrat-Bold", bold;
  margin-bottom: 45px;
  text-align: center;
}
.legal-container .subtitle {
  font-family: "Monsterrat-Regular", sans-serif;
  margin-top: 30px;
}
.legal-container p {
  font-size: 16px;
  margin: 1em 0;
}
