<form name="form" class="rental-amenities-form" novalidate>
    <h2 class="text-center">Tell Travelers About Your Space</h2>
    <p class="text-center text-muted last">Every space on ISLAND is unique. Highlight what makes your listing welcoming so that it stands out to guests who want to stay in your area.</p>
    <hr/>
    <div class="amenities-gang">
        <h3 class="text-left title">Common Amenities</h3>
        <div class="input-container">
            <div ng-repeat="amenity in commonAmenities">
                <md-checkbox ng-checked="containsAmenity(amenity)" ng-click="toggleAmenity(amenity)">{{ amenity.label }}</md-checkbox>
                <i ng-if="amenity.tooltip" class="fa fa-question-circle"><md-tooltip>{{ amenity.tooltip }}</md-tooltip></i>
            </div>
        </div>
        <hr/>
        <h3 class="text-left title">Additional Amenities</h3>
        <div class="input-container">
            <div ng-repeat="amenity in additionalAmenities">
                <md-checkbox ng-checked="containsAmenity(amenity)" ng-click="toggleAmenity(amenity)">{{ amenity.label }}</md-checkbox>
                <i ng-if="amenity.tooltip" class="fa fa-question-circle"><md-tooltip>{{ amenity.tooltip }}</md-tooltip></i>
            </div>
        </div>
        <hr/>
        <h3 class="text-left title">Special Features</h3>
        <div class="input-container">
            <div ng-repeat="amenity in specialFeatures">
                <md-checkbox ng-checked="containsAmenity(amenity)" ng-click="toggleAmenity(amenity)">{{ amenity.label }}</md-checkbox>
                <i ng-if="amenity.tooltip" class="fa fa-question-circle"><md-tooltip>{{ amenity.tooltip }}</md-tooltip></i>
            </div>
        </div>
        <hr/>
        <h3 class="text-left title">Home Safety</h3>
        <div class="input-container">
            <div ng-repeat="amenity in homeSafety">
                <md-checkbox ng-checked="containsAmenity(amenity)" ng-click="toggleAmenity(amenity)">{{ amenity.label }}</md-checkbox>
                <i ng-if="amenity.tooltip" class="fa fa-question-circle"><md-tooltip>{{ amenity.tooltip }}</md-tooltip></i>
            </div>
        </div>
    </div>
    <div>
        <kendo-button ng-cloak id="next-button" k-ng-disabled="!isFormValid" type="button" ui-sref="createRental.photos" class="k-primary next-button">Next</kendo-button>
    </div>
</form>
