<form class="rental-form" novalidate>
    <h2 class="text-center">Help Travelers Find the Right Fit</h2>
    <p class="text-center text-muted last">People searching on ISLAND can filter by listing basics to find a space that matches their needs.</p>
    <hr/>
    <div class="room-container">
        <h3 class="text-center title">Rooms and Beds</h3>
        <div class="select-gang">
            <div class="input-container">
                <label for="numBedrooms">Bedrooms</label>
                <select name="numBedrooms" ng-cloak ng-model="numBedrooms" required kendo-drop-down-list="numBedroomsDropDownList" k-options="numBedroomsDropDownListOptions"></select>
            </div>

            <div class="input-container">
                <label for="numBeds">Beds</label>
                <select name="numBeds" ng-cloak ng-model="numBeds" required kendo-drop-down-list="numBedsDropDownList" k-options="numBedsDropDownListOptions"></select>
            </div>

            <div class="input-container">
                <label for="numBathrooms">Bathrooms</label>
                <select name="numBathrooms" ng-cloak ng-model="numBathrooms" required kendo-drop-down-list="numBathroomsDropDownList" k-options="numBathroomsDropDownListOptions"></select>
            </div>
        </div>
    </div>
    <hr/>
    <div class="listing-container">
        <h3 class="text-center title">Listing</h3>
        <div class="select-gang">
            <div class="input-container">
                <label for="buildingType">Building Type</label>
                <select name="buildingType" ng-cloak ng-model="buildingType" required kendo-drop-down-list="buildingTypeDropDownList" k-options="buildingTypeDropDownListOptions"></select>
            </div>

            <div class="input-container">
                <label for="roomType">Room Type</label>
                <select name="roomType" ng-cloak ng-model="roomType" required kendo-drop-down-list="roomTypeDropDownList" k-options="roomTypeDropDownListOptions"></select>
            </div>

            <div class="input-container">
                <label for="maxGuests">Accommodates</label>
                <select name="maxGuests" ng-cloak ng-model="maxGuests" required kendo-drop-down-list="maxGuestsDropDownList" k-options="maxGuestsDropDownListOptions"></select>
            </div>
        </div>
    </div>
    <div>
        <kendo-button ng-cloak type="button" ui-sref="createRental.description" class="k-primary next-button">Next</kendo-button>
    </div>
</form>