<form name="form" class="rental-description-form" novalidate>
    <h2 class="text-center">Tell Travelers About Your Space</h2>
    <p class="text-center text-muted last">Every space on ISLAND is unique. Highlight what makes your listing welcoming so that it stands out to guests who want to stay in your area.</p>
    <hr/>
    <div class="description-gang">
        <div class="input-container">
            <div>
                <p class="text-muted pull-right">{{ 35-title.length }} characters left</p>
                <label for="title">Listing Name</label>
            </div>
            <input ng-model="title" class="k-textbox" maxlength="35" ng-maxlength="35" placeholder="Be clear and descriptive" required/>
        </div>
        <div class="input-container">
            <div>
                <p class="text-muted pull-right">{{ 250-summary.length }} characters left</p>
                <label for="title">Summary</label>
            </div>
            <textarea ng-model="summary" class="k-textbox" maxlength="250" ng-maxlength="250" placeholder="Tell travelers what you love about the space. You can include details about the decor, the amenities it includes, and the neighborhood." ngMaxlength="250" required></textarea>
        </div>
    </div>
    <div>
        <kendo-button id="next-button" ng-cloak k-ng-disabled="!isFormValid" type="button" ui-sref="createRental.details" class="k-primary next-button">Next</kendo-button>
    </div>
</form>
