<form name="form" class="rental-details-form" novalidate>
    <h2 class="text-center">Add Details That Highlight Your Space and Hospitality</h2>
    <p class="text-center text-muted last">As a host, you can help your guests live like locals, relax in your space, or get ready for an important meeting. Let travelers know how you’ll welcome them.</p>
    <hr/>
    <div class="trip-gang">
        <h3 class="text-center title">The Trip</h3>
        <div class="input-container">
            <label for="space">The Space</label>
            <textarea ng-model="space" class="k-textbox" placeholder="You can add more information about what makes your space unique."></textarea>
        </div>
        <div class="input-container">
            <label for="guestAccess">Guest Access</label>
            <textarea ng-model="guestAccess" class="k-textbox" placeholder="Let travelers know what parts of the space they'll be able to access."></textarea>
        </div>
        <div class="input-container">
            <label for="interactionWithGuests">Interaction with Guests</label>
            <textarea ng-model="interactionWithGuests" class="k-textbox" placeholder="Tell guests if you'll be available to offer help throughout their stay."></textarea>
        </div>
        <div class="input-container">
            <label for="otherThingsToNote">Other Things to Note</label>
            <textarea ng-model="otherThingsToNote" class="k-textbox" placeholder="Let travelers know if there are other details that will impact their stay."></textarea>
        </div>
        <div class="input-container">
            <label for="houseRules">House Rules</label>
            <textarea ng-model="houseRules" class="k-textbox" placeholder="How do you expect your guests to behave?"></textarea>
        </div>
    </div>
    <hr/>
    <div class="neighborhood-gang">
        <h3 class="text-center title">The Neighborhood</h3>
        <div class="input-container">
            <label for="neighborhoodOverview">Overview</label>
            <textarea ng-model="neighborhoodOverview" class="k-textbox" placeholder="Show people looking at your listing page what makes your neighborhood unique."></textarea>
        </div>
        <div class="input-container">
            <label for="neighborhoodTravel">Getting Around</label>
            <textarea ng-model="neighborhoodTravel" class="k-textbox" placeholder="You can let travelers know if your listing is close to public transportation (or far from it). You can also mention nearby parking options."></textarea>
        </div>
    </div>
    <div>
        <kendo-button id="next-button" ng-cloak k-ng-disabled="!isFormValid" type="button" ui-sref="createRental.location" class="k-primary next-button">Next</kendo-button>
    </div>
</form>