<mj-info-window class="info-window">
    <div class="info-container">
        <a ng-href="{{ ::parameter.pageUrl }}" target="_blank">
            <div class="rental-image" ng-style={'background-image':"url({{::parameter.image.image|thumbnail:'480x260'}})"}>
                <p class="rental-price"><sup class="superscript">$</sup>{{ ::parameter.nightlyPrice | number:0 }}</p>
            </div>
        </a>
        <div class="rental-info">
            <a ng-href="{{ ::parameter.pageUrl }}" target="_blank"><h5 class="regular-font rental-title">{{ ::parameter.title }}</h5></a>
            <a ng-href="{{ ::parameter.pageUrl }}" target="_blank"><p class="rental-subtitle">{{ ::parameter.maxGuests }} guests<span class="fa fa-circle"></span>{{ ::parameter.numBedrooms }}BR<span class="fa fa-circle"></span><span>{{ ::parameter.numBathrooms|number }}BA</span></p></a>
        </div>
    </div>
</mj-info-window>
