<form name="form" class="rental-form" novalidate>
    <h2 class="text-center">Set Your Listing Location</h2>
    <p class="text-center text-muted last">Not only are you sharing your space, you're sharing your neighborhood. Travelers will use this information to find a place that is the right spot.</p>
    <hr/>
    <div class="location-gang">
        <h3 class="text-center title">Address</h3>
        <p class="text-center text-muted last">Guests will only see approximately where your listing is located in search results. Your exact address is private and will only be show to guests after you have confirmed their booking request.</p>
        <div ng-hide="doShowMap" class="select-gang">
            <div class="input-container">
                <label for="country">Country</label>
                <select name="country" ng-cloak ng-model="country" required kendo-drop-down-list="countryDropDownList" k-options="countryDropDownListOptions"></select>
            </div>
            <div class="input-container">
                <label for="rawStreetAddress">Street Address</label>
                <input name="rawStreetAddress" ng-model="rawStreetAddress" placeholder="e.g. 123 Main St." class="k-textbox" required />
            </div>
            <div class="input-container">
                <label for="rawSubPremise">Apt, Suite, Bldg. (optional)</label>
                <input ng-model="rawSubPremise" name="rawSubPremise" placeholder="e.g. Apt #7" class="k-textbox"/>
            </div>
            <div class="input-container">
                <label for="rawLocality">City</label>
                <input name="rawLocality" ng-model="rawLocality" placeholder="e.g. Denver" class="k-textbox"/>
            </div>
            <div class="input-container">
                <label for="rawRegion">State</label>
                <input name="rawRegion" ng-model="rawRegion" placeholder="e.g. CO" class="k-textbox"/>
            </div>
            <div class="input-container">
                <label for="rawPostalCode">ZIP Code</label>
                <input name="rawPostalCode" ng-model="rawPostalCode" placeholder="e.g. 80123" class="k-textbox"/>
            </div>
            <div>
                <kendo-button ng-cloak id="verify-button" k-ng-disabled="!isFormValid" type="button" class="k-secondary verify-button" ng-click="onVerifyButtonClick();">Verify Address</kendo-button>
            </div>
        </div>
        <div ng-show="doShowMap" class="map-gang ng-hide">
            <div id="map-canvas">
                <ui-gmap-google-map pan="false" events="map.events" center="map.center" control="map.control" zoom="map.zoom" options="map.options">
                    <ui-gmap-marker coords="marker.coords" idkey="marker.id"></ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
            <div class="text-center regular-font address-container">
                <div ng-if="didFailToGeocode">
                    <p class="regular-font ng-invalid">We were unable to locate your listing.  Please drag the map to the correct location.</p>
                </div>
                <p>{{ streetAddress }} <span ng-if="subPremise">#{{ subPremise|uppercase }}</span></p>
                <p>{{ getThirdAddressLine() }}</p>
                <p>{{ getCountryLabel() }}</p>
                <a ng-click="onEditAddressButtonClick()"><p>Edit Address</p></a>
            </div>
            <div>
                <kendo-button ng-cloak id="next-button" type="button" k-ng-disabled="!isFormValid" ui-sref="createRental.amenities" class="k-primary next-button">Next</kendo-button>
            </div>
        </div>
    </div>
</form>
