<form name="form" class="rental-photos-form" novalidate>
    <h2 class="text-center">Photos Can Bring Your Space to Life</h2>
    <p class="text-center text-muted last">The photos are often the most important thing a traveler looks at when they’re thinking about booking a space.</p>
    <hr/>
    <mj-dropzone files="files">
    </mj-dropzone>
    <div>
        <kendo-button ng-cloak type="button" k-ng-disabled="!isFormValid()" ui-sref="createRental.pricing" ng-click="onNextButtonClick()" class="k-primary next-button">Next</kendo-button>
    </div>
</form>
