<form name="form" class="rental-pricing-form" novalidate>
    <h2 class="text-center">Set a Nightly Price for Your Space</h2>
    <p class="text-center text-muted last">You can set a price to reflect the space, amenities, and hospitality you’ll be providing.</p>
    <hr/>
    <div class="pricing-gang">
        <h3 class="text-center title">Base Price</h3>
        <div class="center-block input-container">
            <label for="nightlyPrice">Nightly Price</label>
            <div class="input-addon">
                <span class="input-prefix">{{ getCurrencySymbol(currency) }}</span>
                <input type="number" name="nightlyPrice" ng-disabled="isUploading" ng-model="nightlyPrice" class="k-textbox" ng-min="1" ng-pattern="/^\d+$/" required/>
            </div>
        </div>
        <div class="center-block input-container">
            <label for="currency">Currency</label>
            <select name="currency" ng-cloak ng-model="currency" k-ng-disabled="true" required kendo-drop-down-list="currencyDropDownList" k-options="currencyDropDownListOptions"></select>
        </div>
    </div>
    <hr/>
    <div class="pricing-gang">
        <h3 class="text-center title">Long-Term Prices</h3>
        <div class="center-block input-container">
            <label for="weeklyPrice">Weekly Price</label>
            <div class="input-addon">
                <span class="input-prefix">{{ getCurrencySymbol(currency) }}</span>
                <input type="number" name="weeklyPrice" ng-disabled="isUploading" ng-model="weeklyPrice" ng-min="1" class="k-textbox" ng-pattern="/^\d+$/"/>
            </div>
        </div>
        <div class="center-block input-container">
            <label for="monthlyPrice">Monthly Price</label>
            <div class="input-addon">
                <span class="input-prefix">{{ getCurrencySymbol(currency) }}</span>
                <input type="number" name="monthlyPrice" ng-disabled="isUploading" ng-model="monthlyPrice" ng-min="1" class="k-textbox" ng-pattern="/^\d+$/"/>
            </div>
        </div>
    </div>
    <hr/>
    <div class="pricing-gang">
        <h3 class="text-center title">Miscellaneous</h3>
        <div class="center-block input-container">
            <label for="securityDeposit">Security Deposit</label>
            <div class="input-addon">
                <span class="input-prefix">{{ getCurrencySymbol(currency) }}</span>
                <input type="number" name="securityDeposit" ng-disabled="isUploading" ng-model="securityDeposit" ng-min="1" class="k-textbox" ng-pattern="/^\d+$/"/>
            </div>
        </div>
        <div class="center-block input-container">
            <label for="cleaningFee">Cleaning Fee</label>
            <div class="input-addon">
                <span class="input-prefix">{{ getCurrencySymbol(currency) }}</span>
                <input type="number" name="cleaningFee" ng-disabled="isUploading" ng-model="cleaningFee" ng-min="1" class="k-textbox" ng-pattern="/^\d+$/"/>
            </div>
        </div>
        <div class="center-block input-container">
            <label for="extraPeopleFee">Extra People Fee</label>
            <div class="input-addon">
                <span class="input-prefix">{{ getCurrencySymbol(currency) }}</span>
                <input type="number" name="extraPeopleFee" ng-disabled="isUploading" ng-model="extraPeopleFee" ng-min="1" class="k-textbox" ng-pattern="/^\d+$/"/>
            </div>
        </div>
        <div class="center-block input-container">
            <label for="minimumStay">Minimum Stay</label>
            <div class="input-addon minimum-stay">
                <span class="input-suffix">nights</span>
                <input type="number" name="minimumStay" ng-disabled="isUploading" ng-model="minimumStay" ng-min="1" class="k-textbox" ng-pattern="/^\d+$/"/>
            </div>
        </div>
    </div>
    <div>
        <kendo-button ng-cloak k-ng-disabled="!isFormValid || isUploading" type="button" ng-click="onSubmit()" class="k-primary submit-button">Submit</kendo-button>
    </div>
    <md-progress-circular ng-if="isUploading" md-mode="indeterminate" class="upload-circular"></md-progress-circular>
    <p ng-if="didFail" class="text-center server-error">Whoops! There was an error processing this listing <span class="fa fa-frown-o"></span>. Please check your entries and try again.</p>
</form>
