<div ng-show="isLoading()" ng-cloak class="progress-circular-container"><md-progress-circular md-mode="indeterminate" class=""></md-progress-circular></div>
<div ng-cloak ng-show="!isLoading() && (listingResource.results.length <= 0)" class="no-results-container">
    <h3 class="text-center title">
        We couldn't find any results that matched your criteria <span class="fa fa-frown-o"></span>
    </h3>
</div>
<div ng-cloak class="center-block listing-search-result-gang">
    <div class="row">
        <div ng-repeat="listing in listingResource.results" class="col-xs-12 col-lg-6 center-block listing-search-result-container">
            <div class="profile-image-container"><div class="profile-image" ng-style={'background-image':"url({{::listing.profileImage|thumbnail:'80x80'}})"}></div></div>
            <a ng-href="{{ ::listing.url }}" target="_blank">
                <div class="listing-image" ng-style={'background-image':"url({{::listing.image|thumbnail:'480x260'}})"}>
                <h2 class="listing-price"><sup class="superscript">$</sup>{{ ::listing.price | number:0 }}</h2>
                <p ng-click="toggleFavorite(listing)" ng-class="{selected: listing.isFavorite, unselected: !listing.isFavorite}" class="fa fa-heart listing-favorite"></p>
                </div>
            </a>
            <div class="listing-info">
                <div class="listing-text">
                    <a ng-href="{{ ::listing.url }}" target="_blank"><h4 class="listing-title">{{ ::listing.title }}</h4></a>
                    <a ng-href="{{ ::listing.url }}" target="_blank"><p class="listing-subtitle">{{ ::listing.conditionLabel }}</p></a>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="listingResource.results.length > 0" class="pagination-container">
        <jw-pagination href="#search-results" limit="limit" offset="offset" count="listingResource.count"></jw-pagination>
    </div>
</div>
