<div class="mj-dropzone">
    <div class="center-block title">
        <h4 class="pull-right text-muted" ng-class="{'ng-invalid': getNumValidFiles()>=maxFiles}">{{ getNumValidFiles() }}/{{ maxFiles }} photos</h4>
        <kendo-button k-ng-disabled="getNumValidFiles() >= maxFiles" ng-cloak type="button" class="k-secondary add-photo-button">Add Photos</kendo-button>
    </div>
    <div class="dropzone-previews">

    </div>
    <div class="preview-template" style="display: none;">
        <div class="dz-preview dz-image-preview">
            <div class="dz-details">
                <div class="dz-error">
                    <h4 class="title regular-font">Max file size is 5MB.</h4>
                </div>
                <div class="dz-image"></div>
                <div class="dz-remove">
                    <i class="fa fa-trash"></i>
                </div>
            </div>
        </div>
    </div>
</div>

