<ul ng-show="doShowPagination" class="pagination">
    <li ng-show="doShowPreviousLink">
        <a ng-href="{{ href }}" ng-click="previousPage()" class="previous fa fa-chevron-left" aria-label="Previous"></a>
    </li>
    <li>
        <a ng-href="{{ href }}" ng-click="offset = getOffsetFromPageNumber(firstPageNumber)" ng-class="(currentPageNumber == firstPageNumber) ? 'selected':'unselected'">{{ firstPageNumber }}</a>
    </li>
    <li ng-show="doShowFirstEllipsis">
        <a class="fa fa-ellipsis-h"></a>
    </li>
    <li ng-show="doShowSecondPageNumber">
        <a ng-href="{{ href }}" ng-click="offset = getOffsetFromPageNumber(secondPageNumber)" ng-class="(currentPageNumber == secondPageNumber && secondPageNumber != lastPageNumber) ? 'selected':'unselected'">{{ secondPageNumber }}</a>
    </li>
    <li ng-show="doShowThirdPageNumber">
        <a ng-href="{{ href }}" ng-click="offset = getOffsetFromPageNumber(thirdPageNumber)" ng-class="(currentPageNumber == thirdPageNumber && thirdPageNumber != lastPageNumber) ? 'selected':'unselected'">{{ thirdPageNumber }}</a>
    </li>
    <li ng-show="doShowFourthPageNumber">
        <a ng-href="{{ href }}" ng-click="offset = getOffsetFromPageNumber(fourthPageNumber)" ng-class="(currentPageNumber == fourthPageNumber && fourthPageNumber != lastPageNumber) ? 'selected':'unselected'">{{ fourthPageNumber }}</a>
    </li>
    <li ng-show="doShowSecondEllipsis">
        <a class="fa fa-ellipsis-h"></a>
    </li>
    <li>
        <a ng-href="{{ href }}" id="lastPageNumber" ng-click="offset = getOffsetFromPageNumber(lastPageNumber)" ng-class="(currentPageNumber == lastPageNumber) ? 'selected':'unselected'">{{ lastPageNumber }}</a>
    </li>
    <li ng-show="doShowNextLink">
        <a ng-href="{{ href }}" ng-click="nextPage()" class="next fa fa-chevron-right" aria-label="Next"></a>
    </li>
</ul>
