<div style="text-align: left; display: inline-block; position: relative;">
    <div style="position: absolute; z-index: 2; top: 0; left: 0">
        <i style="margin: 0px 3px; float: right;" ng-show="doShowHalfStar" class="fa fa-star-half mj-rating-star"></i>
        <i style="margin: 0px 3px; float: right;" ng-show="doShowExtraStar" class="fa fa-star mj-rating-star"></i>
        <i ng-repeat="filledStar in filledStars" style="margin: 0px 3px;" class="fa fa-star mj-rating-star"></i>
    </div>
    <i ng-repeat="emptyStar in emptyStars" style="margin: 0px 3px;" class="fa fa-star mj-rating-star empty"></i>
</div>