.booking-detail {
  .modal {
    label {
      color: $muted-text-color;
    }

    .row {
      @include col() {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }

    .modal-content {
      @include border-radius(0);
    }
    .modal-header {
      border-top: 3px solid $primary-color;
    }
    .modal-footer {
      .row {
        @include col() {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }
  }

  .card {
    @extend %titled-card;
    .header {
      .title {
        text-transform: none;
      }
    }
    .content {
      padding-top: 8px;
      @include media(tablet) {
        padding-top: 0;
      }

      .row {
        &.booking-images {
          .booking-image {
            margin: 15px 0;
            .image {
              height: 262.5px;
              background-size: cover;
            }
          }

        }
      }
    }
  }
}
