.customer-update {
  .card {
    @extend %titled-card;
    .header {
      .title {
        text-transform: none;
        margin-bottom: 0;
        text-align: center;
      }
      .divider-container {
        padding: 15px 0;
        .divider {
          font-size: 100%;
        }
      }
    }
    .content {
      padding-top: 8px;
      @include media(tablet) {
        padding-top: 0;
      }
      .input-gang {
        padding-top: 15px;
        padding-bottom: 15px;

        label {
          color: $muted-text-color;
        }

        .k-dropdown {
          position: relative;
          top: 6px;
          padding-bottom: 6px;
        }

        @include media(tablet) {
          padding-top: 15px;
          padding-bottom: 15px;
        }

      }
    }

  }
}