.dashboard-nav {
  @include media(tablet) {
    display: none;
  }
}

.dashboard-xs-nav {
  display: none;
  @include media(tablet) {
    display: inherit;
  }
}

.dashboard {
  min-height: 100vh;
  background-color: white;
  padding-top: 70px;
  padding-bottom: 30px;

  &.messages {
    padding-top: 114px;
  }

  &.hijack-notification {
    padding-top: 114px;
  }

  .dashboard-row {
    height: 100%;
  }

  .dashboard-sidebar {
    min-height: 100%;
    &.fixed {
      position: fixed;
      width: 190px;
      top: 65px;
      &.messages {
        top: 65px + 44px;
      }
    }
    a {
      display: block;
      color: $dark-gray;
      padding: 15px 0 15px 15px;
      @include border-radius(2px);
      @include transition-property(color, background-color);
      @include transition-duration(0.25s);

      &.active {
        color: $primary-color;
        background-color: rgba(black, 0.07);
      }

      &:hover, &:focus {
        text-decoration: none;
        color: $primary-color;
      }

      .fa {
        font-size: 175%;
      }

      .title {
        position: relative;
        top: -3px;
        padding-left: 24px;
        font-size: 100%;
        font-family: $regular-font;
      }
    }

    @include media(tablet) {
      display: none;
    }

  }

  .dashboard-content {
    min-height: 100%;
    //padding-left: 5%;
    //padding-right: 5%;
    @include media(tablet) {
      width: 100%;
      min-height: 100%;
      margin-left: 0;
      position: static;
      top: 0;
      left: 0;
      bottom: 0;
      padding-left: 15px;
      padding-right: 15px;
    }
    @include media(mobile) {
      padding: 0;
    }
  }
}

.navbar-dashboard {
  //position:relative;
  //z-index: 5;

  background-color: white;
  a, ul li a {
    color: $dark-gray;
  }

  padding: 5px 0;
  .navbar-brand {
    font-size: 195%;
  }

  &.shadow {
    @include transition-property(box-shadow);
    @include transition-duration(0.125s);
    @include box-shadow(0 0 2px rgba(0,0,0,.14), 0 2px 4px rgba(0,0,0,.28));
  }

  .hijack-notification {
    margin-top: -5px;
    padding: 0;
  }

  .messages {
    margin-top: -5px;
    padding: 0;
    ul {
      margin: 0;
      list-style: none;
      padding-left: 0;
      li {
        display: block;
        text-align: center;
        padding: 0.75em 0;
        font-size: 110%;
        background-color: #BEF6D1;
        &.error {
          color: white;
          background-color: #C23B22;

        }
      }
    }
  }

  //.container {
  //  width: 100%;
  //  padding-right: 15px;
  //  padding-left: 15px;
  //  margin-right: auto;
  //  margin-left: auto;
  //}
  //@include box-shadow(0px 1px 4px rgba(0,0,0,0.5));
  //@include box-shadow(0 0 2px rgba(0,0,0,.14), 0 2px 4px rgba(0,0,0,.28));
  @include box-shadow(none);
}

.pagination-container {
  margin: 20px 0;
  text-align: center;
  .pagination {
    border: 2px solid #ebebeb;
    @include box-shadow(none);
  }
  .pagination, .pagination-info {
    display: inline-block;
    margin: 0;
  }
  .pagination-info {
    position: relative;
    top: -21px;
    left: 15px;
    font-size: 110%;
  }
}

%sidebar {
  @include media(tablet) {
    display: none;
  }

  &.sm {
    display: none;
    @include media(tablet) {
      display: block;
    }
  }

  a {
    display: block;
    margin-bottom: 20px;
    color: $dark-gray;
    text-transform: uppercase;

    @include media(tablet) {
      text-align: center;
      margin-bottom: 10px;
    }

    .title {
      font-family: $light-font;
    }

    &.active {
      color: $primary-color;
      .title {
        font-family: $bold-font;
      }
    }

    &:hover, &:focus {
      text-decoration: none;
      color: $dark-gray;
      .title {
        font-family: $bold-font;
      }
    }
  }
}

%table-card {
  @extend %titled-card;
  .content {
    padding-top: 15px;
    @include media(tablet) {
      padding-top: 0;
    }

    table {
      tr {
        td {
          padding-top: 30px;
          padding-bottom: 30px;
        }
      }
    }
  }
}

$dashboard-content-max-width: 1280px;

@import "inbox";
@import "thread";
@import "edit_profile";
@import "manage_listings";
@import "edit_rental";
@import "manage_account";
@import "booking_list";
@import "booking_detail";
@import "booking_request_detail";
@import "booking_request_list";
@import "customer_update";
