.edit-rental {
  max-width: $dashboard-content-max-width;
}

.edit-rental-title {
  padding-bottom: 15px;
  font-family: $bold-font;
  @include media(tablet) {
    text-align: center;
    padding-bottom: 0;
  }
}

.edit-rental-content {
  .address-container {
    margin-top: 30px;
    margin-bottom: 60px;
    p {
      font-size: 112.5%;
      line-height: 112.5%;
    }
    a {
      cursor: pointer;
    }
  }

  #map-canvas {
    margin-top: 30px;
    width: 100%;
    height: 400px;
    position: relative;
    ui-gmap-google-map {
      width: 100%;
      height: 100%;
    }
  }

  .map-gang {
    opacity: 1.0;

    &.ng-hide-add.ng-hide-add-active,
    &.ng-hide-remove.ng-hide-remove-active{
      @include transition-property(opacity);
      @include transition-timing-function(linear);
      @include transition-duration(0.5s);
    }

    &.ng-hide {
      opacity: 0;
    }

    &.ng-hide-add {
      display: none;
    }

    &.ng-hide-remove {
      display: block;
      opacity: 0;
    }

    &.ng-hide-remove-active {
      opacity: 1.0;
    }
  }
  .form-card {
    @extend %titled-card;
    //max-width: 730px;
    form {
      @include media(tablet) {
        padding-top: 0;
      }
      .subtitle {
        margin: 0;
        text-align: center;
        &:first-child {
          margin-top: 15px;
        }
      }
    }

    .address-form {
      .subtitle {
        margin-bottom: 10px;
      }
    }

    .input-gang {
      padding-top: 15px;
      padding-bottom: 15px;

      label {
        color: $muted-text-color;
      }

      md-checkbox {
        display: inline-block;
      }

      .k-dropdown {
        position: relative;
        top: 6px;
        padding-bottom: 6px;
      }

      .input-addon {
        &.minimum-stay {
          input {
            padding-left: 0.3em;
          }
          .input-suffix {
            font-size: 125%;
            height: 50px;
            width: 75px;
          }
        }
      }

      @include media(tablet) {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }

  .amenities {
    md-checkbox {
      display: inline-block;
    }
  }
}

.edit-rental-sidebar {
  @extend %sidebar;
}
