.edit-profile {
  .personal-info,
  .location,
  .about,
  .photo {
    @extend %titled-card;
    //max-width: 730px;
    .content {
      padding-top: 15px;
      @include media(tablet) {
        padding-top: 0;
      }
    }
    .input-gang {
      padding-top: 15px;
      padding-bottom: 15px;

      label {
        color: $muted-text-color;
      }

      .k-dropdown {
        position: relative;
        top: 6px;
        padding-bottom: 6px;
      }

      @include media(tablet) {
        padding-top: 15px;
        padding-bottom: 15px;
      }

      //&:first-child {
      //  padding-top: 0;
      //  @include media(tablet) {
      //    padding-top: 15px;
      //  }
      //}
    }
  }

  .photo {
    .crop-area-container {
      width: 100%;
      position: relative;
      margin-bottom: 5%;

      &:after {
        padding-top: 100%;
        display: block;
        content: '';
      }
    }

    .crop-area {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #e6e6e6;
      overflow: hidden;
      .input-controls {
        width: 100%;
        padding: 0 30px;
        margin-top: 35%;
        .k-button {
          @include media(tablet) {
            font-size: 100%;
          }
        }
        .title {
          background: transparent;
          color: $dark-gray;
          font-family: $light-font;
          text-transform: none;
          padding: 0;
        }
        .title,
        .subtitle {
          text-align: center;
        }
      }
    }
  }
}
