body {
  //  background-color: #f5f5f5;
}

input,
.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn,
{
  @include border-radius(0px);
}

.form-container {
  width: 50%;
  min-width: 570px;
  min-height: 700px;
  margin-top: 75px;

  @include media(tablet) {
    width: 100%;
    min-width: 0px;
    margin-top: 50px;
  }

  @include media(mobile) {
    min-height: 700px;
  }
}

.form-logo {
  background-image: image-url("logo.png");
  background-size: cover;
  margin-bottom: 62px;
  width: auto;
  height: 211px;
  margin-left: auto;
  margin-right: auto;
  //@include border-radius(9000px);
  @include media(mobile) {
    margin-bottom: 50px;
    $scale-factor: 0.625;
    width: $scale-factor * 216px;
    height: $scale-factor * 228px;
  }
}

.profile-form {
  margin-top: 30px;
  margin-bottom: 120px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;

  @include media(mobile) {
    width: 100%;
  }

  .legal-container {

  }

  .k-dropdown .k-dropdown-wrap .k-input {
    text-indent: 2em;
  }

  .input-container {
    position: relative;
    .fa {
      position: absolute;
      top: 11px;
      left: 25px;
      color: #ccc;
      z-index: 2;
    }
    .fa-lock {
      left: 30px;
    }
    .fa-question-circle {
      right: -10px;
      left: auto;
      top: 15px;
      font-size: 1.5em;
      @include media(mobile) {
        display: none;
      }

    }
    .fa-user {
      left: 27px;
    }
    input {
      text-align: center;
      padding: 0 45px;
      text-indent: 0;
    }
  }

  .divider {
    position: relative;
    padding: 15px 0;
    span {
      position: relative;
      background-color: white;
      padding: 0 8px;
      z-index: 5;
    }
    hr {
      margin: 0;
      position: relative;
      top: -9px;
      border-color: #ccc;
    }
  }

  @include media(mobile) {
    margin-top: 30px;
    margin-bottom: 60px;
  }
}

.profile-login-form {
  @extend .profile-form;
  //margin-top: 60px;
  margin-bottom: 30px;
}

.profile-create-form {
  @extend .profile-form;

  .country-input-container div,
  .gender-input-container,
  .referral-input-container {
    position: relative;
    .fa {
      position: absolute;
      top: 13px;
      left: 10px;
    }
  }

  .location-container,
  .birthday-container {
    label {
      margin-bottom: 10px;
    }

    %input-container {
      padding-left: 5px;
      padding-right: 5px;
      input {
        padding: 0 0;
      }
      @include media(tablet) {
        margin-bottom: 2.5%;
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .month-input-container,
    .day-input-container,
    .year-input-container,
    .locality-input-container,
    .region-input-container,
    .country-input-container {
      @extend %input-container;
    }

    .country-input-container {
      margin-top: 16px;
      padding-left: 15px;
      padding-right: 15px;
    }

    .month-input-container {
      position: relative;
      padding-left: 15px;
      @include media(tablet) {
        top: 0;
      }
    }

    .year-input-container {
      padding-right: 15px;
    }

    .locality-input-container {
      padding-right: 5px;
      padding-left: 15px;
      @include media(mobile) {
        padding-right: 15px;
        padding-left: 15px;
      }
    }

    .region-input-container {
      padding-left: 5px;
      padding-right: 15px;
      @include media(mobile) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }


}

.profile-image-upload-form {
  //$image-preview-width: 500px;
  //$image-preview-height: $image-preview-width;
  //$image-preview-width-tablet: 400px;
  //$image-preview-height-tablet: $image-preview-width-tablet;
  //$image-preview-width-mobile: 350px;
  //$image-preview-height-mobile: $image-preview-width-mobile;
  @extend .profile-form;
  width: 100%;

  .parsley-errors-list {
    margin-bottom: 10px;
  }

  .crop-area-container {
    width: 100%;
    position: relative;
    margin-bottom: 5%;

    &:after {
      padding-top: 100%;
      display: block;
      content: '';
    }
  }

  .crop-area {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e6e6e6;
    overflow: hidden;
    .input-controls {
      width: 100%;
      padding: 0 30px;
      margin-top: 35%;
    }

  }
}

.profile-password-reset-form {
  @extend .profile-form;
  margin-top: 60px;
  //margin-bottom: 210px;
}

.footer-links {
  .fa, .link {
    display: inline-block;
  }
  .fa {
    font-size: 0.5em;
    vertical-align: middle;
    color: $primary-color;
    @include media(mobile) {
      display: none;
    }
  }
  .link {
    font-family: $light-font;
    margin: 0 15px;
    vertical-align: middle;
    @include media(mobile) {
      display: block;
      width: 100%;
      margin: 20px 0px;
    }
  }
  //margin-bottom: 180px;
}

//.btn--submit {
//  @extend .fancy-btn--white;
//  margin-top: 5px;
//  width: 73.7%;
//  @include media(mobile) {
//    width: 100%;
//  }
//}

.form-title {
  font-family: $regular-font;
  margin-bottom: 30px;
  @include media(mobile) {
    font-size: 167.5%;
  }
  @include media(mobile) {
    margin-bottom: 30px;
  }
}

.form-subtitle {
  font-family: $light-font;
  line-height: 125%;
  @include media(mobile) {
    font-size: 107.5%;
  }
}

.form-multiline-subtitle {
  @extend .form-subtitle;
  line-height: 150%;
}

.form-footer-title {
  @extend .form-title;
  color: $gray;
}

.form-footer-subtitle {
  @extend .form-subtitle;
  color: $gray;
  margin-bottom: 60px;
}

.parsley-errors-list {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  text-align: center;
  font-family: $light-font;
  color: $error-message-color;
  //  li {
  //    padding: 0px;
  //    margin: 0px;
  //  }
}

$image-preview-width: 500px;
$image-preview-height: $image-preview-width;
$image-preview-width-tablet: 400px;
$image-preview-height-tablet: $image-preview-width-tablet;
$image-preview-width-mobile: 350px;
$image-preview-height-mobile: $image-preview-width-mobile;

.cropit-image-preview {
  /* You can specify preview size in CSS */
  width: $image-preview-width;
  height: $image-preview-height;
  position: relative;
  display: table;
  background-color: #e6e6e6;

  @include media(tablet) {
    width: $image-preview-width-tablet;
    height: $image-preview-height-tablet;
  }
  @include media(mobile) {
    width: $image-preview-width-mobile;
    height: $image-preview-height-mobile;
  }
}

.image-loading {
  vertical-align: middle;
  position: absolute;
  $spinner-height: 30px;
  $spinner-width: 50px;
  top: 50%;
  left: 50%;
  height: $spinner-height;
  margin-top: -$spinner-height/2;
  margin-left: -$spinner-width/2;
  display: none;
  div {
    background-color: $gray;
  }
  //width: 100%;
  //height: 10px;
}

.image-select-controls {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  .title, .subtitle {
    color: #8e8e8e;
  }

  .title {
    font-family: $regular-font;
    margin: 0;

  }

  .subtitle {
    margin: 20px 0px;
    font-family: $light-font;
  }
}

.button-container {
  * {
    display: inline-block;
  }
}

//.btn-submit,
//.btn-select {
//  @extend .fancy-btn--white;
//  @include media(mobile) {
//    width: 100%;
//  }
//}

.btn-submit {
  margin-top: 15px;
}

.image-select {
  cursor: pointer;
}

.btn-select {
  font-size: 100%;
  color: $gray;
  border-color: $gray;
  &:hover, &:focus {
    color: $gray;
    background-color: white;
  }

  @include media(mobile) {
    width: 75%;
    font-size: 80%;
  }

}

#id_image, #cropit-image-input {
  display: none;
}

.cropit-image-loaded {
  cursor: move;
}

.btn-reselect-image {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background-color: rgba(black, 0.5);
  padding: 5px;
  cursor: grab;
  display: none;
}

.cancel-image {
  margin: 40px 0;
  color: #8e8e8e;
  font-family: $light-font;
}

.input-group--range {
  width: $image-preview-width;
  margin: 10px auto 0 auto;
  * {
    display: inline-block;
  }
  #cropit-image-zoom-input {
    display: inline-block;
    width: 75%;
  }
  .fa {
    margin: 0 5px;
    color: $gray;
  }
  .fa-2x {
    font-size: 1.75em;
  }

  @include media(tablet) {
    width: $image-preview-width-tablet;
  }

  @include media(mobile) {
    width: $image-preview-width-mobile;

  }
}

#image-cropper {
  .parsley-errors-list {
    margin: 20px 0px;
  }
}

#id_gender {
  @include appearance(none);
}

#form-group--gender {
  .input-group {
    .fa-caret-down {
      position: absolute;
      top: 23px - 19px;
      left: 90%;
      color: black;
      font-size: 1.375em;
    }
  }
}

.form-alert {
  width: 75%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: $light-font;
  .error-icon, .error-message {
    display: inline-block;
    vertical-align: text-top;
  }
  .error-icon {
    width: 5%;
  }
  .error-message {
    width: 90%;
  }
}

.form-header {
  margin-bottom: 30px;
}