.inbox {
  @extend %card;
  a {
    color: inherit;
    display: block;
  }
  .message {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    &.muted {
      .body, .sender, .date-created {
        color: $muted-text-color;
        font-family: $light-font;
      }
      .profile-image-container {
        .overlay {
          display: inherit;
        }
      }
    }
    .profile-image-container {
      width: 55px;
      height: 55px;
      top: 13px;
      left: -47px;
      position: absolute;
      .overlay {
        display: none;
      }
    }
    .body, .sender, .date-created {
      overflow: hidden;
      white-space: nowrap;
      word-wrap: break-word;
      font-family: $regular-font;
    }
    .body {
    }
    .sender {
      font-family: $regular-font;
    }

    .date-created {
      color: $muted-accent-text-color;
    }
    @include media(mobile) {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  hr {
    margin-top: 0;
    margin-bottom: 0;
  }

}