.thread {
  .message-create-form {
    .header {
      margin: 15px 0;
    }
    textarea {
      width: 100%;
      height: 200px;
      margin-bottom: 30px;
      @include media(mobile) {
        margin-bottom: 15px;
      }
    }
  }
  .header {
    margin-bottom: 30px;
  }
  .message {
    @extend %card;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    @include media(mobile) {
      margin-bottom: 15px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    &.muted {
      .body, .sender, .date-created {
        color: $muted-text-color;
        font-family: $light-font;
      }
      .profile-image-container {
        .overlay {
          display: inherit;
        }
      }
    }
    .profile-image-container {
      width: 55px;
      height: 55px;
      top: 13px;
      left: -27px;
      position: absolute;
      .overlay {
        display: none;
      }
      @include media(tablet) {
        width: 50px;
        height: 50px;
        top: 15px;
        left: -17px;
      }
      @include media(mobile) {
        display: none;
      }
    }
    .body, .title, .controls {
      @include media(mobile) {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .title {
      font-family: $regular-font;
      .fa-circle {
        font-size: 0.5em;
        padding: 0 5px;
        position: relative;
        top: -2px;
      }
    }

    .controls {
      text-align: right;
      color: $primary-color;
      font-size: 1.5em;
      margin-top: 15px;
    }

    .body {
      margin-top: 15px;
      font-family: $light-font;
      word-wrap: break-word;
    }

    //@include media(mobile) {
    //  padding-top: 10px;
    //  padding-bottom: 10px;
    //}
  }

  hr {
    margin-top: 0;
    margin-bottom: 0;
  }

}