{% extends "users/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="user-reset-password-success-block">
            <h4 class="alert alert-success hippo-bold hippo-lowercase form-title">{% trans "your password was reset successfully!" noop %}</h4>
        </div>
    </div>
{% endblock %}