
{% extends "users/registration_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "hippo: Register" noop %}{% endblock %}
{% block registration_base_content %}
    <div class="container">
        <div class="center-block registration-user-form-block">
            <h4 class="header-text-user-form-block">Create your account</h4>
            <form action={% url 'users_registration' %} role="form" method="post">
                {% csrf_token %}
                {% include "snippets/field_errors.html" with errors=form.non_field_errors only%}
{#                {% include "snippets/error_list.html" with errors=form.errors only%}#}
                <div class="form-group">
                    {{ form.email_address }}
                    {% include "snippets/field_errors.html" with errors=form.email_address.errors only%}
                </div>
                <div id="first-inline-form-group">
                    <div>
                        {{ form.first_name }}
                        {% include "snippets/field_errors.html" with errors=form.first_name.errors only%}
                    </div>
                    <div>
                        {{ form.last_name }}
                        {% include "snippets/field_errors.html" with errors=form.last_name.errors only%}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.password1 }}
                    {% include "snippets/field_errors.html" with errors=form.password1.errors only%}
                </div>
                <div class="form-group">
                    {{ form.password2 }}
                    {% include "snippets/field_errors.html" with errors=form.password2.errors only%}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-hippo-green" value="Submit">{% trans "Sign up" noop %}</button>
                </div>
            </form>
            <h4><a href={% url 'users_login' %}>Already have an account?</a></h4>
        </div>
    </div>
{% endblock %}