{% extends "base.html" %}
{% load staticfiles %}

{% block body_tags %}class="light-orange-background-color"{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}
    <div class="container">
        <a href="{% url 'bookings_index' %}">
            <div class="center-block registration-logo-header-block">
                <img class="img-logo-header-block" src="{% static "images/logo.png" %}"/>
                <span class="text-logo-header-block">hippo</span>
            </div>
        </a>
    </div>
    {% block registration_base_content %}{% endblock %}
{% endblock %}

{% block scripts %}
    <script src="{% static "js/bookings/index.min.js" %}"></script>
{% endblock %}