{% extends "users/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="user-reset-password-form-block">
            <h2 class="hippo-bold hippo-lowercase form-title">{% trans "reset your " noop %}{{ APP_NAME }}{% trans " password" noop %}</h2>
            <h4 class="hippo-color-dark-gray form-subtitle">{% trans "Enter your email below and press 'reset password' then check your inbox for your reset email." noop %}</h4>
            <form action="{% url 'user-reset-password' %}" class="form-inline" role="form" method="post" data-parsley-validate>
                {% csrf_token %}
                {% include "snippets/field_errors.html" with errors=form.non_field_errors only%}
                <div class="form-group">
                    {{ form.email_address }}
                    {% include "snippets/field_errors.html" with errors=form.email_address.errors only%}
                </div>
                <button type="submit" class="btn btn-hippo-primary" value="Submit">{% trans "Reset password" noop %}</button>
            </form>
        </div>
    </div>
{% endblock %}