{% extends "listings/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load cache %}
{% load thumbnail %}
{% load list_utils %}
{% load duration %}
{% block html_attributes %}ng-app="gouda.listings.apps.ListingApp"{% endblock %}
{% block facebook_meta_tags %}
    <meta property="og:title" content="{{ listing.title }}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="{{ listing.primary_image.image|thumbnail_url:'1024x0' }}"/>
{% endblock %}
{% block title %}Shopping Cart | {{ site_display_name }}{% endblock %}
{% block nav_classes %}navbar navbar--default{% endblock %}
{% block content %}
    <section class="shopping-cart" id="content">
        <div class="container-fluid">
            <div class="card">
                <h1 class="title">Shopping Cart</h1>
                <div class="text-center divider-container">
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                </div>
                {% if cart.items.all.count > 0 %}
                    <form method="post" action="">
                        {% csrf_token %}
                        {{ formset.management_form }}
                        {% for form in formset %}
                            {{ form.id }}
                            {{ form.listing }}
                            {{ form.cart }}
                            {{ form.errors }}
                            {% with cart_item=form.instance %}
                                <div class="row cart-item">
                                    <div class="col-sm-3">
                                        <div class="listing-image" style="background-image: url('{{ cart_item.listing.primary_image.image|thumbnail_url:'480x260' }}');"></div>
                                    </div>
                                    <div class="col-sm-5 listing-info">
                                        <h4 class="title"><a href="{{ cart_item.listing.url }}">{{ cart_item.listing.title }}</a></h4>
                                        <h5>from {{ cart_item.listing.profile.full_name }}</h5>
                                        <h5 class="text-muted">{{ cart_item.listing.condition_label }}</h5>
                                        {#                                        <h5>{{ cart_item.listing.currency_symbol }}{{ cart_item.listing.price }}</h5>#}
                                    </div>
                                    <div class="col-sm-1 listing-price">
                                        <h5>{{ cart_item.listing.currency_symbol }}{{ cart_item.listing.price }}</h5>
                                    </div>
                                    <div class="col-sm-3 listing-quantity">
                                        {{ form.quantity }}
                                        <input type="submit" value="Update">
                                    </div>
                                </div>
                                {% if not forloop.last %}<hr/>{% endif %}
                            {% endwith %}
                        {% endfor %}
                    </form>
                    <hr/>
                    <div class="row total-price-container">
                        <div class="col-xs-6 col-sm-9">
                            <p class="subtotal">Subtotal</p>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <p class="price">{{ cart.currency_symbol }}{{ cart.subtotal_price }}</p>
                        </div>
                    </div>
                    {#                    <hr/>#}
                    <div class="row checkout-button-container">
                        <div class="col-xs-12 col-sm-offset-7 col-sm-5 col-md-offset-8 col-md-4">
                            <a href="{% url 'listings:shipping_address_create' %}"><kendo-button type="submit" ng-cloak class="k-primary">Proceed to checkout</kendo-button></a>
                        </div>
                    </div>
                {% else %}
                    <h4 class="text-center cart-empty">Your cart is empty.</h4>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}