{% extends "listings/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load cache %}
{% load thumbnail %}
{% load list_utils %}
{% load duration %}
{% block html_attributes %}ng-app="gouda.listings.apps.ListingApp"{% endblock %}
{% block facebook_meta_tags %}
    <meta property="og:title" content="{{ listing.title }}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="{{ listing.primary_image.image|thumbnail_url:'1024x0' }}"/>
{% endblock %}
{% block title %}{{ listing.title }}{% endblock %}
{% block nav_classes %}navbar navbar--default{% endblock %}
{% block content %}
    {% cache 3600 listing_detail listing.id %}
        <div ng-controller="ListingDetailController" class="listing-detail" id="listing-detail-content" favorite-id="{{ favorite_id }}" listing-id="{{ listing.id }}" class="content" data-spy="scroll" data-target="#navbar-collapse-target">
            <section id="banner">
                <div class="container-fluid listing-banner" style="background-image: url('{{ listing.primary_image.image|thumbnail_url:'1024x0' }}');"></div>
            </section>
            <section id="content">
                <div id="message-modal" class="message-modal modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form ng-controller="MessageCreateFormController" receiver-id="{{ listing.profile.id }}" name="form" role="form">
                                <div class="modal-header">
                                    <button type="button" class="close fa fa-times fa-2x" data-dismiss="modal"></button>
                                    <h4 class="modal-title">Contact {{ listing.profile.first_name }}</h4>
                                </div>
                                <div class="modal-body">
                                    <textarea ng-model="body" class="k-textbox" placeholder="Enter your message" required></textarea>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-offset-8 col-sm-4">
                                            <kendo-button ng-click="onSubmit()" ng-cloak k-ng-disabled="!isFormValid()" class="k-primary" data-dismiss="modal">Send</kendo-button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="share-message-modal" class="message-modal modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form ng-controller="ShareMessageCreateFormController" listing-id="{{ listing.id }}" name="form" role="form">
                                <div class="modal-header">
                                    <button type="button" class="close fa fa-times fa-2x" data-dismiss="modal"></button>
                                    <h4 class="modal-title">Share this Listing</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <input type="email" ng-model="receiver" class="k-textbox" placeholder="Enter an email address" required/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <textarea ng-model="body" class="k-textbox" placeholder="Enter a personal message" required></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-offset-8 col-sm-4">
                                            <kendo-button ng-click="onSubmit()" ng-cloak k-ng-disabled="!isFormValid()" class="k-primary" data-dismiss="modal">Send</kendo-button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="listing-container">
                        <div class="info-container">
                            <div class="about-container">
                                <div class="profile-image-container">
                                    <div class="profile-image" style="background-image: url('{% if listing.profile.image %}{{ listing.profile.image|thumbnail_url:'160x160' }}{% else %}{% static "profiles/images/anonymous_profile.png" %}{% endif %}');"></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 heading">
                                        <h1 class="regular-font">{{ listing.title }}</h1>
                                        <h4 class="text-muted subtitle"><span class="{% if listing.quantity <= 1 %}hidden{% endif %}">{{ listing.quantity }} available<span class="fa fa-circle"></span></span>{{ listing.condition_label }}</h4>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h4 class="regular-font">About This Listing</h4>
                                        <p>{{ listing.description|linebreaks }}</p>
                                        {% if user.is_authenticated %}
                                            <h5 class="regular-font"><a href="#" data-toggle="modal" data-target="#message-modal">Contact {{ listing.profile.first_name }}</a></h5>
                                        {% else %}
                                            <h5 class="regular-font"><a href="{{ login_url }}?next={% firstof request.path '/' %}">Contact {{ listing.profile.first_name }}</a></h5>
                                        {% endif %}
                                    </div>
                                </div>
                                <hr/>
                                <div class="listing-carousel-container">
                                    <div class="large-carousel-container">
                                        <slick ng-cloak id="large-carousel" lazy-load="ondemand" as-nav-for="#small-carousel" arrows="false" autoplay="false" autoplay-speed="7500" fade="true" adaptive-height="true">
                                            {% for image in listing.images.all %}
                                                <div class="listing-slide"><img class="img-responsive listing-image" data-lazy="{{ image.image|thumbnail_url:'1024x0' }}"/></div>
                                            {% endfor %}
                                        </slick>
                                    </div>
                                    <div class="small-carousel-container">
                                        <div id="listing-carousel-previous-arrow" class="fa fa-chevron-circle-left listing-carousel-arrow"></div>
                                        <div id="listing-carousel-next-arrow" class="fa fa-chevron-circle-right listing-carousel-arrow"></div>
                                        <slick ng-cloak id="small-carousel" center-mode="true" lazy-load="ondemand" as-nav-for="#large-carousel" prev-arrow="#listing-carousel-previous-arrow" next-arrow="#listing-carousel-next-arrow" slides-to-show="1" slides-to-scroll="1" focus-on-select="true" center-padding="60px" variable-width="true">
                                            {% for image in listing.images.all %}
                                                <div class="listing-slide"><img class="img-responsive listing-image" src="{{ image.image|thumbnail_url:'0x120' }}"/></div>
                                            {% endfor %}
                                        </slick>
                                    </div>
                                </div>
                                <hr/>
                                <div class="policy-container">
                                    <div class="row">
                                        <div class="col-md-3 title">
                                            <p class="title">Shipping</p>
                                        </div>
                                        <div class="col-md-9 content">
                                            {{ listing.shipping_policy }}
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="row">
                                        <div class="col-md-3 title">
                                            <p class="title">Refunds and Exchanges</p>
                                        </div>
                                        <div class="col-md-9 content">
                                            {{ listing.refund_policy }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="inline-checkout-container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h1 class="price"><sup>{{ listing.currency_symbol }}</sup>{{ listing.price|floatformat:0 }}</h1>
                                    </div>
                                </div>
                                <form novalidate id="inline-add-to-cart-form" ng-controller="AddToCartFormController" method="post" action="{{ request.path }}" name="form" role="form">
                                    {% csrf_token %}
                                    <div class="input-gang row {% if listing.quantity <= 1 %}hidden{% endif %}">
                                        <div class="col-xs-4 col-sm-offset-4 col-sm-2">
                                            <label>{{ form.quantity.label }}:</label>
                                        </div>
                                        <div class="col-xs-8 col-sm-2">
                                            {{ form.quantity }}
                                        </div>
                                        {{ form.session }}
                                        {{ form.listing }}
                                    </div>
                                    <div class="button-container row">
                                        <div class="col-xs-12">
                                            <kendo-button ng-cloak id="inline-add-to-cart-button" type="submit" k-ng-disabled="!isFormValid()" class="k-primary">Add to Cart</kendo-button>
                                        </div>
                                        <div ng-controller="FavoriteController" favorite-id="{{ favorite.id }}" listing-id="{{ listing.id }}" class="col-xs-12">
                                            {% if user.is_authenticated %}
                                                <kendo-button ng-cloak ng-click="toggleFavorite()" type="button" class="k-primary-inverted favorites-button"><span ng-class="{'fa fa-heart': listing.isFavorite, 'fa fa-heart-o': !listing.isFavorite}"></span>Save to Wish List</kendo-button>
                                            {% else %}
                                                <a href="{{ login_url }}?next={% firstof request.path '/' %}"><kendo-button type="button" class="k-primary-inverted favorites-button"><span class="fa fa-heart-o"></span>Save to Wish List</kendo-button></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row text-center text-muted social-media-container">
                                        <div class="col-xs-12">
                                            <span>Share:</span>
                                            <a href="https://www.facebook.com/dialog/share?app_id={{ facebook_app_id }}&href={{ request.build_absolute_uri|urlencode:"" }}&redirect_uri={{ request.build_absolute_uri|urlencode:"" }}&link={{ request.build_absolute_uri|urlencode:"" }}"><i class="fa fa-facebook"></i></a>
                                            <a href="https://twitter.com/intent/tweet?source=tweetbutton&via=TheIslandCrew&url={{ request.build_absolute_uri|urlencode:"" }}&text={{ "Love this pad! "|urlencode:"" }}&quot;{{ rental.title|urlencode:"" }}&quot;"><i class="fa fa-twitter"></i></a>
                                            <a href="mailto:?subject=I wanted you to see this listing from {{ site_display_name }}&body=Hey! I found this on {{ site_display_name }} and thought you might like it! Check it out now! http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{{ request.get_full_path }}"><i class="fa fa-envelope-o"></i></a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            {% if listing.reviews.all.count > 0 %}
                                <div class="review-container" ng-controller="ReviewListController" listing-id="{{ listing.id }}" class="listing-review-container">
                                    <div ng-show="isLoading()" class="spinner-container"></div>
                                    <div class="review-stats">
                                        <h2 class="review-total">
                                            <span style="margin-right: 5px;">{{ listing.reviews.all.count }} Review{{ listing.reviews.all.count|pluralize }}</span>
                                            <jw-rating rating="{{ listing.rating }}"></jw-rating>
                                        </h2>
                                    </div>
                                    {% verbatim %}
                                        <div id="reviews">
                                            <div ng-repeat="review in reviewResource.results" class="review">
                                                <div class="profile-image-container">
                                                    <div class="profile-image" ng-style={'background-image':"url({{::review.profile.image|thumbnail:'80x80'}})"}></div>
                                                </div>
                                                <h4 class="regular-font title">{{ review.title }}</h4>
                                                <div ng-bind-html="review.content|paragraphs"></div>
                                                <p class="profile-name">{{ review.profile.user.fullName|firstName }}</p>
                                                <p class="text-muted">{{ review.dateCreated|date:'MMMM yyyy' }}</p>
                                                <hr/>
                                            </div>
                                        </div>
                                        <div ng-show="reviewResource.results.length > 0" class="pagination-container">
                                            <jw-pagination href="#reviews" limit="limit" offset="offset" count="reviewResource.count"></jw-pagination>
                                        </div>
                                    {% endverbatim %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="checkout-container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h1 class="price"><sup>{{ listing.currency_symbol }}</sup>{{ listing.price|floatformat:0 }}</h1>
                                </div>
                            </div>
                            <form novalidate id="add-to-cart-form" ng-controller="AddToCartFormController" method="post" action="{{ request.path }}" role="form" name="form">
                                {% csrf_token %}
                                <div class="input-gang row {% if listing.quantity <= 1 %}hidden{% endif %}">
                                    <div class="col-xs-offset-3 col-xs-3">
                                        <label>{{ form.quantity.label }}:</label>
                                    </div>
                                    <div class="col-xs-3">
                                        {{ form.quantity }}
                                    </div>
                                    {{ form.session }}
                                    {{ form.listing }}
                                </div>
                                <div class="button-container row">
                                    <div class="col-xs-12">
                                        <kendo-button id="add-to-cart-button" ng-cloak type="submit" k-ng-disabled="!isFormValid()" class="k-primary">Add to Cart</kendo-button>
                                    </div>
                                    <div ng-controller="FavoriteController" favorite-id="{{ favorite.id }}" listing-id="{{ listing.id }}" class="col-xs-12">
                                        {% if user.is_authenticated %}
                                            <kendo-button ng-cloak ng-click="toggleFavorite()" type="button" class="k-primary-inverted favorites-button"><span ng-class="{'fa fa-heart': listing.isFavorite, 'fa fa-heart-o': !listing.isFavorite}"></span>Save to Wish List</kendo-button>
                                        {% else %}
                                            <a href="{{ login_url }}?next={% firstof request.path '/' %}"><kendo-button type="button" class="k-primary-inverted favorites-button"><span class="fa fa-heart-o"></span>Save to Wish List</kendo-button></a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row text-center text-muted social-media-container">
                                    <div class="col-xs-12">
                                        <span>Share:</span>
                                        <a href="https://www.facebook.com/dialog/share?app_id={{ facebook_app_id }}&href={{ request.build_absolute_uri|urlencode:"" }}&redirect_uri={{ request.build_absolute_uri|urlencode:"" }}&link={{ request.build_absolute_uri|urlencode:"" }}"><i class="fa fa-facebook"></i></a>
                                        <a href="https://twitter.com/intent/tweet?source=tweetbutton&via=TheIslandCrew&url={{ request.build_absolute_uri|urlencode:"" }}&text={{ "Love this pad! "|urlencode:"" }}&quot;{{ rental.title|urlencode:"" }}&quot;"><i class="fa fa-twitter"></i></a>
                                        <a href="mailto:?subject=I wanted you to see this listing from {{ site_display_name }}&body=Hey! I found this on {{ site_display_name }} and thought you might like it! Check it out now! http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{{ request.get_full_path }}"><i class="fa fa-envelope-o"></i></a>

{#                                        {% if user.is_authenticated %}#}
{#                                            <a data-toggle="modal" data-target="#share-message-modal"><i class="fa fa-envelope-o"></i></a>#}
{#                                        {% else %}#}
{#                                            <a href="mailto:?subject=I wanted you to see this listing from {{ site_display_name }}&body=Hey! I found this on {{ site_display_name }} and thought you might like it! Check it out now! http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{{ request.get_full_path }}"><i class="fa fa-envelope-o"></i></a>#}
{#                                        {% endif %}#}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            {#            <section id="map">#}
            {#                <div id="map-canvas">#}
            {#                    <ui-gmap-google-map center="{latitude: {{ listing.latitude }}, longitude: {{ listing.longitude }}}" zoom="15" options="{scrollwheel: false}">#}
            {#                        <ui-gmap-circle center="{latitude: {{ listing.latitude }}, longitude: {{ listing.longitude }}}" radius="500" stroke="{color: '#00FF00', weight: 2, opacity: 0.5}" fill="{color: '#00FF00', opacity: 0.375}"></ui-gmap-circle>#}
            {#                    </ui-gmap-google-map>#}
            {#                </div>#}
            {#            </section>#}
        </div>
    {% endcache %}
{% endblock %}