{% extends "listings/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load cache %}
{% block html_attributes %}ng-app="gouda.listings.apps.ListingSearchResultsApp"{% endblock %}
{% block title %}Buy Drones | {{ site_display_name }}{% endblock %}
{% block nav_classes %}navbar navbar-fixed-top navbar--default navbar--search-results{% endblock %}
{% block content %}
    {% cache 3600 search_results %}
        <div id="search-results-content" class="content" data-spy="scroll" data-target="#navbar-collapse-target">
            <div class="">f</div>
            <div class="search-container">
                <section id="search-controls" class="container-fluid">
                    <form ng-controller="ListingSearchResultsFormController" novalidate name="form" id="search-form">
                        <div class="row input-gang">
                            <div class="col-xs-12 col-sm-9 col-md-offset-2 col-md-5 input-container">
                                <span class="fa fa-search prefix"></span>
                                {{ form.query }}
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 input-container">
                                {{ form.condition }}
                            </div>
                        </div>
                        <div class="center-block price-range-container">
                            <h4 class="title">Price</h4>
                            <div ng-cloak k-ng-disabled="!areControlsEnabled()" kendo-range-slider="priceRangeSlider" k-on-slide="onPriceRangeSliderSlide(kendoEvent)" class="price-slider" ng-model="price" k-options="priceRangeSliderOptions">
                                <input/>
                                <input/>
                            </div>
                            {% verbatim %}
                            <p ng-cloak class="price pull-left">{{getMinPrice() | currency:'$':0}}</p>
                            <p ng-cloak class="price pull-right">{{getMaxPrice() | currency:'$':0}}<span ng-show="getMaxPrice() >= 1000">+</span></p>
                            {% endverbatim %}
                        </div>
                    </form>
                </section>
                <section id="search-results" class="container-fluid">
                    <div ui-view>
                    </div>
                </section>
            </div>
        </div>
    {% endcache %}
{% endblock %}
{% block footer_class %}{{ block.super }} search-results-footer{% endblock %}
