{% extends "listings/base.html" %}
{% load i18n %}
{% load cache %}
{% load staticfiles %}
{% load thumbnail %}
{% load list_utils %}
{% block html_attributes %}ng-app="gouda.listings.apps.ListingApp"{% endblock %}
{% block nav_classes %}navbar navbar-fixed-top navbar--search{% endblock %}
{% block content %}
    {% cache 3600 search %}
        <div class="content" data-spy="scroll" data-target="#navbar-collapse-target" id="listing-search">
            <section id="banner" class="banner">
                <div class="container-fluid banner__container">
                    <video class="banner__container__video" autoplay="autoplay" loop="loop" poster="{% static "listings/images/drones.jpg" %}">
                        <source src="{% static "listings/videos/drones.mp4" %}" type="video/mp4">
                        <source src="{% static "listings/videos/drones.ogg" %}" type="video/ogg">
                        <source src="{% static "listings/videos/drones.webm" %}" type="video/webm">

                    </video>
                    <div class="container form-container">
                        <h1 class="banner__container__title">Recusandae <span class="highlight">hic</span> dolorum.</h1>
                        <form method="get" ng-submit="onSubmit()" jw-action="{% url 'listings:search_results' %}" ng-controller="ListingSearchQueryFormController" novalidate name="form" id="search-query-form">
                            <div class="row input-gang">
                                <div class="col-xs-12 col-sm-10 input-container">
                                    {{ form.query }}
                                </div>
                                <div class="col-xs-12 col-sm-2 input-container">
                                    <kendo-button k-ng-disabled="!isFormValid()" type="submit" ng-cloak class="k-primary">Search</kendo-button>
                                </div>
                            </div>
                        </form>
                        <div class="row about-button-container">
                            <div class="col-xs-12">
                                <kendo-button type="submit" ng-cloak type="button" class="k-primary about-button"><a href="{% url 'about_us' %}">What is {{ site_display_name }}?</a></kendo-button>
                            </div>
                        </div>
{#                        <div class="text-center center-block glyphicon glyphicon-menu-down banner__container__down-arrow"></div>#}
                    </div>
                </div>
            </section>
            <section style="overflow-x: hidden" class="container listing-container">
                <h1 class="text-center title">
                    Aperiam laudantium nisi quasi nam
                </h1>
                <div class="text-center divider-container">
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                </div>
                <div class="row listing-row">
                    {% for listing in latest_listings %}
                        <div class="col-sm-4 listing-col">
                            <a href="{{ listing.url }}">
{#                            <a href="{% url 'listings:detail' listing.id %}">#}
                                <div class="listing" style="background-image: url('{{ listing.primary_image.image|thumbnail_url:'480x260' }}');">
                                    <div class="dimmer"></div>
                                    <div class="info">
                                        <p class="title">{{ listing.title }}</p>
                                        <p class="subtitle">{{ listing.currency_symbol }}{{ listing.price|floatformat:0 }}<span class="fa fa-circle"></span>{{ listing.condition_label }}</p>
                                    </div>
{#                                    <div class="info">#}
{#                                        <img class="center-block img-responsive profile-image" src="{% if listing.profile.image %}{{ listing.profile.image|thumbnail_url:'80x80' }}{% else %}{% static "profiles/images/anonymous_profile.png" %}{% endif %}" />#}
{#                                        <p class="text-center title">{{ listing.title }}</p>#}
{#                                    </div>#}
{#                                    <p class="price">#}
{#                                        <sup class="superscript">{{ listing.currency_symbol }}</sup>{{ listing.price|floatformat:0 }}#}
{#                                    </p>#}
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </section>
            <section id="blurbs" class="blurbs">
                <div class="overflow-hidden blurb-1">
                    <div class="container-fluid blurbs__container blurbs__container--beach-1">
                        <h1 class="container text-center blurbs__container__title">
                            {% lorem 10 w random %}.
                        </h1>
                    </div>
                </div>
                <div class="overflow-hidden blurb-2">
                    <div class="container-fluid blurbs__container blurbs__container--beach-2">
                        <h1 class="container text-center blurbs__container__title">
                            {% lorem 15 w random %}
                        </h1>
                    </div>
                </div>
                <div class="overflow-hidden blurb-3">
                    <div class="container-fluid blurbs__container blurbs__container--beach-3">
                        <h1 class="container text-center blurbs__container__title">
                            {% lorem 12 w random %}
                        </h1>
                    </div>
                </div>
            </section>
            <section id="join-the-crew" class="join-the-crew container">
                <div>
                    <div>
                        <h4 class="join-the-crew__title">{{ site_display_name }} is a {% lorem 15 w random %}.</h4>
                        <h5 class="join-the-crew__subtitle">{% lorem 20 w random %}</h5>
                    </div>
                    <div>
                        <a href="{% url 'profiles:create' %}"><kendo-button type="submit" ng-cloak class="k-primary">Join now</kendo-button></a>
                    </div>
                </div>
            </section>
        </div>
    {% endcache %}
{% endblock %}

{% block scripts %}
{% endblock %}
