{% extends "profiles/dashboard.html" %}
{% load i18n %}
{% load cache %}
{% load staticfiles %}
{% load thumbnail %}
{% load list_utils %}
{% load tz %}
{% block title %}Accept booking request | {{ site_display_name }}{% endblock %}
{% block dashboard_content %}
    <div class="booking-request-detail">
        {#        <div class="container-fluid">#}
        <div class="card">
            <div class="header">
                <h2 class="title">Would you like to accept this booking?</h2>
                <div class="text-center divider-container">
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                </div>
            </div>
            <div class="content">
                <div class="booking-info">
                    {% with booking=booking_request.booking %}
                        {% if booking.foodbooking %}
                            {% with food_booking=booking.foodbooking %}
                                <div class="row">
                                    <div class="col-xs-12 display-name">
                                        <h3 class="regular-font title">{{ food_booking.get_display_name }}</h3>
                                    </div>
                                    <div class="col-xs-12">
                                        <h4 class="regular-font">Job Details</h4>
                                        <p>Is this a full menu shoot? <span class="regular-font">{{ food_booking.is_full_menu_shoot|yesno|capfirst }}</span></p>
                                        <p>Is this booking confirmed with the restaurant? <span class="regular-font">{{ food_booking.is_confirmed_with_restaurant|yesno|capfirst }}</span></p>
                                        {% if booking.time_range %}
                                            <p>{{ booking.time_range.lower|timezone:booking.address.time_zone|date }}</p>
                                            <p>{{ booking.time_range.lower|timezone:booking.address.time_zone|date:"g:i A e" }} - {{ booking.time_range.upper|timezone:booking.address.time_zone|date:"g:i A e" }}</p>
                                        {% endif %}
                                        {% if food_booking.menu_url %}
                                            <p><a href="{{ food_booking.menu_url }}">See {{ food_booking.restaurant_name }}'s Menu</a></p>
                                        {% endif %}
                                    </div>
                                </div>
                                {#                                {% if food_booking.items %}#}
                                {#                                    <div class="row">#}
                                {#                                        <div class="col-xs-12">#}
                                {#                                            <h4 class="regular-font">Menu Items</h4>#}
                                {#                                            <ul>#}
                                {#                                                {% for item in booking.items %}#}
                                {#                                                    <li>{{ item }}</li>#}
                                {#                                                {% endfor %}#}
                                {#                                            </ul>#}
                                {#                                        </div>#}
                                {#                                    </div>#}
                                {#                                {% endif %}#}
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h4 class="regular-font">Location</h4>
                                        <p>{{ food_booking.restaurant_name }}</p>
                                        <p>{{ booking.address.street_address }}</p>
                                        {% if booking.address.sub_premise %}
                                            <p>{{ booking.address.sub_premise }}</p>
                                        {% endif %}
                                        <p>{{ booking.address.locality }}, {{ booking.address.region }} {{ booking.address.postal_code }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h4 class="regular-font">Contact details</h4>
                                        <p>{{ food_booking.contact_name }}</p>
                                        <p><span class="fa fa-phone"></span> {{ food_booking.contact_phone_number }}</p>
                                    </div>
                                </div>
                            {% endwith %}
                        {% else %}
                            <div class="row">
                                <div class="col-xs-12 display-name">
                                    <h3 class="regular-font title">{{ booking.get_display_name }}</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <h4 class="regular-font">Job Details</h4>
                                    <p>{{ booking.service_type_label }}</p>
                                    {% if booking.time_range %}
                                        <p>{{ booking.time_range.lower|date }}</p>
                                        <p>{{ booking.time_range.upper|date:"g:i A" }} - {{ booking.time_range.lower|date:"g:i A" }}</p>
                                    {% endif %}
                                    <p><span class="fa fa-phone"></span> {{ booking.phone_number }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <h4 class="regular-font">Location</h4>
                                    <p>{{ booking.address.street_address }}</p>
                                    {% if booking.address.sub_premise %}
                                        <p>{{ booking.address.sub_premise }}</p>
                                    {% endif %}
                                    <p>{{ booking.address.locality }}, {{ booking.address.region }} {{ booking.address.postal_code }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endwith %}
                    {% if booking.message %}
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 class="regular-font">Message</h4>
                                <p>{{ booking.message }}</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <hr/>
                <div class="row">
                    <div class="col-sm-6">
                        <a href="{{ booking_request.accept_booking_url|urlencode }}"><button class="k-primary k-button green">Accept</button></a>
                    </div>
                    <div class="col-sm-6">
                        <a href="{{ booking_request.reject_booking_url|urlencode }}"><button class="k-primary k-button red">Reject</button></a>
                    </div>
                </div>

            </div>
        </div>
        {#        </div>#}
    </div>
{% endblock %}