{% extends "profiles/dashboard.html" %}
{% load thumbnail %}
{% load staticfiles %}
{% load compress %}
{% load profiles %}
{% block title %}{{ booking.get_display_name }} | {{ site_display_name }}{% endblock %}
{% block dashboard_content %}
    <div class="booking-detail">
        {% include "photographers/snippets/booking_card_snippet.html" with booking=booking is_booking_detail=True user=request.user only %}
        <div id="image-loader-card" class="card {% if not request.user.is_staff and not booking.did_staff_approve %}hidden{% endif %}">
            <div class="header">
                <h2 class="title">Photos</h2>
            </div>
            <div class="content">
                <div id="image-loader"></div>
            </div>
        </div>
        <div class="card">
            <div class="header">
                <h2 class="title">Messages</h2>
            </div>
            <div class="content">
                <div id="inbox"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    {% compress js %}
        <script src="{% static 'js/react/dist/pages/profiles/BookingDetail.js' %}"></script>
    {% endcompress %}
    <script type="text/javascript">
        // Initialization glue code
        window.BookingDetail.init({
        {% if booking.foodbooking %}
            chips: {
                el: '#chips',
                endpoint: '{% url 'api_photographers:food_booking_detail' booking.id %}',
                readonly: false
            },
        {% endif %}
            imageLoader: {
                el: '#image-loader',
                endpoint: '{% url 'api_photographers:booking_album_list' %}?booking={{ booking.id }}',
                downloadUrl: '{% url 'profiles:booking_album_download' booking.id %}',
                placeholderUrl: '{% static "img/photo_placeholder.png" %}'
            },
            inbox: {
                el: '#inbox',
                user: {
                    id: {{ user.profile.postmaster_user.id }},
                    firstName: '{{ user.profile.postmaster_user.first_name }}',
                    thumbnailUrl: '{% if user.profile.image %}{{ user.profile.image|thumbnail_url:'80x80' }}{% else %}{% static "profiles/images/anonymous_profile.png.80x80_q85_crop.png" %}{% endif %}'
                },
                endpoint: '{% url 'api_postmaster:message_list' %}?thread={{ booking.thread.id }}&recipient={{ booking.photographer.postmaster_user.id }}'
            }
        });
    </script>
{% endblock %}
