{% extends "profiles/dashboard.html" %}
{% load date %}
{% load thumbnail %}
{% load staticfiles %}
{% load profiles %}
{% load url %}
{% load compress %}
{% block title %}Bookings | {{ site_display_name }}{% endblock %}
{% block dashboard_content %}
    <div class="booking-list">
        <div class="card">
            <div class="header">
                <h2 class="title">Bookings</h2>
                <a href="{% url 'profiles:booking_csv_download' %}"><h5><span class="fa fa-download"></span> Download CSV</h5></a>
            </div>
            <div class="content">
                <form class="ez-form" method="get" action="{{ request.path }}" role="form" name="form" data-parsley-validate="">
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Search</label>
                            {{ form.query }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label>State</label>
                            {{ form.region }}
                        </div>
                        <div class="col-sm-5">
                            <label>City</label>
                            {{ form.locality }}
                        </div>
                        <div class="col-sm-3">
                            <label class="invisible">ofoas</label>
                            <button type="submit" class="k-primary k-button blue">Apply</button>
                        </div>
                    </div>
                </form>
                <hr/>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th><a href="?{% url_ordering request 'o' 'photographer' '-' %}">Photographer <span class="{% url_ordering_icon request 'o' 'photographer' %}"></span></a></th>
                            <th><a href="?{% url_ordering request 'o' 'locality' '-' %}">City <span class="{% url_ordering_icon request 'o' 'locality' %}"></span></a></th>
                            <th><a href="?{% url_ordering request 'o' 'region' '-' %}">State <span class="{% url_ordering_icon request 'o' 'region' %}"></span></a></th>
                            <th><a href="?{% url_ordering request 'o' 'time_range' '-' %}">Date <span class="{% url_ordering_icon request 'o' 'time_range' %}"></span></a></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for booking in bookings %}
                            <tr>
                                <td><a href="{% url 'profiles:booking_detail' booking.id %}">{{ booking.get_display_name }}</a></td>
                                <td>{% if booking.photographer %}{{ booking.photographer.display_name }}{% else %}Unassigned{% endif %}</td>
                                <td>{{ booking.address.formatted_locality }}</td>
                                <td>{{ booking.address.formatted_region }}</td>
                                <td>{% if booking.time_range %}{{ booking.time_range.lower|date:"SHORT_DATE_FORMAT" }}{% else %}Unscheduled{% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if is_paginated %}
                    <div class="pagination-container">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li>
                                    <a href="?{% query_params request 'page' page_obj.previous_page_number %}" class="previous fa fa-chevron-left" aria-label="Previous"></a>
                                </li>
                            {% endif %}
                            {% if page_obj.has_next %}
                                <li>
                                    <a href="?{% query_params request 'page' page_obj.next_page_number %}" class="next fa fa-chevron-right" aria-label="Next"></a>
                                </li>
                            {% endif %}
                        </ul>
                        <p class="pagination-info regular-font">
                            {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ paginator.count }}
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    {% compress js %}
        <script src="{% static 'js/react/dist/pages/profiles/BookingList.js' %}"></script>
    {% endcompress %}
{% endblock %}
