{% extends "profiles/form_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}Sign up | {{ site_display_name }}{% endblock %}
{% block form_header %}
    <h2 class="text-center form-title">Wanna join the crew?</h2>
    <h4 class="text-center form-subtitle">Sign up in 30 seconds. No credit card required.</h4>
    <h4 class="text-center form-subtitle">Already have a {{ site_display_name }} account? <a href="{% url 'profiles:login' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">Log in here.</a></h4>
{% endblock %}
{% block form_content %}
    <form name="form" method="post" action="{% url 'profiles:create' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" class="text-center profile-create-form" role="form" data-parsley-validate="">
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-12">
                <a href="{% url 'social:begin' 'facebook' %}"><button type="button" class="k-button k-facebook">Sign up with Facebook</button></a>
            </div>
        </div>
        <div class="divider">
            <span>or</span>
            <hr/>
        </div>
        <div class="row">
            <div class="input-container col-xs-12">
                <i class="fa fa-user fa-2x"></i>
                {{ form.full_name }}
                {% include "snippets/field_errors.html" with errors=form.full_name.errors only%}
            </div>
        </div>
        <div class="row input-container birthday-container">
            <div class="col-xs-12">
                <label>Birthday</label>
            </div>
            <div class="col-sm-7 month-input-container">
                {{ form.month }}
            </div>
            <div class="col-sm-2 day-input-container">
                {{ form.day }}
            </div>
            <div class="col-sm-3 year-input-container">
                {{ form.year }}
            </div>
            {% include "snippets/field_errors.html" with errors=form.day.errors only%}
            {% include "snippets/field_errors.html" with errors=form.month.errors only%}
            {% include "snippets/field_errors.html" with errors=form.year.errors only%}
        </div>
        <div class="row">
            <div class="input-container col-xs-12">
                <label>Gender</label>
                <div class="gender-input-container">
                    <i class="fa fa-venus-mars fa-2x"></i>
                    {{ form.gender }}
                </div>
            </div>
        </div>
        <div class="row input-container location-container">
            <div class=" col-xs-12">
                <label>Location</label>
            </div>
            <div class="col-sm-6 locality-input-container">
                {{ form.locality }}
            </div>
            <div class="col-sm-6 region-input-container">
                {{ form.region }}
            </div>
            <div class="col-sm-12 country-input-container">
                <div class="">
                    <i class="fa fa-flag fa-2x"></i>
                    {{ form.country }}
                </div>
            </div>
        </div>
        <div class="row input-container">
            <div class="col-xs-12">
                <label>How did you hear about us?</label>
                <div class="referral-input-container">
                    <i class="fa fa-connectdevelop fa-2x"></i>
                    {{ form.referral }}
                </div>
            </div>
        </div>
        <div class="row input-container">
            <div class="col-xs-12">
                <i class="fa fa-envelope-o fa-2x"></i>
                {{ form.email_address }}
                {% include "snippets/field_errors.html" with errors=form.email_address.errors only%}
            </div>
        </div>
        <div class="row input-container">
            <div class="col-xs-12">
                <i class="fa fa-lock fa-2x"></i>
                {{ form.password }}
                <i class="fa fa-2x fa-question-circle">
                    <md-tooltip ng-cloak>
                        Your password must contain at least 8 characters
                    </md-tooltip>
                </i>
                {% include "snippets/field_errors.html" with errors=form.password.errors only%}
            </div>
        </div>
        <div class="row input-container">
            <div class="col-xs-12">
                <button type="submit" type="button" class="k-button k-primary">Sign up</button>
            </div>
        </div>
        <div class="row input-container">
            <div class="col-xs-12">
                By clicking this button, you agree to {{ site_display_name }}'s <a href="{% url 'terms_of_service' %}">Terms of Service</a> and <a href="{% url 'privacy_policy' %}">Privacy Policy</a>.
            </div>
        </div>
        {{ form.errors }}
    </form>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            $("#id_month").kendoDropDownList();
        });
        $(document).ready(function() {
            $("#id_region").kendoDropDownList();
        });
        $(document).ready(function() {
            $("#id_country").kendoDropDownList();
        });
        $(document).ready(function() {
            $("#id_gender").kendoDropDownList();
        });
        $(document).ready(function() {
            $("#id_referral").kendoDropDownList();
        });
    </script>
{% endblock %}