{% extends "profiles/dashboard.html" %}
{% load static %}
{% load compress %}
{% block title %}Edit your profile | {{ site_display_name }}{% endblock %}
{% block dashboard_content %}
    <div class="customer-update">
        <div class="card">
            <div class="header">
                <h2 class="title">Update your payment information</h2>
                <h4 class="text-center">Wanna be a photographer for SHOTZU? Please fill out the form <a href="{% url 'photographers:create_photographer' %}">here.</a></h4>
                <div class="text-center divider-container">
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                </div>
            </div>
            <div class="content">
                <form id="customer-update-form" name="form" method="post" action="{{ request.path }}" data-parsley-validate="" data-parsley-trigger-after-failure="keyup">
                    {% csrf_token %}
                    {{ form.payment_method_nonce }}
                    <div class="row">
                        <div class="input-gang col-sm-12">
                            <label>Card Number</label>
                            <div class="input-addon">
                                <span class="fa fa-credit-card input-prefix"></span>
                                <input value="**** **** **** {{ credit_card.last_4 }}" id="id_card_number" class="k-textbox" required data-parsley-errors-messages-disabled="" pattern="\d{4} \d{4} \d{4} \d{4}" />
                            </div>
                        </div>
                        <div class="input-gang col-sm-8">
                            <label>Expiration Date</label>
                            <div class="input-addon">
                                <span class="fa fa-calendar input-prefix"></span>
                                <input value="{{ credit_card.expiration_month }}/{{ credit_card.expiration_year }}" id="id_expiration_date" class="k-textbox" placeholder="MM/YY" required data-parsley-errors-messages-disabled=""/>
                            </div>
                        </div>
                        <div class="input-gang col-sm-4">
                            <label>Security Code</label>
                            <div class="input-addon">
                                <span class="fa fa-lock input-prefix"></span>
                                <input value="****" id="id_security_code" class="k-textbox" required data-parsley-errors-messages-disabled="" pattern="\d{3,4}"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-gang col-sm-12">
                            <button type="submit" class="k-primary k-button">Submit</button>
                            <div id="rectangle-spinner" class="rectangle-spinner hidden">
                                <div class="rect1"></div>
                                <div class="rect2"></div>
                                <div class="rect3"></div>
                                <div class="rect4"></div>
                                <div class="rect5"></div>
                            </div>
                            <div id="error-message" class="text-center error-message-container hidden">
                                <p class="ng-invalid">There was an error processing your payment details <span class="fa fa-frown-o"></span></p>
                                <p class="ng-invalid">Please contact {{ support_email }}</p>
                            </div>
                        </div>
                    </div>
                </form>
{#                {{ form.errors }}#}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    {% compress js %}
        <script src="{% static 'js/react/dist/pages/profiles/CustomerUpdate.js' %}"></script>
    {% endcompress %}
{% endblock %}