{% extends "content_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load styles %}
{% load thumbnail %}
{% load arithmetic %}
{% load hijack_tags %}
{% block html_attributes %}ng-app="gouda.profiles.apps.ProfileApp"{% endblock %}
{% block hijack_notification %}{% endblock %}
{% block nav %}
    <nav id="navbar" class="navbar navbar--default navbar-fixed-top navbar-dashboard" role="navigation">
        <div class="container-fluid hijack-notification">
            {% hijack_notification %}
        </div>
        <div class="container-fluid messages">
            {% if messages %}
                <ul class="">
                    {% for message in messages|slice:":1" %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand hvr-fade" href="{% url 'index' %}">{{ site_display_name }}</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-target">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-target">
                <ul class="nav navbar-nav navbar-right nav-link-container dashboard-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-profile-link-container"><a id="nav-profile-link" class="hvr-fade" href="{% url 'profiles:update_profile' %}"><img class="img-circle nav-profile-image" src="{% if user.profile.image %}{{ user.profile.image|thumbnail_url:'35x35' }}{% else %}{% static "profiles/images/anonymous_profile.png" %}{% endif %}"/>{{ user.first_name }}</a></li>
                        {#                        <li><a id="nav-profile-link" class="hvr-fade" href="#">{{ user.first_name }}</a></li>#}
                        <li><a class="hvr-fade" href="{% url 'profiles:logout' %}">log out</a></li>
                    {% else %}
                        <li><a class="hvr-fade" href="{% url 'profiles:create' %}">sign up</a></li>
                        <li><a class="hvr-fade" href="{% url 'profiles:login' %}?next={% firstof request.path '/' %}">log in</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right nav-link-container dashboard-xs-nav">
{#                    <li><a class="hvr-fade {% is_active request 'profiles:inbox inbox' %}" href="{% url 'profiles:inbox' %}">Inbox</a></li>#}
                    {% if not request.user.braintree_merchant_account or is_debug %}
                        <li><a class="{% is_active request 'profiles:booking_list booking' %}" href="{% url 'profiles:booking_list' %}"><span class="fa fa-calendar fa-fw"></span><span class="title">Bookings</span></a></li>
                    {% endif %}
                    <li><a class="hvr-fade {% is_active request 'profiles:update_profile' %}" href="{% url 'profiles:update_profile' %}">Profile</a></li>
                    {% if not request.user.braintree_merchant_account or is_debug %}
                        <li><a class="hvr-fade {% is_active request 'profiles:customer_update' %}" href="{% url 'profiles:customer_update' %}">Wallet</a></li>
                    {% endif %}
                    {% if request.user.braintree_merchant_account %}
                        <li><a class="hvr-fade {% is_active request 'profiles:shoot_list shoot' %}" href="{% url 'profiles:shoot_list' %}">Shoots</a></li>
                        <li><a class="hvr-fade {% is_active request 'profiles:booking_request_list request' %}" href="{% url 'profiles:booking_request_list' %}">Requests</a></li>
                        <li><a class="hvr-fade {% is_active request 'profiles:payout_list payouts' %}" href="{% url 'profiles:payout_list' %}">Payouts</a></li>
                        <li><a class="hvr-fade {% is_active request 'profiles:account_update' %}" href="{% url 'profiles:account_update' %}">Account</a></li>
                    {% endif %}
                    <li><a class="hvr-fade" href="{% url 'profiles:logout' %}">log out</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <p>DEBUG = {{ is_debug }}</p>
    <div class="dashboard {% if messages %}messages{% endif %} {% if request|is_hijacked %}hijack-notification{% endif %}">
        <div class="container">
            <div class="dashboard-row">
                <div id="dashboard-sidebar" class="col-xs-3 col-lg-2 dashboard-sidebar {% if messages %}messages{% endif %}">
{#                    <a class="{% is_active request 'profiles:inbox inbox' %}" href="{% url 'profiles:inbox' %}"><span class="fa fa-inbox fa-fw"></span><span class="title">Inbox</span></a>#}
                    {% if not request.user.braintree_merchant_account or is_debug %}
                        <a class="{% is_active request 'profiles:booking_list booking' %}" href="{% url 'profiles:booking_list' %}"><span class="fa fa-calendar fa-fw"></span><span class="title">Bookings</span></a>
                    {% endif %}
                    <a class="{% is_active request 'profiles:update_profile' %}" href="{% url 'profiles:update_profile' %}"><span class="fa fa-user fa-fw"></span><span class="title">Profile</span></a>
                    {% if not request.user.braintree_merchant_account or is_debug %}
                        <a class="{% is_active request 'profiles:customer_update' %}" href="{% url 'profiles:customer_update' %}"><span class="fa fa-credit-card fa-fw"></span><span class="title">Wallet</span></a>
                    {% endif %}
                    {% if request.user.braintree_merchant_account %}
                        <hr/>
                        <a class="{% is_active request 'profiles:shoot_list shoot' %}" href="{% url 'profiles:shoot_list' %}"><span class="fa fa-camera-retro fa-fw"></span><span class="title">Shoots</span></a>
                        <a class="{% is_active request 'profiles:booking_request_list request' %}" href="{% url 'profiles:booking_request_list' %}"><span class="fa fa-question fa-fw"></span><span class="title">Requests</span></a>
                        <a class="{% is_active request 'profiles:payout_list payouts' %}" href="{% url 'profiles:payout_list' %}"><span class="fa fa-money fa-fw"></span><span class="title">Payouts</span></a>
                        <a class="{% is_active request 'profiles:account_update' %}" href="{% url 'profiles:account_update' %}"><span class="fa fa-credit-card fa-fw"></span><span class="title">Account</span></a>
                    {% endif %}
                </div>
                <div id="dashboard-content" class="col-xs-9 col-lg-10 dashboard-content">
                    {% block dashboard_content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
        <script src="{% static 'js/react/dist/pages/profiles/Dashboard.js' %}"></script>
{% endblock %}