{% extends "profiles/dashboard.html" %}
{#{% load i18n %}#}
{#{% load staticfiles %}#}
{#{% block links %}#}
{#    <link href="{% static "profiles/stylesheets/screen.css" %}" rel="stylesheet">#}
{#{% endblock %}#}
{#{% block html_attributes %}ng-app="gouda.profiles.apps.ProfileApp"{% endblock %}#}
{#{% block body %}#}
{#    <div class="container">#}
{#        <div class="center-block form-container">#}
{#            <a href="{% url 'index' %}"><div class="center-block form-logo"></div></a>#}
{#            <div class="form-header">#}
{#                {% block form_header %}{% endblock %}#}
{#            </div>#}
{#            {% for error in form.non_field_errors %}#}
{#                <div class="center-block alert alert-danger form-alert" role="alert">#}
{#                    <div class="error-icon">#}
{#                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>#}
{#                    <span class="sr-only">Error:</span>#}
{#                    </div>#}
{#                    <div class="error-message">#}
{#                        {{ error }}#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}
{#            {% block form_content %}{% endblock %}#}
{#        </div>#}
{#        <h2 class="text-center form-footer-title">ISLAND</h2>#}
{#        <h5 class="text-center form-footer-subtitle">© 2015 THE ISLAND CREW</h5>#}
{#    </div>#}
{#{% endblock %}#}