{% extends "profiles/form_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}Upload your picture | {{ site_display_name }}{% endblock %}
{% block form_header %}
    <h2 class="text-center form-title">Say cheese!</h2>
    <h4 class="text-center form-subtitle">A face photo is a great way for users and photographers to connect.</h4>
{% endblock %}
{% block form_content %}
    <form method="post" name="form" ng-controller="ProfileImageUploadController" action="{% url 'profiles:image_update' pk=profile.pk %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" class="text-center profile-image-upload-form" role="form" novalidate>
        {% csrf_token %}
        <input class="hidden" type="file" id="file-input" accept="image/*"/>
        {{ form.image }}
        <div class="crop-area-container">
            <div id="crop-area" class="crop-area">
                <div ng-hide="didUploadImage" class="input-controls">
                    <h2 class="title">Drag a photo here</h2>
                    <h4 class="subtitle">- or -</h4>
                    <kendo-button ng-cloak ng-click="onFileInputClick()" type="button" class="k-secondary">Select a photo from your computer</kendo-button>
                </div>
                <img-crop image="image" result-image="croppedImage" result-image-size="500" result-image-quality="1.0"></img-crop>
            </div>
        </div>
        <div class="row">
            {% include "snippets/field_errors.html" with errors=form.image.errors only%}
            <div class="input-container col-xs-12">
                <kendo-button type="submit" ng-cloak k-ng-disabled="!isFormValid()" class="k-primary">Set as profile photo</kendo-button>
            </div>
        </div>
        {% url 'photographers:create_photographer' as create_photographer_url %}
        {% if request.GET.next == create_photographer_url %}
{#            <a href="{% url 'index' %}"><h5 class="cancel-image">Skip this step</h5></a>#}
            <h5 class="cancel-image"><a href="{% url 'photographers:create_photographer' %}">Skip this step</a></h5>
        {% else %}
            <h5 class="cancel-image"><a href="{% url 'index' %}">Skip this step</a></h5>
        {% endif %}
    </form>
{% endblock %}