{% extends "profiles/dashboard.html" %}
{% load date %}
{% load thumbnail %}
{% load staticfiles %}
{% load profiles %}
{% block title %}Inbox | {{ site_display_name }}{% endblock %}
{% block dashboard_content %}
    <div class="inbox">
        <h2 class="screen-sm--only regular-font">INBOX</h2>
        {% for message in messages %}
            {% is_read message as is_read %}
            <a class="thread-link" href="{% url 'profiles:thread' message.thread.id %}">
                <div class="screen-sm row message {% if is_read %}muted{% endif %}">
                    <div class="profile-image-container">
                        <div class="overlay"></div>
                        <div class="profile-image" style="background-image: url('{% if message.sender.image %}{{ message.sender.image|thumbnail_url:'80x80' }}{% else %}{% static "profiles/images/anonymous_profile.png.80x80_q85_crop.png" %}{% endif %}');"></div>
                    </div>
                    <div class="col-xs-3 col-md-3 col-lg-2 sender">
                        {{ message.sender.full_name }}
                    </div>
                    <div class="col-xs-5 col-md-6 col-lg-8 body">
                        {{ message.truncated_body }}
                    </div>
                    <div class="text-right col-xs-4 col-md-3 col-lg-2 date-created">
                        {{ message.date_created|prettifydate }}
                    </div>
                </div>
                <div class="screen-xs--only row message {% if is_read %}is-read{% endif %}">
                    <div class="col-xs-6 sender">
                        {{ message.sender.full_name }}
                    </div>
                    <div class="text-right col-xs-6 date-created">
                        {{ message.date_created|prettifydate }}
                    </div>
                    <div class="col-xs-12 body">
                        {{ message.truncated_body|truncatechars:75 }}
                    </div>
                </div>
            </a>
            {% if not forloop.last %}
                <hr/>
            {% endif %}
        {% empty %}
            <h3 class="text-center">
                No messages found <span class="fa fa-frown-o"></span>
            </h3>
        {% endfor %}
        {% if is_paginated %}
            <div class="pagination-container">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li>
                            <a href="?page={{ page_obj.previous_page_number }}" class="previous fa fa-chevron-left" aria-label="Previous"></a>
                        </li>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li>
                            <a href="?page={{ page_obj.next_page_number }}" class="next fa fa-chevron-right" aria-label="Next"></a>
                        </li>
                    {% endif %}
                </ul>
                <p class="pagination-info regular-font">
                    {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ paginator.count }}
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}
