{% extends "profiles/form_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}Login | {{ site_display_name }}{% endblock %}
{% block form_header %}
    <h2 class="text-center form-title">Welcome back</h2>
    <h4 class="text-center form-subtitle">They say absence makes the heart grow fonder <span class="fa fa-heart-o"></span></h4>
{% endblock %}
{% block form_content %}
    <form name="form" ng-controller="ProfileLoginFormController" method="post" action="{{ request.path }}" class="text-center center-block profile-login-form" role="form" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-12">
                <a href="{% url 'social:begin' 'facebook' %}"><kendo-button ng-cloak type="button" class="k-facebook">Log in with Facebook</kendo-button></a>
            </div>
        </div>
        <div class="divider">
            <span>or</span>
            <hr/>
        </div>
        <div class="row">
            <div class="input-container col-xs-12">
                <i class="fa fa-envelope-o fa-2x"></i>
                {{ form.username }}
                {% include "snippets/field_errors.html" with errors=form.username.errors only%}
            </div>
            <div class="input-container col-xs-12">
                <i class="fa fa-lock fa-2x"></i>
                {{ form.password }}
                {% include "snippets/field_errors.html" with errors=form.password.errors only%}
            </div>
            <div class="input-container col-xs-12">
                <kendo-button type="submit" id="login-button" ng-cloak k-ng-disabled="!isFormValid()" type="button" class="k-primary">Log in</kendo-button>
            </div>
        </div>
        <input type="hidden" name="next" value="{% firstof next '/' %}" />
    </form>
    <div class="text-center center-block footer-links">
        <h5 class="text-center link"><a href="{% url 'profiles:create' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">Wanna join the crew?</a></h5>
        <i class="fa fa-stop"></i>
        <h5 class="text-center link"><a href="{% url 'profiles:password_reset' %}">Trouble logging in?</a></h5>
    </div>
{% endblock %}