{% extends "profiles/form_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}Reset yor password | {{ site_display_name }}{% endblock %}
{% block form_header %}
    <h2 class="text-center form-title">Reset your password</h2>
    <h4 class="text-center form-subtitle">Let's hope this is a one time thing <span class="fa fa-smile-o"></span></h4>
{% endblock %}
{% block form_content %}
    <form method="post" name="form" ng-controller="SetPasswordFormController" action="{{ request.path }}" class="text-center profile-form" role="form" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="input-container col-xs-12">
                <i class="fa fa-lock fa-2x"></i>
                {{ form.new_password1 }}
                <i class="fa fa-2x fa-question-circle">
                    <md-tooltip ng-cloak>
                        Your password must contain at least 8 characters
                    </md-tooltip>
                </i>
                {% include "snippets/field_errors.html" with errors=form.new_password1.errors only%}
            </div>
            <div class="input-container col-xs-12">
                <i class="fa fa-lock fa-2x"></i>
                {{ form.new_password2 }}
                <i class="fa fa-2x fa-question-circle">
                    <md-tooltip ng-cloak>
                        Your password must contain at least 8 characters
                    </md-tooltip>
                </i>
                {% include "snippets/field_errors.html" with errors=form.new_password2.errors only%}
            </div>
{#            {% include "snippets/field_errors.html" with errors=form.errors only%}#}
            <div class="input-container col-xs-12">
                <kendo-button type="submit" ng-cloak k-ng-disabled="!isFormValid()" type="button" class="k-primary">Reset Password</kendo-button>
            </div>
        </div>
    </form>
{% endblock %}