{% extends "profiles/form_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}Check your inbox | {{ site_display_name }}{% endblock %}
{% block form_header %}
    <h2 class="text-center form-title">Check your inbox</h2>
    <h4 class="text-center form-subtitle">A link to reset your password has been sent to you.</h4>
    <h4 class="text-center form-subtitle">If you don't see the email, make sure to check your spam folder.</h4>
{% endblock %}
{% block form_content %}
{% endblock %}
