{% extends "profiles/form_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}Send reset link | {{ site_display_name }}{% endblock %}
{% block form_header %}
    <h2 class="text-center form-title">Forgot your password?</h2>
    <h4 class="text-center form-subtitle">It's cool. We all make mistakes <span class="fa fa-smile-o"></span></h4>
{% endblock %}
{% block form_content %}
    <form name="form" ng-controller="PasswordResetFormController" method="post" action="{% url 'profiles:password_reset' %}" class="text-center profile-password-reset-form" role="form" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="input-container col-xs-12">
                <i class="fa fa-envelope-o fa-2x"></i>
                {{ form.email_address }}
                {% include "snippets/field_errors.html" with errors=form.email_address.errors only%}
            </div>
{#            {% include "snippets/field_errors.html" with errors=form.errors only%}#}
            <div class="input-container col-xs-12">
                <kendo-button type="submit" ng-cloak k-ng-disabled="!isFormValid()" type="button" class="k-primary">Send reset link</kendo-button>
            </div>
        </div>
    </form>
{% endblock %}