{% extends "profiles/dashboard.html" %}
{% load date %}
{% load thumbnail %}
{% load staticfiles %}
{% load profiles %}
{% load compress %}
{% block title %}{{ booking.get_display_name }} | {{ site_display_name }}{% endblock %}
{% block dashboard_content %}
    <div class="booking-detail">
        {% include "photographers/snippets/booking_card_snippet.html" with booking=booking is_shoot_detail=True %}
        <div id="image-loader-card" class="card">
            <div class="header">
                <h2 class="title">Photos</h2>
            </div>
            <div class="content">
                <div id="image-loader"></div>
            </div>
        </div>
        <div class="card">
            <div class="header">
                <h2 class="title">Messages</h2>
            </div>
            <div class="content">
                <div id="inbox"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    {% compress js %}
        <script src="{% static 'js/react/dist/pages/profiles/ShootDetail.js' %}"></script>
    {% endcompress %}
    <script type="text/javascript">
        // Initialization glue code
        window.ShootDetail.init({
            {% if booking.foodbooking %}
                chips: {
                    el: '#chips',
                    endpoint: '{% url 'api_photographers:food_booking_detail' booking.id %}',
                    readonly: true
                },
            {% endif %}
            imageLoader: {
                el: '#image-loader',
                endpoint: '{% url 'api_photographers:booking_album_list' %}?booking={{ booking.id }}',
                placeholderUrl: '{% static "img/photo_placeholder.png" %}',
                thumborSettings: {
                    key: '{{ thumbor_security_key }}',
                    url: '{{ thumbor_server }}',
                }
            },
            inbox: {
                el: '#inbox',
                user: {
                    id: {{ user.profile.postmaster_user.id }},
                    firstName: '{{ user.profile.postmaster_user.first_name }}',
                    thumbnailUrl: '{% if user.profile.image %}{{ user.profile.image|thumbnail_url:'80x80' }}{% else %}{% static "profiles/images/anonymous_profile.png.80x80_q85_crop.png" %}{% endif %}'
                },
                endpoint: '{% url 'api_postmaster:message_list' %}?thread={{ booking.thread.id }}&recipient={{ booking.client.postmaster_user.id }}'
            }
        });
    </script>
{% endblock %}
