{% extends "profiles/dashboard.html" %}
{% load date %}
{% load thumbnail %}
{% load staticfiles %}
{% load profiles %}
{% load url %}
{% load tz %}
{% block title %}Shoots | {{ site_display_name }}{% endblock %}
{% block dashboard_content %}
    <div class="booking-list">
        <div class="card">
            <div class="header">
                <h2 class="title">Shoots</h2>
            </div>
            <div class="content">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th><a href="?{% url_ordering request 'o' 'locality' '-' %}">City <span class="{% url_ordering_icon request 'o' 'locality' %}"/></span></a></th>
                            <th><a href="?{% url_ordering request 'o' 'region' '-' %}">State <span class="{% url_ordering_icon request 'o' 'region' %}"/></span></a></th>
                            <th><a href="?{% url_ordering request 'o' 'time_range' '-' %}">Date <span class="{% url_ordering_icon request 'o' 'time_range' %}"/></span></a></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for booking in bookings %}
                            <tr>
                                <td><a href="{% url 'profiles:shoot_detail' booking.id %}">{{ booking.get_display_name }}</a></td>
                                <td>{{ booking.address.formatted_locality }}</td>
                                <td>{{ booking.address.formatted_region }}</td>
                                <td>{% if booking.time_range %}{{ booking.time_range.lower|timezone:booking.address.time_zone|date:"SHORT_DATE_FORMAT" }} {{ booking.time_range.lower|timezone:booking.address.time_zone|time:"f A" }}-{{ booking.time_range.upper|timezone:booking.address.time_zone|time:"f A" }}{% else %}-{% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if is_paginated %}
                    <div class="pagination-container">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li>
                                    <a href="?{% query_params request 'page' page_obj.previous_page_number %}" class="previous fa fa-chevron-left" aria-label="Previous"></a>
                                </li>
                            {% endif %}
                            {% if page_obj.has_next %}
                                <li>
                                    <a href="?{% query_params request 'page' page_obj.next_page_number %}" class="next fa fa-chevron-right" aria-label="Next"></a>
                                </li>
                            {% endif %}
                        </ul>
                        <p class="pagination-info regular-font">
                            {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ paginator.count }}
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
