{% extends "profiles/dashboard.html" %}
{% load date %}
{% load thumbnail %}
{% load staticfiles %}
{% load profiles %}
{% block title %}{{ receiver.full_name }} to me | {{ site_display_name }}{% endblock %}
{% block dashboard_content %}
    <div class="thread">
        <h3 class="screen-sm--only text-center regular-font header">{{ receiver.full_name }} to me</h3>
        {% for message in messages %}
            {% is_read message as is_read %}
            <div class="row message {% if is_read %}is-read{% endif %}">
                <div class="profile-image-container">
                    <div class="overlay"></div>
                    <div class="profile-image" style="background-image: url('{% if message.sender.image %}{{ message.sender.image|thumbnail_url:'80x80' }}{% else %}{% static "profiles/images/anonymous_profile.png.80x80_q85_crop.png" %}{% endif %}');"></div>
                </div>
                <div class="col-xs-12 title">
                    {{ message.sender.full_name }}<span class="fa fa-circle"></span>{{ message.date_created|prettifydate }}
                </div>
                <div class="col-xs-12 body">
                    {{ message.body }}
                </div>
                {% if message.sender != request.user.profile %}
                    <div class="col-xs-12 controls">
                        <a href="#reply"><span class="pull-right fa fa-reply"></span></a>
                    </div>
                {% endif %}
            </div>
        {% empty %}
            <h3 class="text-center">
                No messages found <span class="fa fa-frown-o"></span>
            </h3>
        {% endfor %}
        {% if is_paginated %}
            <div class="pagination-container">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li>
                            <a href="?page={{ page_obj.previous_page_number }}" class="previous fa fa-chevron-left" aria-label="Previous"></a>
                        </li>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li>
                            <a href="?page={{ page_obj.next_page_number }}" class="next fa fa-chevron-right" aria-label="Next"></a>
                        </li>
                    {% endif %}
                </ul>
                <p class="pagination-info regular-font">
                    {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ paginator.count }}
                </p>
            </div>
        {% endif %}

        <form name="form" id="reply" ng-controller="MessageCreateFormController" method="post" action="{{ request.path }}" class="text-center message-create-form" role="form" novalidate>
            {% csrf_token %}
            {{ form.sender }}
            {{ form.receiver }}
            {{ form.thread }}
            <h4 class="title text-center regular-font header">Reply to {{ receiver.full_name }}</h4>
            <div class="row">
                <div class="col-xs-12">
                    {{ form.body }}
                </div>
                <div class="col-sm-offset-9 col-sm-3">
                    <kendo-button type="submit" ng-cloak k-ng-disabled="!isFormValid()" type="button" class="k-primary">Reply</kendo-button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
