{% extends "profiles/dashboard.html" %}
{% block title %}Edit your profile | {{ site_display_name }}{% endblock %}
{% block dashboard_content %}
    <div class="edit-profile">
        <form name="form" method="post"
              ng-controller="ProfileEditFormController"
              action="{{ request.path }}"
              role="form"
              profile-referral="{{ profile.referral }}"
              profile-month="{{ month }}"
              profile-gender="{{ profile.gender }}"
              profile-country="{{ profile.country }}"
              profile-region="{{ profile.region }}"
              profile-type="{{ profile.type }}"
              novalidate>
            {% csrf_token %}
            <div class="personal-info">
                <div class="header">
                    <h2 class="title">Personal</h2>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="input-gang col-xs-12">
                            <label>Full name</label>
                            {{ form.full_name }}
                            {% include "snippets/field_errors.html" with errors=form.full_name.errors only%}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="input-gang col-sm-7">
                                    <label>Birthday</label>
                                    {{ form.month }}
                                </div>
                                <div class="input-gang col-sm-2">
                                    <label class="screen-sm invisible">Day</label>
                                    {{ form.day }}
                                </div>
                                <div class="input-gang col-sm-3">
                                    <label class="screen-sm invisible">Year</label>
                                    {{ form.year }}
                                </div>
                            </div>
                            {% include "snippets/field_errors.html" with errors=form.day.errors only%}
                            {% include "snippets/field_errors.html" with errors=form.month.errors only%}
                            {% include "snippets/field_errors.html" with errors=form.year.errors only%}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-gang col-xs-12">
                            <label>Gender</label>
                            {{ form.gender }}
                            {% include "snippets/field_errors.html" with errors=form.gender.errors only%}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-gang col-sm-offset-9 col-sm-3 col-lg-offset-10 col-lg-2">
                            <kendo-button type="submit" ng-cloak k-ng-disabled="!isFormValid()" type="button" class="k-primary">Save</kendo-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="location">
                <div class="header">
                    <h2 class="title">Location</h2>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="input-gang col-sm-6">
                                    <label>City</label>
                                    {{ form.locality }}
                                    {% include "snippets/field_errors.html" with errors=form.locality.errors only%}
                                </div>
                                <div class="input-gang col-sm-6">
                                    <label>State/Region</label>
                                    {{ form.region }}
                                    {% include "snippets/field_errors.html" with errors=form.region.errors only%}
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-gang col-sm-12">
                                    <label>Country</label>
                                    {{ form.country }}
                                    {% include "snippets/field_errors.html" with errors=form.country.errors only%}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-gang col-sm-offset-9 col-sm-3 col-lg-offset-10 col-lg-2">
                            <kendo-button type="submit" ng-cloak k-ng-disabled="!isFormValid()" type="button" class="k-primary">Save</kendo-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about">
                <div class="header">
                    <h2 class="title">About</h2>
                </div>
                <div class="content">
{#                    <div class="row">#}
{#                        <div class="input-gang col-xs-12">#}
{#                            <label>Are you a buyer or seller?</label>#}
{#                            {{ form.type }}#}
{#                            {% include "snippets/field_errors.html" with errors=form.type.errors only%}#}
{#                        </div>#}
{#                    </div>#}
                    <div class="row">
                        <div class="input-gang col-xs-12">
                            <label>How did you hear about us?</label>
                            {{ form.referral }}
                            {% include "snippets/field_errors.html" with errors=form.referral.errors only%}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-gang col-sm-offset-9 col-sm-3 col-lg-offset-10 col-lg-2">
                            <kendo-button type="submit" ng-cloak k-ng-disabled="!isFormValid()" type="button" class="k-primary">Save</kendo-button>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-controller="ProfileImageUploadController" class="photo">
                <div class="header">
                    <h2 class="title">Photo</h2>
                </div>
                <div class="content">
                    <input class="hidden" type="file" id="file-input" accept="image/*"/>
                    {{ form.image }}
                    <div class="crop-area-container">
                        <div id="crop-area" class="crop-area">
                            <div ng-hide="didUploadImage" class="input-controls">
                                <h2 class="title">Drag a photo here</h2>
                                <h4 class="subtitle">- or -</h4>
                                <kendo-button ng-cloak ng-click="onFileInputClick()" type="button" class="k-secondary">Select a photo from your computer</kendo-button>
                            </div>
                            <img-crop image="image" result-image="croppedImage" result-image-size="500" result-image-quality="1.0"></img-crop>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-gang col-sm-offset-9 col-sm-3 col-lg-offset-10 col-lg-2">
                            <kendo-button type="submit" ng-cloak k-ng-disabled="!didUploadImage || !isFormValid()" type="button" class="k-primary">Save</kendo-button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            $("#id_month").kendoDropDownList();
        });
        $(document).ready(function() {
            $("#id_region").kendoDropDownList();
        });
        $(document).ready(function() {
            $("#id_country").kendoDropDownList();
        });
        $(document).ready(function() {
            $("#id_gender").kendoDropDownList();
        });
        $(document).ready(function() {
            $("#id_referral").kendoDropDownList();
        });
    </script>
{% endblock %}