{% load tz %}
<div id="reschedule-booking-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span class="fa fa-times"></span></button>
                <h4 class="modal-title">Reschedule your shoot</h4>
            </div>
            <form method="post" action="{{ request.path }}" role="form" name="form" data-parsley-validate="">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <label>When will this job be done?</label>
                            {{ form.date }}
                        </div>
                        <div class="col-sm-6">
                            <label>What time will you start?</label>
                            {{ form.start_time }}
                        </div>
                        <div class="col-sm-6">
                            <label>What time will you finish?</label>
                            {{ form.stop_time }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-12 col-md-offset-7 col-md-5">
                            <button type="submit" class="k-button k-primary">Reschedule</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="card">
    <div class="header">
        <h2 class="title">{{ booking.get_display_name }}</h2>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="regular-font">Status</h4>
                {% if booking.did_client_approve %}
                    <p class="text-success regular-font">Approved</p>
                {% elif booking.did_client_reject and not booking.did_staff_approve and not booking.did_photographer_approve %}
                    <p class="text-danger regular-font">Rejected by Client</p>
                {% else %}
                    <p class="text-warning regular-font">Pending Approval</p>
                {% endif %}
            </div>
        </div>
        {% if booking.foodbooking %}
            {% with food_booking=booking.foodbooking %}
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="regular-font">Job Details</h4>
                        <p>Is this a full menu shoot? <span class="regular-font">{{ food_booking.is_full_menu_shoot|yesno|capfirst }}</span></p>
                        <p>Is this booking confirmed with the restaurant? <span class="regular-font">{{ food_booking.is_confirmed_with_restaurant|yesno|capfirst }}</span></p>
                        {% if booking.time_range %}
                            <p>{{ booking.time_range.lower|timezone:booking.address.time_zone|date }}</p>
                            <p>{{ booking.time_range.lower|timezone:booking.address.time_zone|date:"g:i A e" }} - {{ booking.time_range.upper|timezone:booking.address.time_zone|date:"g:i A e" }}</p>
                        {% endif %}
                        {% if user.is_staff or is_shoot_detail %}<p><a href="#" data-toggle="modal" data-target="#reschedule-booking-modal"><span class="fa fa-calendar"></span> Reschedule this shoot</a></p>{% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="regular-font">Location</h4>
                        <p>{{ food_booking.restaurant_name }}</p>
                        <p>{{ booking.address.formatted_street_address }}</p>
                        <p>{{ booking.address.formatted_locality }}, {{ booking.address.formatted_region }} {{ booking.address.formatted_postal_code }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="regular-font">Contact details</h4>
                        <p>{{ food_booking.contact_name }}</p>
{#                        <p><span class="fa fa-phone"></span> {{ food_booking.contact_phone_number }}</p>#}
                        <p><span class="fa fa-envelope"></span> {{ food_booking.contact_email_address }}</p>
                    </div>
                </div>
            {% endwith %}
        {% else %}
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="regular-font">Job Details</h4>
                    <p>{{ booking.service_type_label }}</p>
                    {% if booking.time_range %}
                        <p>{{ booking.time_range.lower|date }}</p>
                        <p>{{ booking.time_range.upper|date:"g:i A" }} - {{ booking.time_range.lower|date:"g:i A" }}</p>
                    {% endif %}
                    <p><span class="fa fa-phone"></span> {{ booking.phone_number }}</p>
                    {% if user.is_staff or is_shoot_detail %}<p><a href="#" data-toggle="modal" data-target="#reschedule-booking-modal"><span class="fa fa-calendar"></span> Reschedule this shoot</a></p>{% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="regular-font">Location</h4>
                    <p>{{ booking.address.formatted_street_address }}</p>
                    <p>{{ booking.address.formatted_locality }}, {{ booking.address.formatted_region }} {{ booking.address.formatted_postal_code }}</p>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">
                <h4 class="regular-font">Photographer</h4>
                {% if booking.photographer %}
                    <p>{{ booking.photographer.display_name }}</p>
                {% else %}
                    <p>Unassigned</p>
                {% endif %}
            </div>
        </div>
        {% if booking.did_photographer_approve %}
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="regular-font">Number of shots</h4>
                    <p>{{ booking.num_shots }}</p>
                </div>
            </div>
        {% endif %}
        {% if booking.foodbooking and booking.foodbooking.menu_url %}
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="regular-font">Menu</h4>
                    <p><a href="{{ booking.foodbooking.menu_url }}">See {{ booking.foodbooking.restaurant_name }}'s Menu</a></p>
                </div>
            </div>
        {% endif %}
        {% if booking.foodbooking %}
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="regular-font">Menu Items</h4>
                    <div id="chips"></div>
                </div>
            </div>
        {% endif %}
        {% if booking.message %}
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="regular-font">Message</h4>
                    <p>{{ booking.message }}</p>
                </div>
            </div>
        {% endif %}
        {% if is_shoot_detail %}
            {% if not booking.did_photographer_approve and booking.images.count > 0 %}
                <hr/>
                <div class="row">
                    <div class="col-xs-12">
                        <a href="{% url 'photographers:photographer_approval' booking.id %}"><button class="k-button k-primary">Finalize this shoot</button></a>
                    </div>
                </div>
            {% endif %}
        {% elif is_booking_detail %}
            {% if user.is_staff %}
                {% if not booking.did_staff_approve and booking.did_photographer_approve %}
                    <hr/>
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="{% url 'photographers:staff_approval' booking.id %}"><button class="k-button k-primary green"><span class="fa fa-thumbs-up"></span> Submit to client</button></a>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                {% if booking.did_staff_approve and not booking.did_client_approve and not booking.did_client_reject %}
                    <hr/>
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="{% url 'photographers:client_rejection' booking.id %}"><button class="k-button k-primary red"><span class="fa fa-thumbs-down"></span> Reject this booking</button></a>
                        </div>
                        <div class="col-xs-6">
                            <a href="{% url 'photographers:client_approval' booking.id %}"><button class="k-button k-primary green"><span class="fa fa-thumbs-up"></span> Approve this booking</button></a>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
</div>

