<ul ng-show="doShowPagination()" class="pagination">
    <li ng-show="doShowPreviousLink">
        <a ng-click="previousPage()" class="previous fa fa-chevron-left" aria-label="Previous"></a>
    </li>
    <li ng-repeat="page in pages">
        <a ng-show="page.isEllipsis" class="fa fa-ellipsis-h"></a>
        <a ng-show="!page.isEllipsis" ng-click="page.onClick()" ng-class="(page.isSelected) ? 'selected':'unselected'">{{ page.number }}</a>
    </li>
    <li ng-show="doShowNextLink">
        <a ng-click="nextPage()" class="next fa fa-chevron-right" aria-label="Next"></a>
    </li>
</ul>
