<div class="{{ jwClass }}" ng-init="doShowMore = false">
    <div style="position: relative;">
        <style>
            .expandable-indicator {
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                height: 3em;
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(50%, rgba(255,255,255,0.9)), color-stop(50%, rgba(255,255,255,0.9)), color-stop(100%, #ffffff));
                background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 50%, #ffffff 100%);
                background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #ffffff 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffffff',GradientType=0 );
                background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #ffffff 100%);
            }

            .jw-show-more-content {
                height: auto;
                -webkit-transition-property: height;
                -webkit-transition-duration: 20s; /* Safari */
                transition-property: height;
                transition-duration: 20s;
            }

            .jw-show-more-content.ng-hide {
                overflow: hidden;
                height: {{ initialHeight }};
                display: block !important;
            }

            .jw-show-more-content.ng-hide-add.ng-hide-add-active,
            .jw-show-more-content.ng-hide-remove.ng-hide-remove-active {
                -webkit-transition-property: height;
                -webkit-transition-duration: 20s; /* Safari */
                transition-property: height;
                transition-duration: 20s;
            }
        </style>
        <div ng-transclude ng-show="doShowMore" class="jw-show-more-content ng-hide">
        </div>
        <div class="expandable-indicator" ng-show="!doShowMore">
        </div>
    </div>
    <p ng-show="!doShowMore"><a style="cursor: pointer;" ng-click="doShowMore=!doShowMore">+ More</a></p>
</div>

