.checkout {
  @extend %content;
  .card {
    @extend %card;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    //padding: 30px 60px;

    //@include media(tablet) {
    //  padding: 30px;
    //}

    .row {
      @include col() {
        padding-top: 15px;
        padding-bottom: 15px;
        label {
          color: $muted-text-color;
        }
      }
    }
  }

  @include media(tablet) {
    width: 100%;
    h1 {
      &.title {
        font-size: 200%;
      }
    }
  }

  .divider-container {
    padding: 15px 0 15px 0;
    .divider {
      font-size: 100%;
    }
  }

  h1 {
    &.title {
      text-align: center;
      margin-bottom: 0;
    }
  }
}

.navbar--checkout {
  min-height: 75px;
  .navbar-brand {
    padding: 0;
    height: 85px;
    line-height: 85px;
    font-size: 300%;
  }
}

.checkout-progress-container {
  position: relative;
  li {
    padding: 45px 60px 20px 60px;
    position: relative;
    display: block;
  }
  .line {
    width: 69%;
    height: 2px;
    position: absolute;
    top: 28px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: $primary-color;
    z-index: 0;
  }
  .progress-icon {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 15px;
    font-size: 2em;
    text-align: center;
    color: $primary-color;
    z-index: 2;
  }

  .progress-icon-background {
    @extend .progress-icon;
    color: white;
    z-index: 1;
  }
}