.booking-request-container {
  @extend %card-container;
  .rental-image {
    @extend %card;
    background-size: cover;
    background-position: center center;
    height: 480px;
    @include card-box-shadow();
    @include media(tablet) {
      height: 320px;
    };
    @include media(mobile) {
      height: 240px;
    };
  }

  .booking-summary-container {
    @extend %card;
    .total-cost {
      font-size: 175%;
    }

    .progress-circular {
      margin-top: 10px;
    }

    .form-container {
      position: relative;
      //@include media(mobile) {
      //  text-align: left;
      //}
      .title {
        @include media(mobile) {
          font-size: 18px;
        }
      }
      .list {
        @include media(mobile) {
          padding-left: 15px;
          text-align: left;
        }
      }
      .profile-image-container {
        cursor: none;
        position: absolute;
        left: -105px;
        @include swell-on-hover-animation(100px, 100px, 1.0);
        @include media(desktop) {
          left: -80px;
          @include swell-on-hover-animation(70px, 70px, 1.0);
        }
        @include media(tablet) {
          left: -75px;
          @include swell-on-hover-animation(65px, 65px, 1.0);
        }
        @include media(mobile) {
          left: -33px;
          @include swell-on-hover-animation(33px, 33px, 1.0);
          border-width: 5px;
        }
      }

      form {
        textarea {
          width: 100%;
          margin-bottom: 15px;
        }
        button {
          width: 100%;
        }
      }
    }

    .payment-form {
      .title {
        text-align: center;
        font-size: 150%;
      }
      label {
        color: $muted-text-color;
      }
      .input-prefix {
        $padding: 13.5px;
        padding-top: $padding;
        padding-bottom: $padding;
      }
      .input-gang {
        margin-bottom: 15px;
      }
    }
  }

}

.booking-success-container {
  @extend .booking-request-container;
  min-height: 100vh;
  .booking-summary-container {
    .social-media-container {
      a {
        font-size: 150%;
        margin: 0px 10px;
      }
    }
  }
}
