.create-rental-container {
  $transition-duration: 0.75s;
  margin-top: 45px;
  width: 75%;
  padding: 30px;
  min-height: 125vh;
  @include media(desktop) {
    width: 100%;
  }
  @include media(tablet) {
    padding-top: 0px;
  }
  @include media(mobile) {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 22px;
  }

  .card {
    @include card-box-shadow();
    background-color: white;
    padding: 30px;
    position: relative;
  }

  .steps-container {
    $inactive-diameter: 10px;
    color: $primary-color;
    margin-bottom: 30px;
    position: relative;
    .step {
      margin: 0px 5px;
      width: $inactive-diameter;
      height: $inactive-diameter;
      display: inline-block;
      background-color: white;
      border: 2px solid $primary-color;
      @include border-radius(9000px);
      @include transition-property(background-color, transform);
      @include transition-duration($transition-duration);

      &.active {
        @include transform(scale(1.75));
        //width: $active-diameter;
        //height: $active-diameter;
        //position: relative;
        //top: ($active-diameter - $inactive-diameter)/2;
        background-color: $primary-color;
      }
    }
  }

  .room-container, .listing-container {
    .title {
      margin-top: 0;
    }
  }

  .select-gang {
    margin-top: 20px;
    .input-container {
      $select-container-margin-right: 3%;
      $select-container-width: (97.5% - $select-container-margin-right * 2) / 3;
      width: $select-container-width;
      margin-right: $select-container-margin-right;
      display: inline-block;
      &:last-child {
        margin-right: 0;
      }

      @include media(tablet) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 5%;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .rental-form {
    //background-color: red;
    //min-height: 500px;
    hr {
      margin-bottom: 25px;
      margin-top: 25px;
    }

    p {
      line-height: 150%;
      &.last {
        margin-bottom: 0px;
      }
    }

    .next-button {
      $next-button-width: 20%;
      width: $next-button-width;
      //margin-left: 99.5% - $next-button-width;
      float: right;
      margin-top: 30px;
      height: 50px;

      @include media(tablet) {
        width: 100%;
        margin-left: 0;
        float: none;
      }
    }

    .submit-button {
      @extend .next-button;
      width: 100%;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;

      @include media(tablet) {
        width: 100%;
        margin-left: 0;
        float: none;
      }
    }

    &.description,
    &.details {
    }

    //.title {
    //  font-size: 175%;
    //}
  }

  .rental-description-form,
  .rental-details-form,
  .rental-pricing-form,
  .rental-amenities-form,
  .rental-photos-form {
    @extend .rental-form;
  }

  .rental-description-form,
  .rental-details-form {
    .next-button {
      margin-top: 0;
    }
  }

  .description-gang,
  .trip-gang,
  .neighborhood-gang,
  .amenities-gang,
  .pricing-gang,
  .location-gang {
    position: relative;
    .title {
      margin-top: 0;
    }
    .input-container {
      width: 100%;
      margin-bottom: 5%;
    }
    .select-gang, .map-gang {
      opacity: 1.0;

      &.ng-hide-add.ng-hide-add-active,
      &.ng-hide-remove.ng-hide-remove-active{
        @include transition-property(opacity);
        @include transition-timing-function(linear);
        @include transition-duration(0.5s);
      }

      &.ng-hide {
        opacity: 0;
      }

      &.ng-hide-add {
        display: none;
      }

      &.ng-hide-remove {
        display: block;
        opacity: 0;
      }

      &.ng-hide-remove-active {
        opacity: 1.0;
      }
    }

    .select-gang {
      .verify-button {
        display: inline-block;
        text-align: center;
        width: 30%;
        margin-left: (100% - 30%) / 2;

        @include media(tablet) {
          margin-top: 5%;
          margin-left: 0;
          width: 100%;
        }
      }
    }

    .address-container {
      margin-top: 30px;
      margin-bottom: 60px;
      p {
        font-size: 112.5%;
        line-height: 112.5%;
      }
      a {
        cursor: pointer;
      }
    }
    #map-canvas {
      margin-top: 30px;
      width: 100%;
      height: 400px;
      position: relative;
      ui-gmap-google-map {
        width: 100%;
        height: 100%;
      }
    }
  }

  .pricing-gang {
    .title {
      margin-bottom: 15px;
    }
    .input-container {
      width: 37.5%;

      .input-addon {
        &.minimum-stay {
          input {
            padding-left: 0.3em;
          }
          .input-suffix {
            font-size: 125%;
            height: 50px;
            width: 75px;
          }
        }
      }

      @include media(tablet) {
        width: 62.5%;
      }

      @include media(mobile) {
        width: 100%;
      }
    }
  }

  .amenities-gang {
    .title {
      margin-bottom: 15px;
    }
    .input-container {
      .fa {
        position: relative;
        top: 1px;
      }
      md-checkbox {
        display: inline-block;
      }
    }
  }

  [ui-view] {
    overflow: hidden;
    &.ng-enter, &.ng-leave {
      //position: absolute;
      //left: 0;
      //right: 0;
      width: 100%;

      @include transition-property(max-height);
      @include transition-timing-function(linear);
      @include transition-duration($transition-duration / 2);
    }

    &.ng-enter {
    }

    &.ng-enter {
      max-height: 0;
    }

    &.ng-enter-active {
      @include transition-delay($transition-duration / 2);
      max-height: 500px;
    }

    &.ng-leave {
      max-height: 500px;
    }

    &.ng-leave-active {
      max-height: 0;
    }
  }

}

.upload-circular {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.rental-success-container {
  @extend %card-container;
  min-height: 125vh;
  .rental-message-container {
    @extend %card;
    .rental-image-container {
      @extend %image-container;
      width: 100%;
      .rental-image {
        background-position: center center;
        background-size: cover;
        height: 120px;
        background-repeat: no-repeat;
        box-shadow: none;
      }
    }
  }
}

.server-error {
  background-color: rgb(255, 225, 225);
  margin-top: 30px;
  padding: 3%;
}