.navbar--default {
  //@include box-shadow(none);
  margin-bottom: 0;
}

.listing-detail {
  .listing-banner {
    width: 100%;
    height: 75vh;
    min-height: 400px;
    background-size: cover;
    background-position: center center;
    @include media(mobile) {
      height: 240px;
      min-height: 0px;
    }
  }

  .listing-container {
    margin: 0 auto;
    min-height: 125vh;
    width: 87.5%;
    position: relative;
    z-index: 2;
    top: -40px;

    @include media(tablet) {
      width: 100%;
    }

    .info-container, .checkout-container {
      display: inline-block;
      vertical-align: text-top;
      margin-left: 1%;
      margin-right: 1%;
    }

    $info-container-width: 65%;
    $checkout-container-width: 100% - $info-container-width - 4.5%;

    .info-container {
      width: $info-container-width;
      line-height: 150%;
      @include media(screen) {
        width: 100%;
        margin: 0;
      }
    }

    .about-container {
      @extend %card;
      position: relative;

      .heading {
        padding-right: 30px;
        .subtitle {
          .fa-circle {
            font-size: 50%;
            color: $primary-color;
            position: relative;
            top: -2px;
            margin: 0 10px;
          }
        }
      }

      .profile-image-container {
        $size: 75px;
        top: $size / 2 - 10px;
        right: 30px;
        position: absolute;
        border: none;
        @include swell-on-hover-animation($size, $size);
        @include media(tablet) {
          @include swell-on-hover-animation(100px, 100px);
          @include calc(left, "50% - 50px");
          top: -78px;
        }
        @include media(mobile) {
          @include swell-on-hover-animation(62px, 62px);
          @include calc(left, "50% - 31px");
          top: -38px;
        }
      }
    }

    .review-container {
      @extend %card;
      position: relative;
      .review-stats {
        padding: 0 50px;
        @include media(mobile) {
          padding: 0 10px;
        }
        .review-total {
          margin-bottom: 15px;
          line-height: 150%;
          @include media(mobile) {
            text-align: center;
            margin-bottom: 0;
          }
          .rating-star {
            &:first-child {
              margin-left: 12px;
            }
          }
        }
      }
      .review {
        position: relative;
        padding: 0 25px 0 50px;
        .profile-name {
          color: $primary-color;
        }
        .title {
          @include media(mobile) {
            font-size: 16px;
          }
        }
        hr {
          margin-top: 20px;
          margin-bottom: 20px;
        }
        .profile-image-container {
          position: absolute;
          left: -55px;
          @include swell-on-hover-animation(80px, 80px);
          @include media(mobile) {
            left: -35px;
            @include swell-on-hover-animation(40px, 40px);
            border-width: 5px;
          }
        }

        @include media(mobile) {
          padding: 0 5px 0 10px;
        }

        &:first-child {
          padding-top: 25px;
        }
        &:last-child {
          padding-bottom: 25px;
          hr {
            display: none;
          }
        }
      }
    }

    .policy-container {
      margin-bottom: 20px;
      hr {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .title {
        color: $muted-text-color;
      }
      .content {
        p {
          margin-bottom: 15px;
          word-wrap: break-word;
        }
      }
    }

    .checkout-container {
      @extend %card;
      width: $checkout-container-width;
      @include media(screen) {
        display: none;
      }
      .price {
        margin: -15px -30px 0 -30px;
        text-align: center;
        color: white;
        padding: 15px;
        background-color: $medium-gray;
        font-size: 350%;
        sup {
          font-size: 50%;
          top: -1em;
          left: -.1875em;
        }
      }

      .k-button {
        margin-top: 15px;
      }

      .favorites-button {
        .fa {
          font-size: inherit;
          line-height: inherit;
          margin-right: 10px;
        }
        &:hover, &:focus, &:active, &:active:hover {
          border-color: darken($primary-color, 15%);
          background-color: white;
          color: darken($primary-color, 15%);
        }
      }

      .input-gang {
        margin-top: 15px;
        padding: 0 15px;
        div {
          padding-left: 5px;
          padding-right: 5px;
          //margin-left: auto;
          //margin-right: auto;
          $input-width: 75%;
          label {
            //display: inline-block;
            line-height: 50px;
            text-align: right;
            width: 100%;
            //font-size: 115%;
            //width: 20%;
          }
          input {
            padding: 0;
            //display: inline-block;
            //width: auto;
            //width: 50%;
          }
        }
      }

      .button-container {
        div {
          padding-left: 0;
          padding-right: 0;
        }
      }

      .social-media-container {
        width: 100%;
        margin-top: 20px;
        font-size: 112.5%;
        margin-left: auto;
        margin-right: auto;
        * {
          margin: 0px 5px;
        }
        i {
          color: $muted-text-color;
          cursor: pointer;
          font-size: 1.125em;
          @include transition-property(color);
          @include transition-duration(0.125s);
          &:hover, &:focus, &:active {
            color: $medium-gray;
          }
        }
      }
    }

    .inline-checkout-container {
      @extend .checkout-container;
      display: none;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      @include media(screen) {
        display: block;
      }

      @include media(mobile) {
        .price {
          margin-left: -15px;
          margin-right: -15px;
        }
        .button-container {
          div {
            padding-left: 15px;
            padding-right: 15px;
          }
        }
      }

    }

    .listing-carousel-container {
      padding-left: 0;
      padding-right: 0;
      background-color: transparent;
      .large-carousel-container {
        margin-bottom: 15px;
        #large-carousel {
          margin-bottom: 0;
        }
        //height: 480px;
        .listing-slide {
          //width: 100%;
          height: auto;
          .listing-image {
            height: auto;
            width: 100%;
          }
        }
      }
      .small-carousel-container {
        height: 120px;
        position: relative;
        overflow-y: hidden;
        .listing-slide {
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }

    .slick-slide {
      opacity: 0.5625;
      @include transition-property(opacity);
      @include transition-duration(0.25s);
    }

    .slick-active {
      opacity: 1.0;
    }

    .slick-center {
      opacity: 1.0;
    }

    .listing-carousel-arrow {
      position: absolute;
      z-index: 10;
      font-size: 200%;
      color: $medium-gray;
      top: 40%;
      cursor: pointer;
      opacity: .75;
    }

    #listing-carousel-previous-arrow {
      left: 10px;
    }

    #listing-carousel-next-arrow {
      right: 10px;
    }
  }


}


