#search-results-content {
  position: relative;
}

#search-controls {
  margin-top: 20px;
  padding-bottom: 20px;
  background-color: white;

  .input-gang {
    padding: 0 10px;

    @include media(1625px) {
      .col-md-12 {
        width: 100%;
      }
      .col-md-6 {
        width: 50%;
      }
    }
  }

  .input-container {
    position: relative;
    padding: 0 5px;
    .k-datepicker {
      margin-top: -7px;
    }
    @include media(1625px) {
      margin-bottom: 20px;
    }
    .prefix {
      position: absolute;
      z-index: 5;
      font-size: 1.5em;
      top: 30%;
      left: 15px;
    }
    #id_query {
      text-indent: 37px;
    }
  }

  @include media(tablet) {
    width: 100%;
  }

  hr {
    margin-left: 0;
    margin-right: 0;
  }

  .more-filters-button {
    width: 22.5%;
    @include media(1625px) {
      width: 50%;
    }
    @include media(tablet) {
      width: 100%;
    }
  }

  .more-filters-container {
    margin-bottom: 6%;
    max-height: 150px;
    overflow: hidden;
    padding-bottom: 5px;

    @include media(tablet) {
      max-height: 350px;
    }

    &.ng-hide {
      max-height: 0;
      margin-bottom: 0;
    }

    &.ng-hide-add,
    &.ng-hide-remove {
      @include transition-property(max-height, margin-bottom);
      @include transition-timing-function(linear);
      @include transition-duration(0.5s);
    }

    .room-container {
      width: 62.5%;
      .input-container {
        $margin-right: 1%;
        $width: (98.1% - 2 * $margin-right) / 3;
        display: inline-block;
        width: $width;
        margin-right: $margin-right;
        margin-bottom: 0;
        &:last-child {
          margin-right: 0;
        }

        @include media(tablet) {
          width: 100%;
          margin-bottom: 15px;
          &:nth-child(1) {
            margin-right: 0;
          }
        }
      }
      @include media(1625px) {
        width: 75%;
      }
      @include media(screen) {
        width: 100%;
      }
    }
  }
}

.input-container {
  margin-bottom: 0;
  position: relative;
  font-family: $light-font;
  .input-group-icon, .form-control {
    display: inline-block;
  }

  .input-group-icon--right {

  }

  .form-control {
    height: 50px;
    padding-left: 50px;
    font-size: 125%;
    background: white;
    @include border-radius(0px);
  }

}

%input-group-icon {
  position: absolute;
  color: $medium-gray;
  pointer-events: none;
  &.fa-1x {
    top: 17px;
  }
}

.input-group-left-icon {
  @extend %input-group-icon;
  top: 10px;
  left: 10px;
}

.input-group-right-icon {
  @extend %input-group-icon;
  top: 10px;
  right: 20px;
}

$input-gang-1-width: 40%;
$input-gang-2-width: 98.75% - $input-gang-1-width;
$input-gang-3-width: 60%;
$input-gang-4-width: 99.25% - $input-gang-3-width;
$input-gang-4-width-desktop: 99.46% - $input-gang-3-width;
$input-gang-3-width-tablet: 100%;
$input-gang-4-width-tablet: 100%;
#input-gang-1 {
  width: $input-gang-1-width;
  display: inline-block;
  margin-right: 0.5%;
  @include media(desktop) {
    width: 100%;
    margin-bottom: 15px;
    margin-right: 0px;
  }
}

#input-gang-2 {
  width: $input-gang-2-width;
  display: inline-block;
  #input-gang-3, #input-gang-4 {
    display: inline-block;
    @include media(tablet) {
      display: block;
    }
  }

  #input-gang-3 {
    width: $input-gang-3-width;
    @include media(tablet) {
      width: $input-gang-3-width-tablet;
      margin-bottom: 15px;
    }
    @include media(mobile) {
      margin-bottom: 0px;
    }
  }
  #input-gang-4 {
    width: $input-gang-4-width;
    @include media(desktop) {
      width: $input-gang-4-width-desktop;
    }
    @include media(tablet) {
      width: $input-gang-4-width-tablet;
    }
  }

  @include media(desktop) {
    width: 100%;
  }
}

#input-gang-3 {
  .input-container {
    display: inline-block;
    width: 48%;
    margin-right: 1%;
    &:last-child {
      margin-right: 0px;
    }

    @include media(tablet) {
      width: 49%;

    }
    @include media(mobile) {
      width: 100%;
      display: block;
      margin-bottom: 15px;
    }
  }
}

.price-range-container {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 50px;
  color: $medium-gray;
  .title {
    font-family: $light-font;
    margin-bottom: 0;
    font-size: 125%;
  }
  .price {
    font-family: $regular-font;
    font-size: 112.5%;
  }
  @include media(tablet) {
    width: 75%;
  }
  @include media(tablet) {
    width: 87.5%;
  }
}

.price-slider {
  width: 100%;
}

#search-results {
  background-color: $secondary-background-color;
  border-top: 1px solid darken($secondary-background-color, 12.5%);
  min-height: 1000px;
  padding: 30px;
  position: relative;
  overflow: hidden;
  @include media(tablet) {
    padding: 15px;
  }
}

$listing-search-result-container-height: 325px;
$listing-search-result-container-tablet-height: 500px;
$listing-search-result-container-mobile-height: 400px;
.listing-search-result-container {
  height: $listing-search-result-container-height;
  margin-bottom: 50px;
  position: relative;
  text-align: center;
  padding: 0 30px;
  @include transition-property(transform);
  @include transition-duration(0.125s);

  .listing-detail-link {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;

    /* edit: added z-index */
    z-index: 11;
  }

  .listing-image {
    .listing-favorite {
      opacity: 0.0;
    }
  }

  &:hover {
    z-index: 10;
    .listing-image {
      .listing-favorite {
        opacity: 1.0;
      }
    }
    @include transform(scale(1.05));
  }

  @include media(tablet) {
    height: $listing-search-result-container-tablet-height;
  }

  @include media(mobile) {
    height: $listing-search-result-container-mobile-height;
    padding: 0;
  }

  .profile-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .profile-image-container {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 10px;
    right: -15px;
    border: 5px solid $secondary-background-color;
    z-index: 10;
    @include border-radius(9000px);
  }

  $listing-info-height: 55px;
  $listing-info-margin-top: 10px;
  .listing-image, .listing-info {
    @include card-box-shadow();
    width: 100%;
    display: block;
  }
  .listing-image {
    height: $listing-search-result-container-height - $listing-info-height - $listing-info-margin-top;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    @include media(tablet) {
      height: $listing-search-result-container-tablet-height - $listing-info-height - $listing-info-margin-top;
    }
    @include media(mobile) {
      height: $listing-search-result-container-mobile-height - $listing-info-height - $listing-info-margin-top;
    }

    .listing-price {
      position: absolute;
      bottom: 20px;
      left: 0;
      margin: 0;
      font-family: $light-font;
      color: #ffffff;
      background-color: rgba($primary-color, 0.75);
      //position: relative;
      padding: 5px 10px;

      .superscript {
        //top: 0px;
        padding-right: 3px;
        //margin-top: -5px;
        //position: absolute;
        font-size: 60%;
      }
    }
    .listing-favorite {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 20;
    }
  }

  .listing-info {
    height: $listing-info-height;
    background-color: white;
    margin-top: $listing-info-margin-top;
    .listing-text {
      //display: inline-block;
      padding-top: 10px;
      //padding-bottom: 5px;
      padding-left: 10px;
      text-align: left;

      .listing-title, .listing-subtitle {
        margin: 0;
      }
      .listing-title {
        margin-bottom: 3px;
      }

      .listing-title, .listing-subtitle {
        color: $dark-gray;
        width: 75%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .listing-title {
        font-family: $regular-font;
        font-size: 115%;
        line-height: 1.15;
      }

      .listing-subtitle {
        font-family: $light-font;
        color: $medium-gray;
        font-size: 100%;
        .fa {
          font-size: 0.5em;
          vertical-align: middle;
          padding: 0 5px;
        }
      }
    }
  }
}


.listing-search-result-gang {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  a {
    color: $dark-gray;
    &:hover {
      color: $dark-gray;
      text-decoration: none;
    }
  }
}

.listing-favorite {
  font-size: 3em;
  cursor: pointer;
  opacity: 1.0;
  @include transition-property(opacity);
  @include transition-duration(0.125s);
  &.selected {
    color: rgba(#f44030, 0.75);
  }

  &.unselected {
    color: rgba(lightgray, 0.75);
  }

  &.ng-hide {
    opacity: 0.0;
  }

  &.ng-hide-add,
  &.ng-hide-remove{
    //background-color: red;
  }

  &.ng-hide-add.ng-hide-add-active,
  &.ng-hide-remove.ng-hide-remove-active, {
    @include transition-duration(0.125s);
    @include transition-property(opacity);
  }
}

.pagination-container {
  display: block;
}

$map-container-width: 0%;
.search-container {
  position: relative;
  left: 0;
  top: 51px;
  width: 100%;
}

.navbar--search-results {
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

.info-window {
  font-family: $light-font;
  a {
    color: $dark-gray;
    &:hover {
      color: $dark-gray;
      text-decoration: none;
    }
  }
  .listing-subtitle {
    margin: 0;
    .fa-circle {
      font-size: 50%;
      position: relative;
      top: -2px;
      margin: 0 5px;
    }
  }
  .info-container {
    background-color: white;
    padding: 7px;
  }
  .listing-title {
    margin: 2px 0;
  }
  .listing-image {
    background-position: center center;
    background-size: cover;
    width: 283px;
    height: 175px;
    position: relative;
    @include box-shadow(none);

    .listing-price {
      font-size: 212.5%;
      color: #ffffff;
      background-color: rgba($primary-color, 0.75);
      position: absolute;
      padding: 0 8px;
      left: 0;
      bottom: 20px;
      margin: 0;
      sup {
        font-size: 62.5%;
      }
    }
  }
}

.search-results-footer {
  top: 51px;
  position: relative;
}