//.navbar--default {
//  //@include box-shadow(none);
//  margin-bottom: 0;
//}

.shopping-cart {
  @extend %content;
  .card {
    @extend %card;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

    //@include media(desktop) {
    //  width: 87.5%;
    //}

    @include media(tablet) {
      width: 100%;
      h1 {
        &.title {
          font-size: 200%;
        }
      }
    }

    .divider-container {
      padding: 15px 0 30px 0;
      .divider {
        font-size: 100%;
      }
    }

    h1 {
      &.title {
        text-align: center;
        margin-bottom: 0;
      }
    }

    .total-price-container {
      font-size: 175%;
      text-align: right;
      .subtotal {
        @include media(mobile) {
          text-align: left;
        }
      }
    }

    .checkout-button-container {
      margin-top: 30px;
    }

    .cart-empty {
      margin-bottom: 20px;
      margin-top: 0;
    }

    .cart-item {
      .listing-image {
        height: 162.5px;
        background-size: cover;
        background-position: center center;

        @include media(mobile) {
          height: 100px;
        }
      }
      .listing-quantity {
        text-align: right;
        margin-top: 5px;
        @include media(mobile) {
          text-align: left;
          margin: 0;
        }
        input {
          font-family: inherit;
        }
        .k-textbox {
          height: auto;
          font-size: inherit;
          line-height: inherit;
          text-indent: 0.4em;
          display: inline;
          width: 50px;
          padding: 0;
        }
      }
      .listing-info {
        .title {
          text-align: left;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}


