{% extends "legal_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load cache %}
{% load thumbnail %}
{% load list_utils %}
{% load countries %}
{% load users %}
{% block title %}About Us | {{ site_display_name }}{% endblock %}
{% block legal_content %}
    <h1 class="title">About Us</h1>

    <h3 class="subtitle">What is {{ site_display_name }}?</h3>
    <p>{{ site_display_name }} is an on demand photography service.</p>

    <h3 class="subtitle">Joining {{ site_display_name }}</h3>
    <p>Fill out the form found <a href="{% url "profiles:create" %}">here</a> to create an account. You can also sign up via Facebook.</p>

{#    <h3 class="subtitle">Listing a Property on ISLAND</h3>#}
{#    <p>Once you have become a member of The ISLAND Crew, simply click the “List Your Pad” tab at the top right of the home page, choose your payment plan, and follow the step by step process. To help the make the right matches with Hoppers, define what 420 friendly means at your property, for example, "smoking, vaping, and consumption of edibles is cool inside or anywhere on the property."</p>#}

    <h3 class="subtitle">Requesting a photographer on {{ site_display_name }}</h3>
    <p>Users can fill out the form on the <a href="{% url "index" %}">home page</a> to request a photographer. Be sure to select "On Demand" for the service type if you require a photographer immediately.</p>
    <p>Customers who require real estate services, builder services, videography, etc. may also use the same form.</p>

    <h3 class="subtitle">Cancellation Policy</h3>
    <p>If you need to cancel your appointment, please contact us at {{ support_email }} and we will do our best to accommodate your needs.</p>

    <h3 class="subtitle">Become a Photographer</h3>
    <p>After creating an account use <a href="{% url "photographers:create_photographer" %}">this page</a> to join as a photographer. A member of our team will contact you after you have filled out the form.</p>

    <h3 class="subtitle">Contact Us</h3>
    <p>{{ site_display_name }}</p>
    <p>2024 R Street, NW</p>
    <p>Washington, DC 20009</p>
{% endblock %}
