{% load i18n %}
{% load staticfiles %}
{% load hijack_tags %}
{% load compress %}
<html {% block html_attributes %}{% endblock %}>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale=1">
    <meta name="description" content="SHOTZU is an on-demand video and photography services platform that introduces a
    unique blend of polish and rapidity. Make sure those special moments are captured in the best way possible. What are
     you waiting for?" />
    {% block facebook_meta_tags %}
        <meta property="og:title" content="{{ site_display_name }} | Get quality photo and video services on demand" />
        <meta property="og:url" content="https://shotzu.com/" />
        <meta property="og:image" content="{% static "img/logo.png" %}"/>
    {% endblock %}
    <meta name="google-site-verification" content="tGyYc--L6HOGm5MDAtrdoLtcnRQFY3-d5fC6e0yCxLw" />
    <meta name="twitter:card" content='photo'/>
    <meta name="twitter:site" content='@shotzu1'/>
    <meta name="twitter:creator" content='@shotzu1'/>
    <meta name="twitter:title" content='Get quality photo and video services on demand'/>
    <meta name="twitter:image:src" content='{% static "img/logo.png" %}'/>
    <meta name="twitter:domain" content='shotzu.com'/>
    <title>{% block title %}{{ site_display_name }} | Get quality photo and video services on demand{% endblock %}</title>
    {% compress css %}
        <link href="{% static "bower_components/bootstrap/dist/css/bootstrap.css" %}" rel="stylesheet"/>
        <link href="{% static "bower_components/font-awesome/css/font-awesome.css" %}" rel="stylesheet"/>
{#        <link href="{% static "bower_components/Hover/css/hover.css" %}" rel="stylesheet"/>#}
{#        <link href="{% static "bower_components/slick-carousel/slick/slick.css" %}" rel="stylesheet"/>#}
{#        <link href="{% static "bower_components/slick-carousel/slick/slick-theme.css" %}" rel="stylesheet"/>#}
        <link href="{% static "bower_components/ng-img-crop/compile/unminified/ng-img-crop.css" %}" rel="stylesheet"/>
        <link href="{% static "bower_components/kendo-ui/styles/kendo.common-material.min.css" %}" rel="stylesheet"/>
        <link href="{% static "bower_components/kendo-ui/styles/kendo.rtl.css" %}" rel="stylesheet"/>
        <link href="{% static "bower_components/kendo-ui/styles/kendo.material.min.css" %}" rel="stylesheet"/>
        <link href="{% static "bower_components/kendo-ui/styles/kendo.material.mobile.min.css" %}" rel="stylesheet"/>
        <link href="{% static "bower_components/dropzone/dist/dropzone.css" %}" rel="stylesheet" />
        <link href="{% static "bower_components/angular-material/angular-material.css" %}" rel="stylesheet" />
        <link href="{% static 'hijack/hijack-styles.css' %}" rel="stylesheet" type="text/css"  />
        <link href="{% static "css/screen.css" %}" rel="stylesheet"/>
    {% endcompress %}
    {% block links %}{% endblock %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static "img/favicon.ico" %}"/>
    <link rel="icon" type="image/x-icon" href="{% static "img/favicon.ico" %}"/>
</head>
<body {% block body_attributes %}{% endblock %}>
{% block hijack_notification %}{% hijack_notification %}{% endblock %}
{% block body %}{% endblock %}
</body>
{% compress js %}
    <script src="{% static "bower_components/braintree-web/dist/braintree.js" %}"></script>
    <script src="{% static "bower_components/sprintf/dist/sprintf.min.js" %}"></script>
    <script src="{% static "bower_components/jquery/dist/jquery.js" %}"></script>
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.js" %}"></script>
    <script src="{% static "bower_components/jquery.scrollTo/jquery.scrollTo.js" %}"></script>
    <script src="{% static "bower_components/jquery.localScroll/jquery.localScroll.js" %}"></script>
    <script src="{% static "bower_components/jquery-mousewheel/jquery.mousewheel.js" %}"></script>
    <script src="{% static "bower_components/lodash/lodash.js" %}"></script>
    <script src="{% static "bower_components/moment/min/moment.min.js" %}"></script>
    <script src="{% static "bower_components/dropzone/dist/dropzone.js" %}"></script>
    <script src="{% static "bower_components/slick-carousel/slick/slick.js" %}"></script>
    <script src="{% static "bower_components/angular/angular.js" %}"></script>
    <script src="{% static "bower_components/angular-mask/dist/ngMask.js" %}"></script>
    <script src="{% static "bower_components/angular-dragdrop/src/angular-dragdrop.js" %}"></script>
    <script src="{% static "bower_components/ng-img-crop/compile/unminified/ng-img-crop.js" %}"></script>
    <script src="{% static "bower_components/sprintf/dist/angular-sprintf.min.js" %}"></script>
    <script src="{% static "bower_components/angular-resource/index.js" %}"></script>
    <script src="{% static "bower_components/angular-sanitize/angular-sanitize.js" %}"></script>
    <script src="{% static "bower_components/angular-ui-router/release/angular-ui-router.js" %}"></script>
    <script src="{% static "bower_components/angular-google-maps/dist/angular-google-maps.js" %}"></script>
    <script src="{% static "bower_components/angular-touch/angular-touch.js" %}"></script>
    <script src="{% static "bower_components/angular-slick/dist/slick.js" %}"></script>
    <script src="{% static "bower_components/angular-animate/angular-animate.js" %}"></script>
    <script src="{% static "bower_components/angular-aria/angular-aria.js" %}"></script>
    <script src="{% static "bower_components/angular-material/angular-material.js" %}"></script>
    <script src="{% static "bower_components/kendo-ui/js/kendo.ui.core.min.js" %}"></script>
{#    <script src="{% static "bower_components/kendo-ui/js/kendo.all.min.js" %}"></script>#}
    <script src="{% static 'bower_components/angular-payments/lib/angular-payments.js' %}"></script>
    <script src="{% static "bower_components/jszip/dist/jszip.js" %}"></script>
    <script src="{% static "bower_components/parsleyjs/dist/parsley.js" %}"></script>
    <script src="{% static "bower_components/formatter.js/dist/jquery.formatter.js" %}"></script>

    <script src="{% static 'js/app/js/directives.js' %}"></script>
    <script src="{% static 'js/app/js/services.js' %}"></script>
    <script src="{% static 'js/app/js/templates.js' %}"></script>

    <script src="{% static 'js/app/js/photographers/app.js' %}"></script>
    <script src="{% static 'js/app/js/photographers/controllers.js' %}"></script>
    <script src="{% static 'js/app/js/photographers/services.js' %}"></script>
    <script src="{% static 'js/app/js/photographers/filters.js' %}"></script>
{#    <script src="{% static 'js/app/js/photographers/templates.js' %}"></script>#}

    <script src="{% static 'js/app/js/profiles/app.js' %}"></script>
    <script src="{% static 'js/app/js/profiles/controllers.js' %}"></script>

    <script src="{% static 'js/app/js/customers/controllers.js' %}"></script>
    <script src="{% static 'js/app/js/customers/services.js' %}"></script>


{% endcompress %}
{% if not debug %}
    <script src="{% static 'js/google_analytics.js' %}"></script>
{% endif %}
{% block scripts %}{% endblock %}
</html>