{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load staticfiles %}
{% load cache %}
{% block body %}
    {% block nav %}
        <nav class="{% block nav_classes %}navbar navbar--default{% endblock %}" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand hvr-fade" href="{% url 'index' %}">{{ site_display_name }}</a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-target">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-target">
                    <ul class="nav navbar-nav navbar-right nav-link-container">
                        {% if user.is_authenticated %}
                            <li class="nav-profile-link-container"><a id="nav-profile-link" class="hvr-fade" href="{% url 'profiles:booking_list' %}"><img class="img-circle nav-profile-image" src="{% if user.profile.image %}{{ user.profile.image|thumbnail_url:'35x35' }}{% else %}{% static "profiles/images/anonymous_profile.png" %}{% endif %}"/>{{ user.first_name }}</a></li>
                            {#                        <li><a id="nav-profile-link" class="hvr-fade" href="#">{{ user.first_name }}</a></li>#}
                            <li><a class="hvr-fade" href="{% url 'profiles:logout' %}">log out</a></li>
                        {% else %}
                            <li><a class="hvr-fade" href="{% url 'profiles:create' %}">sign up</a></li>
                            <li><a class="hvr-fade" href="{% url 'profiles:login' %}?next={% firstof request.path '/' %}">log in</a></li>
                        {% endif %}
                        <li><a id="nav-list-your-pad" class="hvr-fade" href="{% url 'photographers:create_photographer' %}">Become a photographer</a></li>

                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block footer %}
        {% cache 3600 footer %}
            <footer class="{% block footer_class %}footer{% endblock %}" id="footer">
                <div class="center-block text-center link-container">
                    <a href="{% url 'about_us' %}">About</a>
                    <span class="fa fa-circle"></span>
                    <a href="{% url 'privacy_policy' %}">Privacy</a>
                    <span class="fa fa-circle"></span>
                    <a href="{% url 'terms_of_service' %}">Terms</a>
                </div>
                <div class="text-center footer__icon-container">
                    <a class="fa fa-facebook-official fa-2x footer__icon hvr-fade" href="https://www.facebook.com/shotzupage"></a>
                    <a class="fa fa-instagram fa-2x footer__icon hvr-fade" href="https://instagram.com/shotzu/"></a>
                    {#                    <a class="fa fa-twitter-square fa-2x footer__icon hvr-fade" href="https://twitter.com/theislandcrew"></a>#}
                    <a class="fa fa-envelope fa-2x footer__icon footer__icon--mail hvr-fade" href="mailto:info@shotzu.com"></a>
                </div>
                <div class="container text-center footer__copyright">
                    © 2015 {{ site_display_name }}
                </div>
            </footer>
        {% endcache %}
    {% endblock %}
{% endblock %}