{% extends "content_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load cache %}
{% load thumbnail %}
{% load list_utils %}
{% load countries %}
{% load users %}
{% block nav %}{% endblock %}
{% block content %}
    <section class="container legal-container">
        <a href="{% url 'index' %}"><div class="center-block legal-logo"></div></a>
        {% block legal_content %}{% endblock %}
    </section>
{% endblock %}