{% extends "photographers/base.html" %}
{% load i18n %}
{% load cache %}
{% load staticfiles %}
{% load thumbnail %}
{% load list_utils %}
{% block title %}Accept booking request | {{ site_display_name }}{% endblock %}
{% block content %}
    <section id="content" class="booking-request-detail">
        {#        <div class="container-fluid">#}
        <div class="card">
            <h1 class="title">Would you like to accept this booking?</h1>
            <div class="text-center divider-container">
                <span class="glyphicon glyphicon-stop divider"></span>
                <span class="glyphicon glyphicon-stop divider"></span>
                <span class="glyphicon glyphicon-stop divider"></span>
            </div>
            <div class="content">
                <div class="booking-info">
                    {% with booking=booking_request.booking %}
                        {% if booking.foodbooking %}
                            {% with food_booking=booking.foodbooking %}
                                <div class="row">
                                    <div class="col-xs-12 display-name">
                                        <h3 class="regular-font title">{{ food_booking.get_display_name }}</h3>
                                    </div>
                                    <div class="col-xs-12">
                                        <h4 class="regular-font">Job Details</h4>
                                        <p>Is this a full menu shoot? <span class="regular-font">{{ food_booking.is_full_menu_shoot|yesno|capfirst }}</span></p>
                                        <p>Is this booking confirmed with the restaurant? <span class="regular-font">{{ food_booking.is_confirmed_with_restaurant|yesno|capfirst }}</span></p>
                                    </div>
                                </div>
                                {% if food_booking.items %}
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h4 class="regular-font">Menu Items</h4>
                                            <ul>
                                                {% for item in booking.items %}
                                                    <li>{{ item }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h4 class="regular-font">Location</h4>
                                        <p>{{ food_booking.restaurant_name }}</p>
                                        <p>{{ booking.address.street_address }}</p>
                                        {% if booking.address.sub_premise %}
                                            <p>{{ booking.address.sub_premise }}</p>
                                        {% endif %}
                                        <p>{{ booking.address.locality }}, {{ booking.address.region }} {{ booking.address.postal_code }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h4 class="regular-font">Contact details</h4>
                                        <p>{{ food_booking.contact_name }}</p>
                                        <p><span class="fa fa-phone"></span> {{ food_booking.contact_phone_number }}</p>
                                    </div>
                                </div>
                            {% endwith %}
                        {% else %}
                            <div class="row">
                                <div class="col-xs-12 display-name">
                                    <h3 class="regular-font title">{{ booking.get_display_name }}</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <h4 class="regular-font">Job Details</h4>
                                    <p>{{ booking.service_type_label }}</p>
                                    <p>{{ booking.time_range.lower|date }}</p>
                                    <p>{{ booking.time_range.upper|date:"g:i A" }} - {{ booking.time_range.lower|date:"g:i A" }}</p>
                                    <p><span class="fa fa-phone"></span> {{ booking.phone_number }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <h4 class="regular-font">Location</h4>
                                    <p>{{ booking.address.street_address }}</p>
                                    {% if booking.address.sub_premise %}
                                        <p>{{ booking.address.sub_premise }}</p>
                                    {% endif %}
                                    <p>{{ booking.address.locality }}, {{ booking.address.region }} {{ booking.address.postal_code }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endwith %}
                    {% if booking.message %}
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 class="regular-font">Message</h4>
                                <p>{{ booking.message }}</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <hr/>
                <div class="row">
                    <div class="col-sm-6">
                        <a href="{{ booking_request.accept_booking_url|urlencode }}"><button class="k-primary k-button green">Accept</button></a>
                    </div>
                    <div class="col-sm-6">
                        <a href="{{ booking_request.reject_booking_url|urlencode }}"><button class="k-primary k-button red">Reject</button></a>
                    </div>
                </div>

            </div>
        </div>
        {#        </div>#}
    </section>
{% endblock %}