{% extends "photographers/base.html" %}
{% load staticfiles %}
{% load compress %}
{% block title %}Verify your account | {{ site_display_name }}{% endblock %}
{% block content %}
    <section id="content" class="photographer-create-content">
        <div class="container-fluid">
            <div class="card">
                <h1 class="form-title">Please verify your account</h1>
                <h4 class="form-subtitle">Our marketplace provider, <a href="https://www.braintreepayments.com/">Braintree</a>, is having issues verifying your payout details. In order to receive payouts, you will need to submit more information to <a href="https://www.braintreepayments.com/">Braintree</a>.</h4>
                <div class="text-center divider-container">
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                </div>
                <form method="post" action="{{ request.path }}" role="form" name="form" data-parsley-validate="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Please upload an image of a goverment issued ID.</label>
                            <div class="ez-file-upload">
                                <button id="upload-button" type="button" class="k-button k-primary-inverted upload-button">Select File</button>
                                <p id="file-name" class="file-name"></p>
                            </div>
                            {{ form.government_issued_id }}
                        </div>
                    </div>
                    {% if form.errors %}
                    <div class="row">
                        <div id="error-message" class="text-center error-message-container">
                            <p class="ez-invalid">There was an error processing your submission <span class="fa fa-frown-o"></span></p>
                            <p class="ez-invalid">Please contact {{ support_email }}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="k-primary k-button">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {% compress js %}
        <script src="{% static 'js/react/dist/pages/photographers/BraintreeMerchantAccountVerification.js' %}"></script>
    {% endcompress %}
{% endblock %}