{% extends "photographers/base.html" %}
{% load i18n %}
{% load cache %}
{% load staticfiles %}
{% load thumbnail %}
{% load list_utils %}
{% block title %}Approve your booking | {{ site_display_name }}{% endblock %}
{% block content %}
    <section id="content" class="booking-client-approval">
        <div class="container-fluid">
            <div class="card">
                <div class="header">
                    <h1 class="title">Not happy with the shoot?</h1>
                    <h4 class="text-center">No worries! One of our team members can help you out.</h4>
                </div>
                <div class="text-center divider-container">
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                </div>
                <form method="post" action="{{ request.path }}" role="form" name="form" data-parsley-validate="">
                    {% csrf_token %}
                    {{ form.did_client_reject }}
                    <div class="row">
                        <div class="col-xs-12 booking-info">
                            <h3 class="title">Order Details</h3>
                            <p>{{ booking.service_type_label }}</p>
                            <p>{{ booking.num_shots }} shots</p>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        {% with address=booking.address %}
                            <div class="col-xs-12 booking-info">
                                <h3 class="title">Location</h3>
                                {% if booking.foodbooking %}<p>{{ booking.foodbooking.restaurant_name }}</p>{% endif %}
                                <p>{{ address.formatted_street_address }}</p>
                                <p>{{ address.formatted_locality }}, {{ address.formatted_region }} {{ address.formatted_postal_code }}</p>
                            </div>
                        {% endwith %}
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-12">
                            <h5 class="text-center">
                                By clicking this button, you agree to {{ site_display_name }}'s <a href="{% url 'terms_of_service' %}">Terms of Service</a> and <a href="{% url 'privacy_policy' %}">Privacy Policy</a>.
                            </h5>
                            <button type="submit" class="k-button k-primary red">Reject this shoot</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}