{% extends "photographers/base.html" %}
{% load i18n %}
{% load cache %}
{% load staticfiles %}
{% load thumbnail %}
{% load list_utils %}
{% block html_attributes %}ng-app="gouda.photographers.apps.PhotographerApp"{% endblock %}
{% block title %}Write a Review | {{ site_display_name }}{% endblock %}
{% block content %}
    <section id="content" class="photographer-request-create-content">
        <div class="container-fluid">
            <div class="card">
                <h1 class="form-title">Write a Review</h1>
                <h4 class="form-subtitle">Please let us know what we got right and what we should improve on <span class="fa fa-smile-o"></span>.</h4>
                <div class="text-center divider-container">
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                </div>
                <form novalidate ng-controller="ReviewFormController" method="post" action="{{ request.path }}" ng-submit="submit($event)" role="form" name="form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-8">
                            <label>Title</label>
                            {{ form.title }}
                        </div>
                        <div class="col-xs-4">
                            <label>Rating</label>
                            {{ form.rating }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Review</label>
                            {{ form.content }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            {% if photographer.is_superuser %}
                                <label>Would you like to leave a tip for your photographer? If so, please specify the amount.</label>
                            {% else %}
                                <label>Would you like to leave a tip for {{ photographer.first_name }}? If so, please specify the amount.</label>
                            {% endif %}
                            <div class="input-addon">
                                <span class="fa fa-usd input-prefix"></span>
                                {{ form.amount }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <kendo-button ng-cloak type="submit" class="k-primary">Submit Review</kendo-button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
