{% extends "photographers/base.html" %}
{% load i18n %}
{% load cache %}
{% load staticfiles %}
{% load thumbnail %}
{% load list_utils %}
{% block title %}Schedule your shoot | {{ site_display_name }}{% endblock %}
{% block content %}
    <section id="content" class="create-food-booking">
        <div class="container-fluid">
            <div class="card">
                <h1 class="title">Schedule your shoot</h1>
                <div class="text-center divider-container">
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                </div>
                <form method="post" action="{{ request.path }}" role="form" name="form" data-parsley-validate="">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Please upload your shot list</label>
                                {{ form.shot_list }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>When do you need this job done?</label>
                                {{ form.date }}
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>When should we start?</label>
                                {{ form.start_time }}
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>When should we end?</label>
                                {{ form.stop_time }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="regular-font">Contact Details</p>
                            <div class="form-group">
                                <label>What is the contact's email address?</label>
                                {{ form.contact_email_address }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>What is the contact's name?</label>
                                {{ form.contact_name }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>What is the contact's phone number?</label>
                                {{ form.contact_phone_number }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="regular-font">Location Details</p>
                            <div class="form-group">
                                <label>What is the restaurant's name?</label>
                                {{ form.restaurant_name }}
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label>Street Address</label>
                                {{ form.street_address }}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Sub Premise (ex: Ste. 200)</label>
                                {{ form.sub_premise }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>City</label>
                                {{ form.locality }}
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>State</label>
                                {{ form.region }}
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Postal Code</label>
                                {{ form.postal_code }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="k-button k-primary">Schedule Your Shoot</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script>
        window.CreateFoodBooking = {
            address: "{{ booking.address }}",
            GoogleApiKey: "{{ google_api_key }}",
            {% if invalid_dates %}invalidDates: [{{ invalid_dates }}]{% endif %}
        };
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}"></script>
    <script src="{% static 'js/react/dist/pages/photographers/CreateFoodBooking.js' %}" defer></script>
{% endblock %}