{% extends "photographers/base.html" %}
{% load i18n %}
{% load cache %}
{% load staticfiles %}
{% load thumbnail %}
{% load list_utils %}
{% block html_attributes %}ng-app="gouda.photographers.apps.PhotographerApp"{% endblock %}
{% block title %}Request a photographer | {{ site_display_name }}{% endblock %}
{% block content %}
    <section id="content" class="photographer-request-create-content">
        <div class="container-fluid">
            <div class="card">
                {% if is_on_demand %}
                    <h1 class="form-title">Need someone to capture that special moment? <span class="fa fa-smile-o"></span></h1>
                    <h4 class="form-subtitle">Please fill out the form below and our team will connect you with a photographer.</h4>
                    {#                {% else %}#}
                    {#                    <h1 class="form-title">Looks like this is your first time here <span class="fa fa-smile-o"></span></h1>#}
                    {#                    <h4 class="form-subtitle">Please fill out the form below. One of our team members will reach out to you soon to help you get set up on our platform.</h4>#}
                    {#                {% endif %}#}
                {% else %}
                    <h1 class="form-title">Need pictures or video that really stand out? <span class="fa fa-smile-o"></span></h1>
                    <h4 class="form-subtitle">Please fill out the form below and our team will connect you with a photographer.</h4>
                {% endif %}
                <div class="text-center divider-container">
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                </div>
                <form method="post" action="{{ request.path }}" role="form" name="form" data-parsley-validate="">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Full Name</label>
                            {{ form.full_name }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Email Address</label>
                            {{ form.email_address }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Phone Number</label>
                            {{ form.phone_number }}
                        </div>
                    </div>
                    {% if not is_on_demand %}
                        <div class="row">
                            <div class="col-xs-12">
                                <label>What type of service are you looking for?</label>
                                {{ form.service_type }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>When do you need this job done?</label>
                                {{ form.date }}
                            </div>
                            <div class="col-sm-6">
                                <label>What time of day works for you?</label>
                                {{ form.time_period }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <label>City</label>
                                {{ form.locality }}
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <label>State</label>
                                {{ form.region }}
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <label>ZIP Code</label>
                                {{ form.postal_code }}
                            </div>
                        </div>
                    {% else %}
                        <div class="hidden">
                            {{ form.service_type }}
                            {{ form.locality }}
                            {{ form.region }}
                            {{ form.time_period }}
                            {{ form.date }}
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Are there any extra notes you have for us?</label>
                            {{ form.message }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button ng-cloak type="submit" class="k-button k-primary">Submit Request</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            $("#id_service_type").kendoDropDownList();
            $("#id_time_period").kendoDropDownList();
            $("#id_region").kendoDropDownList();
            $("#id_date").kendoDatePicker({
                min: new Date(),
            }).data("kendoDatePicker");
        });
    </script>
{% endblock %}
