{% extends "photographers/base.html" %}
{% load i18n %}
{% load cache %}
{% load staticfiles %}
{% load thumbnail %}
{% load list_utils %}
{% block html_attributes %}ng-app="gouda.photographers.apps.PhotographerApp"{% endblock %}
{% block title %}Become a photographer | {{ site_display_name }}{% endblock %}
{% block content %}
    <section id="content" class="photographer-create-content">
        <div class="container-fluid">
            <div class="card">
                <h1 class="form-title">Are you a photographer?</h1>
                <h4 class="form-subtitle">Please fill out your payout details below. One of our team members will reach out to you soon to help you get set up on our platform.</h4>
                <div class="text-center divider-container">
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                </div>
                <form method="post" action="{{ request.path }}" role="form" name="form" data-parsley-validate="">
                    {% csrf_token %}
                    {{ form.errors }}
                    {% if request.user.braintree_merchant_account %}
                        <div class="row">
                            <div class="col-sm-12">
                                <label>Status</label>
                                {{ form.status }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Email Address</label>
                            {{ form.individual_email }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>First Name</label>
                            {{ form.individual_first_name }}
                        </div>
                        <div class="col-sm-6">
                            <label>Last Name</label>
                            {{ form.individual_last_name }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7">
                            <label>Birthday</label>
                            {{ form.individual_month }}
                        </div>
                        <div class="col-sm-2">
                            <label class="screen-sm invisible">Day</label>
                            {{ form.individual_day }}
                        </div>
                        <div class="col-sm-3">
                            <label class="screen-sm invisible">Year</label>
                            {{ form.individual_year }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Street Address</label>
                            {{ form.individual_street_address }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <label>City</label>
                            {{ form.individual_locality }}
                        </div>
                        <div class="col-sm-4">
                            <label>State</label>
                            {{ form.individual_region }}
                        </div>
                        <div class="col-sm-3">
                            <label>ZIP Code</label>
                            {{ form.individual_postal_code }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Phone Number</label>
                            {{ form.individual_phone }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Routing Number</label>
                            {{ form.funding_routing_number }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Account Number</label>
                            {{ form.funding_account_number }}
                        </div>
                        {% if not request.user.braintree_merchant_account %}
                            <div class="col-xs-12" ng-show="!doEnableBusinessForm">
                                <md-checkbox ng-model="doEnableBusinessForm">I want payouts to be linked with my business</md-checkbox>
                            </div>
                        {% endif %}
                    </div>
                    {% if request.user.braintree_merchant_account %}
                        {% if request.user.braintree_merchant_account.has_business %}
                            <hr/>
                            <h3 class="text-center">Business Information</h3>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Doing Business As</label>
                                    {{ form.business_dba_name }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Business Legal Name</label>
                                    {{ form.business_legal_name }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Tax ID</label>
                                    {{ form.business_tax_id }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Street Address</label>
                                    {{ form.business_street_address }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <label>City</label>
                                    {{ form.business_locality }}
                                </div>
                                <div class="col-sm-4">
                                    <label>State</label>
                                    {{ form.business_region }}
                                </div>
                                <div class="col-sm-3">
                                    <label>ZIP Code</label>
                                    {{ form.business_postal_code }}
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        <div ng-show="doEnableBusinessForm">
                            <hr/>
                            <h3 class="text-center">Business Information</h3>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Doing Business As</label>
                                    {{ form.business_dba_name }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Business Legal Name</label>
                                    {{ form.business_legal_name }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Tax ID</label>
                                    {{ form.business_tax_id }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Street Address</label>
                                    {{ form.business_street_address }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <label>City</label>
                                    {{ form.business_locality }}
                                </div>
                                <div class="col-sm-4">
                                    <label>State</label>
                                    {{ form.business_region }}
                                </div>
                                <div class="col-sm-3">
                                    <label>ZIP Code</label>
                                    {{ form.business_postal_code }}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if request.user.braintree_merchant_account %}
                        <div class="row">
                            <div class="col-xs-12">
                                <h5 class="text-center">
                                    Need to update your payout details? Please <a href="mailto:{{ support_email }}">contact us</a> and we will be happy to help.
                                </h5>
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col-xs-12">
                                <h5 class="text-center">
                                    By clicking this button, you agree to {{ site_display_name }}'s <a href="{% url 'terms_of_service' %}">Terms of Service</a> and <a href="{% url 'privacy_policy' %}">Privacy Policy</a>.
                                </h5>
                                <button type="submit" class="k-button k-primary">Submit</button>
                            </div>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            $("#id_individual_month").kendoDropDownList();
        });
        $(document).ready(function() {
            $("#id_individual_region").kendoDropDownList();
        });
        $(document).ready(function() {
            $("#id_individual_country").kendoDropDownList();
        });
        $(document).ready(function() {
            $("#id_business_region").kendoDropDownList();
        });
    </script>
{% endblock %}
