{% extends "photographers/base.html" %}
{% load i18n %}
{% load cache %}
{% load staticfiles %}
{% load thumbnail %}
{% load list_utils %}
{% block title %}Schedule your shoot | {{ site_display_name }}{% endblock %}
{% block content %}
    <section id="content" class="booking-client-approval">
        <div class="container-fluid">
            <div class="card">
                <h1 class="title">Schedule your shoot</h1>
                <div class="text-center divider-container">
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                </div>
                <form method="post" action="{{ request.path }}" role="form" name="form" data-parsley-validate="">
                    {% csrf_token %}
                    {{ form.latitude }}
                    {{ form.longitude }}
                    {{ form.time_zone }}
                    <div class="row">
                        <div class="col-sm-8">
                            <label>When do you need this job done?</label>
                            {{ form.date }}
                        </div>
                        <div class="col-sm-4">
                            <label>When should we start?</label>
                            {{ form.start_time }}
                        </div>
                        <div class="col-sm-3 hidden">
                            <label>When should we end?</label>
                            {{ form.stop_time }}
                        </div>
                    </div>
                    <hr/>
                    {% if booking.contact_name or booking.contact_phone_number or booking.contact_email_address %}
                        <div class="row">
                            <div class="col-xs-12 booking-info">
                                <h3 class="title">Contact Details</h3>
                                <p>{{ booking.contact_name }}</p>
                                <p>{{ booking.contact_email_address }}</p>
                                <p>{{ booking.contact_phone_number }}</p>
                            </div>
                        </div>
                        <hr/>
                    {% endif %}
                    <div class="row">
                        {% with address=booking.address %}
                            <div class="col-xs-12 booking-info">
                                <h3 class="title">Location</h3>
                                {% if booking.foodbooking %}<p>{{ booking.foodbooking.restaurant_name }}</p>{% endif %}
                                <p>{{ address.formatted_street_address }}</p>
                                <p>{{ address.formatted_locality }}, {{ address.formatted_region }} {{ address.formatted_postal_code }}</p>
                            </div>
                        {% endwith %}
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-12">
                            <h5 class="text-center">
                                By clicking this button, you agree to {{ site_display_name }}'s <a href="{% url 'terms_of_service' %}">Terms of Service</a> and <a href="{% url 'privacy_policy' %}">Privacy Policy</a>.
                            </h5>
                            <button type="submit" class="k-button k-primary">Schedule Your Shoot</button>
                            {% if form.errors %}
                                <div id="error-message" class="text-center error-message-container">
                                    <p></p>
                                    <p class="ng-invalid">There was an error processing your shoot time <span class="fa fa-frown-o"></span></p>
                                    <p class="ng-invalid">It looks like that date is unavailable, also make sure that your appointment is between 8:00AM and 4:00PM.</p>
                                    <p class="ng-invalid">Please contact {{ support_email }} if you have any issues.</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script>
        window.ScheduleBooking = {
            address: "{{ booking.address }}",
            GoogleApiKey: "{{ google_api_key }}",
            {% if invalid_dates %}invalidDates: [{{ invalid_dates }}]{% endif %}
        };
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}"></script>
    <script src="{% static 'js/react/dist/pages/photographers/ScheduleBooking.js' %}" defer></script>
{% endblock %}