{% extends "photographers/base.html" %}
{% load i18n %}
{% load cache %}
{% load staticfiles %}
{% load thumbnail %}
{% load list_utils %}
{% block html_attributes %}ng-app="gouda.photographers.apps.PhotographerApp"{% endblock %}
{#{% block nav_classes %}navbar navbar-fixed-top navbar--search{% endblock %}#}
{% block nav %}
    <nav class="navbar navbar-fixed-top navbar--search" role="navigation">
        <div class="container-fluid messages">
            {% if messages %}
                <ul class="">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand hvr-fade" href="{% url 'index' %}">{{ site_display_name }}</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse-target">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-target">
                <ul class="nav navbar-nav navbar-right nav-link-container">
                    {% if user.is_authenticated %}
                        <li class="nav-profile-link-container"><a id="nav-profile-link" class="hvr-fade"
                                                                  href="{% url 'profiles:booking_list' %}"><img
                                class="img-circle nav-profile-image" src="
                                {% if user.profile.image %}{{ user.profile.image|thumbnail_url:'35x35' }}{% else %}{% static "profiles/images/anonymous_profile.png" %}{% endif %}" />{{ user.first_name }}
                        </a></li>
                        {#                        <li><a id="nav-profile-link" class="hvr-fade" href="#">{{ user.first_name }}</a></li>#}
                        <li><a class="hvr-fade" href="{% url 'profiles:logout' %}">log out</a></li>
                    {% else %}
                        <li><a class="hvr-fade" href="{% url 'profiles:create' %}">sign up</a></li>
                        <li><a class="hvr-fade" href="{% url 'profiles:login' %}?next={% firstof request.path '/' %}">log
                            in</a></li>
                    {% endif %}
                    <li><a id="nav-list-your-pad" class="hvr-fade" href="{% url 'photographers:create_photographer' %}">Become
                        a photographer</a></li>

                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="content" data-spy="scroll" data-target="#navbar-collapse-target" id="photographer-search">
        <section id="banner" class="banner">
            <div class="container-fluid banner__container">
                <video class="banner__container__video" autoplay="autoplay" loop="loop"
                       poster="{% static "photographers/images/poster.jpg" %}">
                    <source src="{% static "photographers/videos/listings.mp4" %}" type="video/mp4">
                    <source src="{% static "photographers/videos/listings.ogg" %}" type="video/ogg">
                    <source src="{% static "photographers/videos/listings.webm" %}" type="video/webm">

                </video>
                <div class="container form-container">
                    <h1 class="banner__container__title">Bulk product <span class="highlight">photography</span> for
                        online businesses.</h1>
                    {#                        <form method="get" action="{% if user.is_authenticated and user.profile.is_active %}{% url "photographers:checkout" %}{% else %}{% url "photographers:create_photographer_request" %}{% endif %}" ng-controller="PhotographerBookingQueryFormController" novalidate name="form" id="search-query-form">#}
                    <form method="post" action="{{ request.path }}" name="form" id="search-query-form"
                          data-parsley-validate="">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-xs-12 col-sm-12r">
                                {{ form.region }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                {{ form.service_type }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                {{ form.date }}
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                {{ form.time_period }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="submit" class="k-primary k-button">Book a Photographer</button>
                            </div>
                        </div>
                    </form>
                    {#                        <div class="row about-button-container">#}
                    {#                            <div class="col-xs-12">#}
                    {#                                <kendo-button type="submit" ng-cloak type="button" class="k-primary about-button"><a href="{% url 'about_us' %}">What is {{ site_display_name }}?</a></kendo-button>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                        <div class="text-center center-block glyphicon glyphicon-menu-down banner__container__down-arrow"></div>#}
                </div>
            </div>
        </section>
        <section style="overflow-x: hidden" class="container photographer-container">
            <h1 class="text-center">
                How {{ site_display_name }} works
            </h1>
            <div class="text-center divider-container">
                <span class="glyphicon glyphicon-stop divider"></span>
                <span class="glyphicon glyphicon-stop divider"></span>
                <span class="glyphicon glyphicon-stop divider"></span>
            </div>
            <div class="row how-it-works-row">
                <div class="col-sm-4 text-center">
                    <div class="col-image-container">
                        <div class="feature-one"></div>
                    </div>
                    <h2 class="col-title">Tell us what you need</h2>
                    <h4 class="col-subtitle">Fill out the form at the top of the page and we will handle finding the
                        best photographer for your needs.</h4>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="col-image-container">
                        <div class="feature-two"></div>
                    </div>
                    <h2 class="col-title">Enjoy the shoot</h2>
                    <h4 class="col-subtitle">Whether it is a property for sale or improving your brand, our expert
                        photographers will take care in getting you the best results.</h4>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="col-image-container">
                        <div class="feature-three"></div>
                    </div>
                    <h2 class="col-title">Rest easy</h2>
                    <h4 class="col-subtitle">Your job is not complete until you are 100% satisfied. That's a
                        guarantee.</h4>
                </div>
            </div>
        </section>
        <section id="blurbs" class="blurbs">
            <div class="overflow-hidden blurb-1">
                <div class="container-fluid blurbs__container blurbs__container--beach-1">
                    <h1 class="container text-center blurbs__container__title">
                        <span class="highlight">Connect</span> with people who live to experience.
                    </h1>
                </div>
            </div>
            <div class="overflow-hidden blurb-2">
                <div class="container-fluid blurbs__container blurbs__container--beach-2">
                    <h1 class="container text-center blurbs__container__title">
                        Be your own boss. Start taking photos <span class="highlight">today</span>.
                    </h1>
                </div>
            </div>
            <div class="overflow-hidden blurb-3">
                <div class="container-fluid blurbs__container blurbs__container--beach-3">
                    <h1 class="container text-center blurbs__container__title">
                        <span class="highlight">Capture</span> those special moments.
                    </h1>
                </div>
            </div>
        </section>
        <section id="join-the-crew" class="join-the-crew container">
            <div class="row">
                <div class="col-sm-6 text-center">
                    <ul class="client-logos">
                        <li>
                            <img class="img-responsive" src="{% static "svg/breather.svg" %}" />
                        </li>
                        <li>
                            <img class="img-responsive" src="{% static "svg/sotheby.svg" %}" />
                        </li>
                        <li>
                            <img class="img-responsive" src="{% static "svg/redfin.svg" %}" />
                        </li>
                        <li>
                            <img class="img-responsive" src="{% static "svg/poshmark.svg" %}" />
                        </li>
                        <li>
                            <img class="img-responsive" src="{% static "svg/cbre.svg" %}" />
                        </li>
                        <li>
                            <img class="img-responsive" src="{% static "svg/rent_like_a_champion.svg" %}" />
                        </li>
                        <li>
                            <img class="img-responsive" src="{% static "svg/postmates.svg" %}" />
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h2 class="regular-font">We’d love to work with you.</h2>
                    <h4 class="">{{ site_display_name }} is a bulk product photography platform that introduces a unique
                        blend of polish and rapidity for for on-demand, marketplace and e-commerce platforms.</h4>
                    <h4 class="text-muted">Make sure your brand is captured in the best way possible. What are you
                        waiting for?</h4>
                    <div>
                        <a href="{% url 'profiles:create' %}">
                            <kendo-button type="submit" ng-cloak class="k-primary">Join now</kendo-button>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $("#id_region").kendoDropDownList();
            $("#id_service_type").kendoDropDownList();
            $("#id_time_period").kendoDropDownList();
            var minDate = moment().add(1, 'day').toDate();
            var datePicker = $("#id_date").kendoDatePicker({
                min: minDate,
                value: minDate
            }).data("kendoDatePicker");
        });
    </script>
{% endblock %}
