{% extends "photographers/base.html" %}
{% load i18n %}
{% load cache %}
{% load staticfiles %}
{% load thumbnail %}
{% load list_utils %}
{% block title %}Approve this booking | {{ site_display_name }}{% endblock %}
{% block content %}
    <section id="content" class="booking-client-approval">
        <div class="container-fluid">
            <div class="card">
                <h1 class="title">Approve this booking</h1>
                <div class="text-center divider-container">
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                    <span class="glyphicon glyphicon-stop divider"></span>
                </div>
                <form method="post" action="{{ request.path }}" role="form" name="form" data-parsley-validate="">
                    {% csrf_token %}
                    {{ form.did_staff_approve }}
                    <div class="row">
                        <div class="col-xs-12 booking-info">
                            <h3 class="title">Client Details</h3>
                            <p>{{ booking.client.full_name }}</p>
                            <p>{{ booking.client.email_address }}</p>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-xs-12 booking-info">
                            <h3 class="title">Order Details</h3>
                            <p>{{ booking.service_type_label }}</p>
                            <p>{{ booking.num_shots }} shots</p>
                            <p>Total: ${{ total_amount|floatformat }}</p>
                            <p>Commission: ${{ service_fee_amount|floatformat }}</p>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        {% with address=booking.address %}
                            <div class="col-xs-12 booking-info">
                                <h3 class="title">Location</h3>
                                {% if booking.foodbooking %}<p>{{ booking.foodbooking.restaurant_name }}</p>{% endif %}
                                <p>{{ address.formatted_street_address }}</p>
                                <p>{{ address.formatted_locality }}, {{ address.formatted_region }} {{ address.formatted_postal_code }}</p>
                            </div>
                        {% endwith %}
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-xs-12 total-cost">
                            <p class="pull-right">${{ total_amount|floatformat }}</p>
                            <p>Total</p>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="k-button k-primary">Submit to client</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}