.ez-form {
  label {
    color: #828282;
  }
  .row {
    padding: 7px 0;
  }
}
.ez-inbox {
  .message-transition-enter {
    opacity: 0.00;
    &.message-transition-enter-active {
      opacity: 1;
      transition: opacity 250ms ease-in;
    }
  }

  .message-transition-leave {
    opacity: 1;
    &.message-transition-leave-active {
      opacity: 0.00;
      transition: opacity 1ms ease-in;
    }
  }

  .message-form {
    .row {
      margin-bottom: 10px;
    }
  }
  .message {
    .body {
      word-wrap: break-word;
    }
    .sender {
      margin-top: 0;
    }
    .col-image {
      position: relative;
      //&:before {
      //  content: "";
      //  display: block;
      //  padding-top: 100%; /* initial ratio of 1:1*/
      //}
      .sender-image {
        position: absolute;
        height: auto;
        width: 50px;
        //width: 100%;
        @include media(screen) {
          width: 36px;
        }
        @include media(desktop) {
          width: 28px;
        }
        @include media(tablet) {
          width: 40px;
        }
        @include media(mobile) {
          height: 23px;
          width: 23px;
        }
        //position: absolute;
        //top: 0;
        //left: 0;
        //right: 0;
        //bottom: 0;
        ////width: 100%;
        ////height: 80px;
        //background-size: cover;
        //background-position: center;
        ////position: relative;
      }
    }
  }
}
.ez-file-upload {
  padding: 20px;
  border: 1px solid #e6e6e6;
  $upload-button-width: 30%;
  .file-name {
    padding: 0 20px;
    width: 95% - $upload-button-width;
    font-size: 150%;
    text-align: left;
    display: inline-block;
    margin-bottom: 0;
    @include media(tablet) {
      width: 100%;
      text-align: center;
    }
  }
  .upload-button {
    padding: 0 10px;
    display: inline-block;
    width: $upload-button-width;
    &:hover, &:focus {
      background-color: white;
      color: $primary-color;
    }
    @include media(tablet) {
      width: 100%;
    }
  }
}

.ez-chips {
  min-height: 200px;
  border: 1px solid #ccc;
  padding: 5px 10px;

  .k-textbox {
    text-indent: 0;
    border: none;
    display: inline-block;
    width: 100%;
    margin-bottom: 0px;
    &:hover, &:focus {
      border: none;
      @include box-shadow(none);
    }
    @include input-placeholder {
      overflow: visible;
    }
  }

  .ez-chip {
    display: inline-block;
    color: #424242;
    background-color: #e0e0e0;
    padding: 0 10px;
    font-size: 18px;
    margin-right: 10px;
    margin-bottom: 10px;
    .text {
      line-height: 50px;
    }
    @include border-radius(16px);
    .fa {
      padding: 0 5px;
      cursor: pointer;
    }
  }

  .ez-chip-transition-enter {
    opacity: 0.01;
    &.ez-chip-transition-enter-active {
      opacity: 1;
      transition: opacity 125ms ease-in;
    }
  }

  .ez-chip-transition-leave {
    opacity: 1;
    &.ez-chip-transition-leave-active {
      opacity: 0.01;
      transition: opacity 75ms ease-in;
    }
  }


}

.image-loader {
  .image-detail-modal {
    .modal-dialog {
      width: 87.5vw;
      min-width: 660px;

      &:hover {
        .modal-body {
          .img-col {
            .chevron-container {
              opacity: 0.75;
            }
          }
        }
      }

      .modal-body {
        padding: 0;
        padding-right: 15px;

        .sidebar-col {
          .rectangle-spinner {
            height: 25px;
          }
          hr {
            margin-top: 5px;
            margin-bottom: 5px;
          }
          textarea {
            padding: .325em;
            font-size: 14px;
          }
          @include col() {
            padding-top: 0;
            padding-bottom: 0;
          }
          .comment-form {
            .k-primary {
              height: 25px;
              font-size: 100%;
              padding: 2px;
              margin-top: 5px;
            }
          }
          .toolbar {
            .link {
              margin-right: 15px;
              cursor: pointer;
              color: rgb(100, 100, 100);
              .icon {
                &.green {
                  color: #00AF00;
                }
                &.red {
                  color: #FF2400;
                }
              }
            }
          }
          .image-name {
            font-family: $regular-font;
            font-size: 1.25em;
            word-wrap: break-word;
          }
        }

        .img-col {
          position: relative;
          background-color: black;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          padding-left: 0;
          padding-right: 0;
          height: 75vh;
          min-height: 660px;

          .chevron-container {
            position: absolute;
            font-size: 25px;
            color: white;
            opacity: 0;
            width: 100%;
            top: calc(50% - 12px);
            padding-left: 15px;
            padding-right: 15px;
            @include transition-property(opacity);
            @include transition-duration(250ms);

            .fa {
              cursor: pointer;
            }
          }

          .index-container {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            color: white;
            padding-bottom: 15px;
          }

          .img-responsive {
            display: inline-block;
            vertical-align: middle;
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
    }

  }

  .pagination-container {
    margin: 0;
  }

  @include keyframes(spinner-animation) {
    0.00%, 100% {
      @include transform(scale(0.0));
    }
    50% {
      @include transform(scale(1.0));
    }
  }

  .image-transition-enter {
    opacity: 0.01;
    &.image-transition-enter-active {
      opacity: 1;
      transition: opacity 500ms ease-in;
    }
  }

  .image-transition-leave {
    opacity: 1;
    &.image-transition-leave-active {
      opacity: 0.01;
      transition: opacity 250ms ease-in;
    }
  }

  .album-select {
    @include col() {
      &:first-child {
        padding-left: 15px;
      }
      &:last-child {
        padding-right: 15px;
      }
      padding-left: 5px;
      padding-right: 5px;
    }
    @include media(desktop) {
      @include col() {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    //.create-button, .delete-button {
    //  display: inline-block;
    //  @include media(desktop) {
    //    margin-top: 10px;
    //  }
    //}
    //$create-button-width: 80%;
    //.create-button {
    //  width: $create-button-width;
    //  margin-right: 5px;
    //}
    //.delete-button {
    //  width: 100 - $create-button-width - 5%;
    //  margin-left: 5px;
    //}
  }

  .rectangle-spinner {
    margin: 0;
    width: auto;
    text-align: right;

    div {
      //background-color: #C4C4C4;
      height: 100%;

      width: 6px;
      //display: inline-block;
      //@include animation(rectangle-spinner-animation 1.2s infinite ease-in-out);
      //
      //&.rect2 {
      //  @include animation-delay(-1.1s);
      //}
      //
      //&.rect3 {
      //  @include animation-delay(-1.0s);
      //}
      //
      //&.rect4 {
      //  @include animation-delay(-0.9s);
      //}
      //
      //&.rect5 {
      //  @include animation-delay(-0.8s);
      //}

    }
  }

  .row {
    &.images {
      min-height: 750px;
      .image-col {
        margin: 15px 0;
        overflow: hidden;
        .comment {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          padding: 5px;
          background-color: rgba(0, 0, 0, 0.5);
          textarea {
            width: 100%;
            height: 75%;
            color: white;
            margin-bottom: 5px;
            background-color: transparent;
          }
          .submit-button {
            height: auto;
          }
        }
        .toolbar {
          width: 100%;
          height: 100%;
          color: white;
          background-color: transparent;
          //opacity: 0.0;
          @include transition-property(background-color);
          @include transition-duration(250ms);
          &:hover {
            background-color: rgba(0, 0, 0, 0.625);
            .icon-container {
              opacity: 1;
            }
          }

          .icon-container {
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            position: relative;
            opacity: 0;

            .icon {
              font-size: 175%;
              margin: 0 10px;
              color: white;
              cursor: pointer;
              &:hover {
                color: white;
              }
              &.green {
                color: greenyellow;
              }
              &.red {
                color: #ff6f62;
              }
            }
          }
        }
        .metadata {
          p {
            margin: 0 0;
          }
          .name {
            word-wrap: break-word;
          }
          min-height: 7.5em;
        }
        .image {
          height: 200px;
          background-size: cover;
          background-position: center center;
          position: relative;
          @include transition-property(opacity);
          @include transition-duration(500ms);
          @include media(desktop) {
            height: 125px;
          }
        }
        .spinner {
          height: 262.5px;
          width: 100%;
          border: 5px solid #E7E7E7;
          position: relative;

          %circle {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-color: #D6D6D6;
            opacity: 0.6;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -75px;
            margin-left: -75px;
            @include animation(spinner-animation 2.0s infinite ease-in-out);
          }

          .circle-1 {
            @extend %circle;
          }

          .circle-2 {
            @extend %circle;
            @include animation-delay(-1.0s);
          }

        }
      }

    }
  }

}

%image-container {
  .image {
    width: 30.75%;
    display: inline-block;
    margin-right: 3%;
    margin-bottom: 3%;

    @include media(tablet) {
      width: 48%;
      &:nth-child(n) {
        margin-right: 2.5%;
      }
      &:nth-child(2n+2) {
        margin-right: 0;
      }
    }

    @include media(mobile) {
      width: 100%;
      &:nth-child(n) {
        margin-right: 0;
      }
    }

    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }

}

%card-container {
  margin-top: 45px;
  width: 62.5%;
  padding: 30px;
  @include media(desktop) {
    width: 100%;
  }
  @include media(tablet) {
    padding-top: 0px;
  }
  @include media(mobile) {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 22px;
  }
}

%card {
  margin-bottom: 30px;
  border: 2px solid #E7E7E7;
  //@include card-box-shadow();
  background-color: white;
  padding: 32px 32px;
  @include media(mobile) {
    padding-left: 15px;
    padding-right: 15px;
  }
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top-color: #e2e2e2;
  }
}

%titled-card {
  @extend %card;
  padding: 0;

  //.title {
  //  color: $dark-gray;
  //  font-size: 225%;
  //  background-color: white;
  //  padding: 32px;
  //  padding-bottom: 16px;
  //  margin: 0;
  //  font-family: $light-font;
  //  text-transform: capitalize;
  //}

  .header {
    padding: 32px;
    padding-bottom: 8px;
    font-size: 100%;
    .title, .subtitle {
      padding: 0;
      font-family: $light-font;
      text-transform: capitalize;
    }
    .title {
      //font-size: 225%;
      margin-top: 0;
    }
    .subtitle {
      //font-size: 150%;
      margin-bottom: 0;
    }
  }

  .content {
    padding: 32px;
    padding-top: 8px;
    @include media(tablet) {
      padding: 15px;
    }
  }
}

%content {
  //background-color: $secondary-background-color;
  background-color: white;
  min-height: 125vh;
}

%form-content {
  @extend %content;
  .card {
    @extend %card;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

    label {
      color: $muted-text-color;
    }

    .row {
      @include col() {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }

  .form-subtitle {
    text-align: center;
    line-height: 125%;
  }
  .form-title {
    font-family: $regular-font;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  @include media(tablet) {
    width: 100%;
    .form-title {
      font-size: 200%;
    }
  }

  @include media(mobile) {
    .form-title {
      font-size: 175%;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    .form-subtitle {
      font-size: 115%;
    }
  }

  .divider-container {
    padding: 15px 0 15px 0;
    .divider {
      font-size: 100%;
    }
  }

  h1 {
    &.title {
      text-align: center;
      margin-bottom: 0;
    }
  }
}

.checkbox-label {
  font-size: 120%;
  margin-left: 10px;
}

.rectangle-spinner {
  @include keyframes(rectangle-spinner-animation) {
    0.00%, 40%, 100% {
      @include transform(scaleY(0.4));
    }
    20%, 80% {
      @include transform(scaleY(1.0));
    }
  }

  margin: 15px auto 0px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;

  div {
    background-color: #C4C4C4;
    height: 100%;

    width: 6px;
    display: inline-block;
    @include animation(rectangle-spinner-animation 1.2s infinite ease-in-out);

    &.rect2 {
      @include animation-delay(-1.1s);
    }

    &.rect3 {
      @include animation-delay(-1.0s);
    }

    &.rect4 {
      @include animation-delay(-0.9s);
    }

    &.rect5 {
      @include animation-delay(-0.8s);
    }

  }
}

.ez-invalid {
  color: rgba(175, 0, 0, 1.0);
}

.table {
  th {
    a {
      color: rgba(65, 65, 65, 1.0);
      &:hover, &:focus {
        color: rgba(65, 65, 65, 1.0);
        text-decoration: none;
      }
    }
  }
}