$light-font: 'Monsterrat-Light', sans-serif;
$thin-font: 'Monsterrat-Hairline', sans-serif;
$bold-font: 'Monsterrat-Bold', bold;
$regular-font: 'Monsterrat-Regular', sans-serif;
//$brand-font: 'MonsterratAlternates-Regular', sans-serif;
$brand-font: $regular-font;
