@mixin media($type) {
  @if $type == mobile {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }
  @else if $type == tablet {
    @media only screen and (max-width:767px) {
      @content;
    }
  }
  @else if $type == desktop {
    @media only screen and (max-width:992px) {
      @content;
    }
  }
  @else if $type == screen {
    @media only screen and (max-width:1200px) {
      @content;
    }
  }
  @else {
    @media only screen and (max-width:$type) {
      @content;
    }
  }
}

@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin card-box-shadow() {
  @include box-shadow(0px 2px 4px rgba(0,0,0,0.3));
}

@mixin swell-on-hover-animation($width, $height, $scale-factor: 1.1) {
  width: $width;
  height: $height;
  @include transition-property(width, height);
  @include transition-duration(0.125s);
  &:hover, &:focus, &:active {
    width: $width * $scale-factor;
    height: $height * $scale-factor;
  }
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  @include transform (translateY(-50%));
}

@mixin center-block($width) {
  width: $width;
  margin-left: (100% - $width) / 2;
  margin-right: (100% - $width) / 2;
}

@mixin kendo-button($background-color, $border-color, $color, $darken-amount: 7.5%) {
  background-color: $background-color;
  border-color: $border-color;
  color: $color;
  @include transition-property(background-color, color, border-color);
  @include transition-duration(0.25s);
  &:hover, &:focus, &:active, &:active:hover {
    border-color: darken($background-color, 15%);
    background-color: darken($border-color, 15%);
    color: $color;
  }
}

@mixin col-lg() {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    @content;
  }
}

@mixin col-md() {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    @content;
  }
}

@mixin col-sm() {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    @content;
  }
}

@mixin col-xs() {
  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12 {
    @content;
  }
}

@mixin col() {
  @include col-lg() {
    @content;
  }
  @include col-md() {
    @content;
  }
  @include col-sm() {
    @content;
  }
  @include col-xs() {
    @content;
  }
}