@import "colors";
@import "mixins";
@import "compass/css3";
@import "compass/css3/user-interface";

@include font-face("MonsterratAlternates-Regular", font-files(
                "montserrat-alternates/MontserratAlternates-Regular.eot",
                "montserrat-alternates/MontserratAlternates-Regular.otf",
                "montserrat-alternates/MontserratAlternates-Regular.svg",
                "montserrat-alternates/MontserratAlternates-Regular.ttf",
                "montserrat-alternates/MontserratAlternates-Regular.woff"
));
@include font-face("MonsterratAlternates-Bold", font-files("montserrat-alternates/MontserratAlternates-Bold.eot", "montserrat-alternates/MontserratAlternates-Bold.otf", "montserrat-alternates/MontserratAlternates-Bold.svg", "montserrat-alternates/MontserratAlternates-Bold.ttf", "montserrat-alternates/MontserratAlternates-Bold.woff"));

@include font-face("Monsterrat-Regular", font-files(
                "montserrat/Montserrat-Regular.eot",
                "montserrat/Montserrat-Regular.otf",
                "montserrat/Montserrat-Regular.svg",
                "montserrat/Montserrat-Regular.ttf",
                "montserrat/Montserrat-Regular.woff"
));

@include font-face("Monsterrat-Black", font-files(
                "montserrat/Montserrat-Black.eot",
                "montserrat/Montserrat-Black.otf",
                "montserrat/Montserrat-Black.svg",
                "montserrat/Montserrat-Black.ttf",
                "montserrat/Montserrat-Black.woff"
));

@include font-face("Monsterrat-Bold", font-files(
                "montserrat/Montserrat-Bold.eot",
                "montserrat/Montserrat-Bold.otf",
                "montserrat/Montserrat-Bold.svg",
                "montserrat/Montserrat-Bold.ttf",
                "montserrat/Montserrat-Bold.woff"
));

@include font-face("Monsterrat-Hairline", font-files(
                "montserrat/Montserrat-Hairline.eot",
                "montserrat/Montserrat-Hairline.otf",
                "montserrat/Montserrat-Hairline.svg",
                "montserrat/Montserrat-Hairline.ttf",
                "montserrat/Montserrat-Hairline.woff"
));

@include font-face("Monsterrat-Light", font-files(
                "montserrat/Montserrat-Light.eot",
                "montserrat/Montserrat-Light.otf",
                "montserrat/Montserrat-Light.svg",
                "montserrat/Montserrat-Light.ttf",
                "montserrat/Montserrat-Light.woff"
));
@import "fonts";

html, body {
  color: $dark-gray;
  font-family: $light-font;
}

a {
  color: $primary-color;
  &:hover, &:focus, &:active {
    color: darken($primary-color, 15%);
  }
}

body {
  height: auto;
}

#content {
  //background-color: $secondary-background-color;
  background-color: white;
}

input, textarea {
  &.ng-invalid.ng-dirty {
    border-color: rgba(255, 0, 0, 0.125);
    background-color: rgba(255, 0, 0, 0.07);
  }
}

p, h4 {
  &.ng-invalid {
    color: rgba(175, 0, 0, 1.0);
  }
  &.ng-valid {
    color: rgba(0, 175, 0, 1.0);
  }
}

.rating-star {
  color: #ffb400;
}

.mj-rating-star {
  color: #ffb400;
  &.empty {
    color: rgb(200, 200, 200);
  }
}

.navbar--search {
  background-color: transparent;
  padding: 0% 0 0% 0;
  //position: absolute;
  //top: 0;
  //width: 100%;

  a, ul li a {
    //line-height: 37.5px;
    &:focus {
      color: $primary-color;
    }
    @include media(tablet) {
      color: white;
      &:focus, &:hover {
        color: $primary-color;
        background-color: transparent;
      }
    }
  }

  @include media(tablet) {
    padding: 0 0;
    background-color: $dark-gray;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
  }
}

.navbar-brand {
  font-family: $brand-font;
  color: #ffffff;
  font-size: 250%;
  text-transform: uppercase;
  &:hover, &:focus {
    background-color: transparent;
    color: #ffffff;
  }

  @include media(tablet) {
    font-size: 200%;
  }
}

.nav-link-container {
  li {
    a {
      font-family: $light-font;
      margin: 0px 12px;
      text-transform: uppercase;
      color: #ffffff;
      &:hover {
        background-color: transparent;
        color: $primary-color;
        @include media(tablet) {
          color: darken(#ffffff, 15%);
        }
      }
      &.active {
        color: $primary-color;
      }
      &:focus {
        color: inherit;
        background-color: transparent;
      }
    }
  }
}

.profile-image-container {
  border: 7px solid $secondary-background-color;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  @include border-radius(9000px);
  .profile-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    border: none;
    @include card-box-shadow();
    @include border-radius(9000px);
  }
  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba($secondary-background-color, 0.25);
    z-index: 5;
    @include border-radius(9000px);
  }
}

$profile-image-size: 35px;
$profile-image-margin: 15px;
.nav-profile-link-container {
  position: relative;
  overflow: visible;
}

.icon-bar {
  background-color: white;
}

.nav-profile-image {
  height: $profile-image-size;
  width: $profile-image-size;
  margin: 0px 10px;
  border: 2px solid white;
  position: absolute;
  top: 25px - $profile-image-size/2;
  left: -$profile-image-margin * 0.375;

  @include media(tablet) {
    display: none;
  }
}

#nav-list-your-pad {
  border: 1px solid $primary-color;
  color: $primary-color;
  background-color: transparent;
  margin-top: 4px;
  padding-top: 10px;
  padding-bottom: 10px;

  @include media(tablet) {
    border: none;
  }
  &:hover, &:focus {
    background-color: $primary-color;
    color: #ffffff;
    @include media(tablet) {
      color: $primary-color;
      background-color: transparent;
    }
  }
}

#nav-profile-link {
  text-transform: capitalize;
  padding-left: $profile-image-size + $profile-image-margin;
  @include media(tablet) {
    padding-left: 15px;
  }
}

#nav-link--btn {
  border: 1px solid $primary-color;
  color: $primary-color;
  background-color: transparent;
  @include media(tablet) {
    border: none;
    color: #ffffff;
  }
  &:hover, &:focus {
    background-color: $primary-color;
    color: #ffffff;
    @include media(tablet) {
      background-color: transparent;
      color: darken(#ffffff, 15%);
    }
  }
}

.footer {
  padding: 2% 0 2% 0;
  background-color: #000000;
  color: #ffffff;
  &__copyright {
    font-family: $light-font;
    padding: 10px 0;
    //padding-top: 5px;
  }

  &__icon-container {
    padding: 5px 0;
  }

  &__icon {
    padding: 0 5px 0 5px;
    color: #ffffff;
    &:hover , &:focus{
      background-color: transparent;
      color: white;
      text-decoration: none;
    }
  }

  &__icon--mail {
    font-size: 1.58em;
  }

  .link-container {
    padding: 5px 0;
    a {
      color: white;
      text-transform: uppercase;
      &:hover, &:focus {
        color: white;
      }
    }
    .fa-circle {
      font-size: 0.5em;
      padding: 0 15px;
      position: relative;
      top: -2px;
    }
  }
}

.input-group--addon {
  position: relative;

  .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
}

.left-addon {
  .fa {
    left: 0px;
  }
  .form-control {
    padding-left: 50px;
  }
}

.right-addon {
  .fa {
    right: 0px;
  }
  input {
    padding-right: 50px;
  }
}

.form-control:focus, .selectize-input.focus, .btn:focus {
  border-color: $primary-color;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(199, 90, 105, 0.6);
}


.fancy-btn {
  font-family: $light-font;
  text-transform: uppercase;
  padding: 10px;
  @include border-radius(0px);
  &:hover, &:focus {
    border-color: $primary-color;
  }
}

.fancy-btn--white {
  @extend .fancy-btn;
  color: $primary-color;
  background-color: #ffffff;
  border-color: $primary-color;

  &:hover, &:focus {
    background-color: $primary-color;
    color: #ffffff;
  }
}

.spinner {
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;

  div {
    background-color: $dark-gray;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
  }

  .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
}

//.navbar {
//  .navbar-brand {
//    font-size
//  }
//}

.navbar--default {
  margin-bottom: 0;
  @include border-radius(0);
  @include box-shadow(0 0 2px rgba(0,0,0,.14), 0 2px 4px rgba(0,0,0,.28));
  background-color: white;
  .icon-bar {
    background-color: $dark-gray;
  }
  a, ul li a {
    color: $dark-gray;
    &:focus, &:hover {
      color: $primary-color;
    }
    @include media(tablet) {
      &:focus, &:hover {
        background-color: transparent;
      }
    }
  }
}

//.navbar--default {
//  margin-bottom: 0;
//  @include border-radius(0);
//  @include box-shadow(0 0 2px rgba(0,0,0,.14), 0 2px 4px rgba(0,0,0,.28));
//  background-color: $dark-gray;
//  .icon-bar {
//    background-color: white;
//  }
//  a, ul li a {
//    color: white;
//    &:focus, &:hover {
//      color: $primary-color;
//    }
//    @include media(tablet) {
//      &:focus, &:hover {
//        background-color: transparent;
//      }
//    }
//  }
//}

@include keyframes(stretchdelay) {
  0%, 40%, 100% {
    @include transform(scaleY(0.4));
  }
  20% {
    @include transform(scaleY(1.0));
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.pagination {
  @include box-shadow(0px 2px 2px 1px rgba(0,0,0,0.2));
  font-family: $light-font;
  @include border-radius(0px);
  .previous {
    border-right: 2px solid $secondary-background-color;
  }
  .next {
    border-left: 1px solid $secondary-background-color;
  }
  li {
    &:first-child, &:last-child {
      a {
        @include border-radius(0px);
      }
    }
    a {
      font-size: 100%;
      padding: 15px;
      color: $primary-color;
      border: none;
      @include border-radius(0px);
      &:hover, &:focus {
        color: $primary-color;
        background-color: #f2f2f2;
      }
      &.fa-ellipsis-h {
        pointer-events: none;
        cursor: default;
      }
      &.selected {
        color: white;
        background-color: darken($primary-color, 15%);
      }
    }
  }
}


// Kendo widgets...
$k-font-size: 18px;
%textbox {
  color: $medium-gray;
  font-size: $k-font-size;
  font-family: $light-font;
  width: 100%;
  height: 50px;
  background-color: white;
  border: 1px solid #ccc;

  &.ng-invalid.ng-dirty {
    border-color: rgba(255, 0, 0, 0.125);
    background-color: rgba(255, 0, 0, 0.07);
  }

  &.parsley-error {
    border-color: rgba(255, 0, 0, 0.125);
    background-color: rgba(255, 0, 0, 0.07);
  }

  &:hover, &:focus {
    border-color: #e6e6e6;
    //////  margin-top: -2px;
    //////  margin-left: 2px;
    width: 100%;
    //margin-left: 2px;
    //@include box-shadow(none);
    @include box-shadow(0px 2px 8px 1px rgba(0,0,0,0.3));

    &.parsley-error {
      border-color: rgba(255, 0, 0, 0.125);
      background-color: rgba(255, 0, 0, 0.07);
    }
  }
}

input, textarea {
  &.k-textbox {
    @extend %textbox;
  }
}

.k-textbox > input, .k-input[type="text"], .k-input[type="number"], .k-textbox, .k-picker-wrap .k-input, .k-button {
  @extend %textbox;
}

.k-picker-wrap .k-input {
  height: 43px;
  &:hover, &:focus {
    border-color: #e6e6e6;
    //////  margin-top: -2px;
    //////  margin-left: 2px;
    width: 100%;
    //margin-left: 2px;
    //@include box-shadow(none);
    @include box-shadow(none);
  }
}

.k-popup .k-list .k-item {
  color: $medium-gray;
  font-family: $light-font;
  width: 100%;
  height: 50px;
}

.k-ff input.k-textbox {
  height: 50px;
}

textarea {
  &.k-textbox {
    height: 200px;
    padding: 0.5em 1em;
  }
}

.k-dropdown {
  color: $medium-gray;
  font-size: $k-font-size;
  font-family: $light-font;
  width: 100%;
  height: 50px;
  //background-color: transparent;

  .k-dropdown-wrap {
    border: 1px solid #ccc;
    &.k-state-hover, &.k-state-focused {
      border: none;
      margin-top: -2px;
      @include box-shadow(0px 2px 8px 1px rgba(0,0,0,0.3));
    }
    height: 100%;
    //background-color: transparent;
    .k-input {
      margin-top: 4px;
    }
    .k-select {
      .k-icon {
        margin-top: 17px;
      }
    }
  }
}

.k-list {
  .k-state-selected {
    color: $primary-color;
  }
}

.k-list > .k-state-selected.k-state-focused {
  color: $primary-color;
}

.k-datepicker, .k-timepicker {
  width: 100%;
  //color: $medium-gray;
  //font-size: 125%;
  //font-family: $light-font;
  margin-top: 0;
  &.ng-invalid {
    .k-picker-wrap {
      border-color: red;
      border-bottom-width: 2px;
      &.k-state-hover, &.k-state-focused {
        margin-top: -2px;
        border: 1px solid red;
        border-bottom-width: 2px;
        @include box-shadow(0px 2px 8px 1px rgba(0,0,0,0.3));
      }
    }
  }
  .k-picker-wrap {
    border: 1px solid #ccc;
    height: 50px;
    &.k-state-hover, &.k-state-focused {
      border: none;
      margin-top: -2px;
      @include box-shadow(0px 2px 8px 1px rgba(0,0,0,0.3));
    }
    .k-input {
      color: $medium-gray;
      font-size: 125%;
      font-family: $light-font;
    }
    .k-select {
      border-left-width: 0px;
      .k-i-calendar, .k-i-clock {
        margin-top: 16px;
      }
    }

  }
}

.k-state-disabled .k-link {
  background-color: lightgrey;
  @include border-radius(0);
}

//.k-timepicker {
//  .k-picker-wrap {
//    .k-select {
//
//    }
//  }
//  .k-i-clock {
//    margin-top: 16px;
//  }
//}

.k-nav-prev, .k-nav-next {
  //margin-top: 10px;
}

.k-link.k-nav-next.k-state-hover,
.k-link.k-nav-prev.k-state-hover{
  //background-color: transparent;
}

.k-nav-next, .k-nav-prev {
  &.k-state-hover {
    background-color: yellow;
    background: none;
  }
  &:hover {
    background-color: yellow;
    background: none;
  }
  .k-icon {
    margin-top: 10px;
    &:hover {
      color: yellow;
    }
  }
}

//.k-widget {
//  .k-footer {
//    .k-link {
//      color: $primary-color;
//    }
//  }
//  .k-header {
//    background-color: $primary-color;
//    .k-link {
//      &:hover {
//        background-color: darken($primary-color, 15%);
//      }
//    }
//  }
//}

//.k-calendar td.k-state-selected {
//  background-color: $primary-color;
//}

.k-slider-wrap {
  .k-slider-track {
    .k-slider-selection {
      background-color: $primary-color;
    }
    .k-draghandle {
      background-color: $primary-color;
      border-color: $primary-color;
      @include transition-property(width, height, top);
      @include transition-duration(0.125s);
      &:hover, &:focus {
        //outline: 0;
        outline-color: darken($primary-color, 15%);
        color: $primary-color;
        @include box-shadow(0 0 0 8px rgba($primary-color, 0.3));
      }

    }
  }
}

.k-primary {
  @include kendo-button($primary-color, $primary-color, white);

  &.green {
    @include kendo-button(#00AF00, #00AF00, white);
  }

  &.blue {
    @include kendo-button(#0000AF, #0000AF, white);
  }

  &.red {
    @include kendo-button(#FF2400, #FF2400, white);
  }

  &.orange {
    @include kendo-button(#ffc645, #ffc645, white);
  }

  &.transparent {
    @include kendo-button(rgba(0, 0, 0, 0), white, white);
      &:hover, &:focus {
        //outline: 0;
        background-color: rgba(0, 0, 0, 0);
        border-color: white;
      }
  }

  &.white {
    @include kendo-button(rgba(0, 0, 0, 0), #D3D3D3, $dark-gray);
      &:hover, &:focus {
        //outline: 0;
        background-color: rgba(0, 0, 0, 0);
        border-color: white;
      }
  }
}

.k-primary-inverted {
  @extend .k-primary;
  background-color: white;
  border-color: $primary-color;
  color: $primary-color;
  &:hover, &:focus, &:active, &:active:hover {
    border-color: $primary-color;
    background-color: $primary-color;
    color: white;
  }
}

.k-secondary {
  @extend .k-primary-inverted;
  &:hover, &:focus, &:active, &:active:hover {
    border-color: darken($primary-color, 15%);
    background-color: white;
    color: darken($primary-color, 15%);
  }

  &.k-state-disabled {
    background-color: #eaeaea;
    &:hover, &:focus, &:active, &:active:hover {
      background-color: #eaeaea;
      color: #999;
    }
  }
}

.k-facebook {
  @include kendo-button($facebook-blue, $facebook-blue, white);
}

.k-button {
  height: 50px;
  width: 100%;
  font-size: 125%;
}

.angular-google-map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.angular-google-map {
  width: 100%;
  height: 100%;
}

.bold-font {
  font-family: $bold-font;
}

.regular-font {
  font-family: $regular-font;
}

.light-font {
  font-family: $light-font;
}

.text-muted {
  color: $muted-text-color;
}

.text-muted-accent {
  color: $muted-accent-text-color;
}

md-checkbox.md-default-theme.md-checked .md-icon {
  background-color: rgba($primary-color, 0.87);
  color: white;
}

md-tooltip {
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.input-addon {
  position: relative;
  .input-prefix,
  .input-suffix {
    text-align: center;
    width: 50px;
    color: $medium-gray;
    background-color: #e2e2e2;
    border: 1px solid #ccc;
    font-size: 1.5em;
    padding: 9px;
    top: 0;
    position: absolute;
    z-index: 2;
  }

  .input-prefix {
    left: 0;
    padding-top: 13.5px;
    padding-bottom: 13.5px;
  }

  .input-suffix {
    right: 0;
  }

  input {
    padding-left: 42px;
  }
}

.input-container {
  .k-dropdown {
    &:hover, &:focus {
      position: relative;
      left: 2px;
      width: 99.5%;
    }
  }
  overflow: visible;
  label {
    font-size: 112.5%;
    color: $muted-text-color;
    margin-bottom: 10px;
  }
  margin-bottom: 5%;
}

.mj-dropzone, #dropzone {
  display: block;

  .title {
    width: 100%;
    margin-bottom: 30px;
    background-color: transparent;
    font-family: $light-font;
  }

  .dropzone-previews {
    min-height: 750px;
    padding: 3%;
    background-color: #ededed;
  }

  .dz-image-preview {
    width: 30.75%;
    display: inline-block;
    position: relative;
    margin-right: 3%;
    margin-bottom: 3%;

    @include media(tablet) {
      width: 48%;
      &:nth-child(n) {
        margin-right: 2.5%;
      }
      &:nth-child(2n+2) {
        margin-right: 0;
      }
    }

    @include media(mobile) {
      width: 100%;
      &:nth-child(n) {
        margin-right: 0;
      }
    }

    &:nth-child(3n+3) {
      margin-right: 0;
    }

    &.ng-invalid {
      .dz-error {
        opacity: 1.0;
      }
    }

    .dz-error {
      position: absolute;
      display: table;
      opacity: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(128, 0, 0, 0.75);
      color: white;
      z-index: 2;
      .title {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        font-size: 112.5%;
      }
    }

    .dz-details {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;

      .dz-remove {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        color: white;
        background-color: black;
        opacity: 0.5;
        font-size: 150%;
        cursor: pointer;
        z-index: 3;

        @include media(tablet) {
          padding: 5px;
        }
      }
    }

    &:after {
      padding-top: 100%;
      display: block;
      content: '';
    }

  }
}

md-progress-circular.md-default-theme .md-inner .md-right .md-half-circle {
  border-right-color: $primary-color;
  border-top-color: $primary-color;
}

md-progress-circular.md-default-theme .md-inner .md-left .md-half-circle {
  border-left-color: $primary-color;
  border-top-color: $primary-color;
}

md-progress-circular.md-default-theme .md-inner .md-gap {
  border-top-color: $primary-color;
  border-bottom-color: $primary-color;
}

.progress-circular-container {
  width: 100%;
  md-progress-circular {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.invisible {
  visibility: hidden;
}

.gmap-marker-label {
  position: relative;
  .text {
    sup {
      top: -.35em;
    }
    font-family: $regular-font;
    color: white;
    font-size: 140%;
    background-color: $dark-gray;
    padding: 2px 4px;
    text-align: center;
    @include border-radius(3px);
    @include card-box-shadow;
  }
  .triangle {
      position: static;
      margin-left: auto;
      margin-right: auto;
      width: 7px;
      height: 7px;
      //left: 40%;
      //top: 90%;
      border: 7px solid;
      border-color: $dark-gray transparent transparent transparent;
  }
}

.kendo-input-addon {
  position: relative;
  top: 1px;
  left: -20px;
  font-size: 1.4em;
  margin-right: -10px;
}

.screen-lg {
  display: inherit;
}

.screen-md {
  @include media(770) {
    display: none;
  }
}

.screen-sm {
  @include media(tablet) {
    display: none;
  }
}

.screen-xs {
  display: none;
  @include media(mobile) {
    display: inherit;
  }
}

.screen-sm--only {
  @extend .screen-sm;
  display: none;
  @include media(769) {
    display: inherit;
  }
}

.screen-xs--only {
  @extend .screen-xs;
}

.mj-modal {
  .close {
    font-size: 1.375em;
  }
  .modal-content {
    @include border-radius(0);
  }
  .row {
    padding-top: 15px;
    &:first-child {
      padding-top: 0;
    }
  }
}

.message-modal {
  @extend .mj-modal;
}

@import "pages/legal";
@import "pages/photographers/screen";
@import "pages/profiles/screen";
