// Pickadate.js
//
$pickadate-primary-color: $primary-color;
$pickadate-light-color: lighten($pickadate-primary-color, 20%);
$pickadate-dark-color: darken($pickadate-primary-color, 20%);

.picker__input.picker__input--active {
  border-color: $pickadate-primary-color;
}

.picker__select--month:focus,
.picker__select--year:focus {
  border-color: $pickadate-primary-color;
}

.picker__nav--prev:hover,
.picker__nav--next:hover {
  background: $pickadate-light-color;
}

.picker__day--today:before {
  content: " ";
  position: absolute;
  top: 2px;
  right: 2px;
  width: 0;
  height: 0;
  border-top: 0.5em solid $pickadate-dark-color;
  border-left: .5em solid transparent;
}

.picker__day--infocus:hover,
.picker__day--outfocus:hover {
  background: $pickadate-light-color;
}

.picker__day--highlighted {
  border-color: $pickadate-primary-color;
}

.picker__day--highlighted:hover,
.picker--focused .picker__day--highlighted {
  background: $pickadate-light-color;
}

.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
  background: $pickadate-primary-color
}

.picker__button--today:hover,
.picker__button--clear:hover,
.picker__button--close:hover {
  background: $pickadate-light-color;
  border-bottom-color: $pickadate-light-color;
}

.picker__button--today:focus,
.picker__button--clear:focus,
.picker__button--close:focus {
  background: $pickadate-light-color;
  border-color: $pickadate-primary-color;
}

.picker__button--today:before {
  border-top: 0.66em solid $pickadate-dark-color;
}
